<extend name="tpl/base_book"/>

<block name="css">
<link rel="stylesheet" href="__CSS__/main.css">
</block>
<block name="body">
<style>
.article-profile-bd p{line-height: 1.8;}
</style>
<div class="main" itemscope="" itemtype="http://schema.org/Book" itemprop="mainEntity">
  <article class="col col9 app-article left">
    <div class="article-profile-section article-profile-primary ">
      <div class="cover shadow-cover" style="width:180px;height:216px;">
        
              <if condition="(substr($book['img'],0,5) eq 'https')">
              <img width="110px" height="164px" itemprop="image" alt="" src="__IMG__/22325617.jpg" tmpsrc="{$book['img']}">
              <else/>
              <img width="110px" height="164px" itemprop="image" alt="" src="__IMG__/22325617.jpg" tmpsrc="__ROOT__/{$book['img']}">
              </if></div>
      <div class="article-profile-bd">
        <h1 itemprop="name" class="article-title">{$book['book_name']}</h1>
        <div class="article-meta">
          <p class="author">
            <span class="label">作者</span>
            <span class="labeled-text">
              <a class="author-item" href="javascript:;">{$book['author']}</a></span>
          </p>
          <p class="category">
            <span class="label">类别</span>
            <span class="labeled-text">
              <span itemprop="genre">
              	<?php 
              		$type  = R('para/attr_book_type',array($book['book_type']));
              		echo $type;
              	?>
              </span></span>
          </p>
          <if condition="$meeting['title'] eq null">
          	<p><font color=red>尚未开展阅读会</font></p>
          	<else/>
       		  <p class="author">
	            <span class="label">阅读会</span>
	            <span class="labeled-text">
	              <a class="author-item" href="javascript:;">{$meeting['title']}</a></span>
	          </p>
          	  <p class="author">
	            <span class="label">开展时间</span>
	            <span class="labeled-text">
	              <a class="author-item" href="javascript:;">{$meeting['create_date']|date='Y-m-d',###}</a></span>
	          </p>
	          <p class="author">
	            <span class="label">应到人数</span>
	            <span class="labeled-text">
	              <a class="author-item" href="javascript:;">{$meeting['ying']}</a></span>
	          </p>
	          <p class="author">
	            <span class="label">实到人数</span>
	            <span class="labeled-text">
	              <a class="author-item" href="javascript:;">{$meeting['shi']}</a></span>
	          </p>
          </if>
        </div>
        <div class="rating rating-light hide">
          <span title="4.6" class="stars-context stars-45">
            <span class="stars-active"></span>
          </span>
          <span class="score">9.2</span>
          <span class="amount">|
            <a href="/ebook/21856869/ratings">585人评价</a></span>
        </div>
        <div class="profile-reading-actions">
          <a href="{:U('index/xinde?book_id='.$book['id'])}"  class="btn btn-read">
            <!-- <span class="icon-read"></span> -->
            <!-- <span class="text">阅读</span></a> -->
            <!-- <a href="/reader/ebook/21856869/" target="_blank" class="btn btn-read"> -->
            <span class="icon-read"></span>
            <span class="text">读书心得</span></a>
          <a href="{:U('index/book_meeting?id='.$meeting['id'])}"  class="btn btn-read">
            <!-- <span class="icon-read"></span> -->
            <!-- <span class="text">阅读</span></a> -->
            <!-- <a href="/reader/ebook/21856869/" target="_blank" class="btn btn-read"> -->
            <span class="icon-read"></span>
            <span class="text">阅读会</span></a>
          <div class="qrcode"></div>
        </div>
      </div>
    </div>
   
    <div class="article-profile-section article-profile-intros">
      <div class="article-profile-intro-tabs">
        <ul>
          <li class="ark-tab-activated">简介</li>
          <li>作品信息</li>
		      <li>阅读会现场</li>
          <li>读书心得</li>
          </ul>
      </div>
      <div class="article-profile-intro article-abstract collapse-context">
        <div itemprop="description" data-max-lines="15" data-line-height="24" class="abstract-full collapse-content">
          <div class="info">
            <p>{$book['sub_content']}</p>
          </div>
        </div>
      </div>
      <div class="article-profile-intro table-of-contents" style="display: none;">
         <div class="info">
            <p>{$book['description']}</p>
          </div>
      </div>
      <style>
		 .info p{padding-left: 0px !important;}
	   </style>
      <div class="article-profile-intro article-profile-secondary" style="display: none;">
        <div itemprop="description" data-max-lines="15" data-line-height="24" class="abstract-full collapse-content">
          <div class="info">
          	<p style="padding-left:0px;text-indent:30px;">{$meeting['description']}</p>
            <p style="padding-left:0px;text-indent:30px;">{$meeting['content']}</p>
          </div>
        </div>
      </div>


      <div class="article-profile-intro article-abstract collapse-context">
        <table width="100%">
          <tr height="22px">
          <th style="background:#6e839a;color:#fff;">会员</th>
          <th style="background:#6e839a;color:#fff;">标题</th>
          <th style="background:#6e839a;color:#fff;">发表时间</th>
          <th style="background:#6e839a;color:#fff;">信息</th>
          </tr>
          <volist name="xindes" id="xinde">
          <tr>
            <td>  <?php 
                $info = R('ls/get_oper_info',array($xinde['oper_id']));
                echo $info['OPER_NAME'];
              ?></td>
            <td><a href="{:U('index/book_xinde?id='.$xinde['id'])}">{$xinde['title']}</a></td>
            <td>{$xinde['oper_date']|date='Y-m-d',###}</td>
            <td></td>
          </tr>
          </volist>
        </table>
      </div>

    </div>
  </article>

  <aside class="col col4 right">
    <div class="section hide">
      <div class="hd tags-heading">
        <h3>作品标签</h3></div>
      <div class="bd">
        <meta itemprop="keywords" content="摄影,趣味,风格,豆瓣,春季">
        <ul class="tags">
          <li>
            <a href="/tag/%E6%91%84%E5%BD%B1/?cat=article">
              <span class="tag-name">摄影</span>
              <span class="tag-total">409</span></a>
          </li>
          <li>
            <a href="/tag/%E8%B6%A3%E5%91%B3/?cat=article">
              <span class="tag-name">趣味</span>
              <span class="tag-total">53</span></a>
          </li>
          <li>
            <a href="/tag/%E9%A3%8E%E6%A0%BC/?cat=article">
              <span class="tag-name">风格</span>
              <span class="tag-total">4</span></a>
          </li>
          <li>
            <a href="/tag/%E8%B1%86%E7%93%A3/?cat=article">
              <span class="tag-name">豆瓣</span>
              <span class="tag-total">4</span></a>
          </li>
          <li>
            <a href="/tag/%E6%98%A5%E5%AD%A3/?cat=article">
              <span class="tag-name">春季</span>
              <span class="tag-total">1</span></a>
          </li>
        </ul>
      </div>
    </div  >
    <div class="section">
      <div class="hd author-heading">
        <h3>读者动态</h3></div>
        开发中..
      <ul class="reader-actions hide">
        <li class="reader-action">
          <div class="action-user">
            <a href="https://read.douban.com/people/85129568/" target="">
              <div class="avatar avatar48 ">
                <div class="inner">
                  <img src="https://img3.doubanio.com/icon/up85129568-2.jpg" width="48px" height="48px" alt="惊宁"></div>
              </div>
            </a>
          </div>
          <div class="action-desc">
            <a href="https://read.douban.com/people/85129568/" target="" class="">惊宁</a>
            <div class="action-msg">
              <span>16分钟前 读过</span>
              <span title="4" class="rating-stars stars-small-context stars-small-4"></span>
            </div>
          </div>
        </li>
        <li class="reader-action">
          <div class="action-user">
            <a href="https://read.douban.com/people/147973021/" target="">
              <div class="avatar avatar48 ">
                <div class="inner">
                  <img src="https://img3.doubanio.com/icon/up147973021-1.jpg" width="48px" height="48px" alt="怕水猫想吃鱼"></div>
              </div>
            </a>
          </div>
          <div class="action-desc">
            <a href="https://read.douban.com/people/147973021/" target="" class="">怕水猫想吃鱼</a>
            <div class="action-msg">
              <span>20分钟前 购买</span></div>
          </div>
        </li>
        <li class="reader-action">
          <div class="action-user">
            <a href="https://read.douban.com/people/147569607/" target="">
              <div class="avatar avatar48 ">
                <div class="inner">
                  <img src="https://img3.doubanio.com/icon/up147569607-1.jpg" width="48px" height="48px" alt="我是旋姐姐"></div>
              </div>
            </a>
          </div>
          <div class="action-desc">
            <a href="https://read.douban.com/people/147569607/" target="" class="">我是旋姐姐</a>
            <div class="action-msg">
              <span>47分钟前 购买</span></div>
          </div>
        </li>
        <li class="reader-action">
          <div class="action-user">
            <a href="https://read.douban.com/people/fangcao118/" target="">
              <div class="avatar avatar48 ">
                <div class="inner">
                  <img src="https://img3.doubanio.com/icon/u1554191-1.jpg" width="48px" height="48px" alt="芒果"></div>
              </div>
            </a>
          </div>
          <div class="action-desc">
            <a href="https://read.douban.com/people/fangcao118/" target="" class="">芒果</a>
            <div class="action-msg">
              <span>48分钟前 购买</span></div>
          </div>
        </li>
        <li class="reader-action">
          <div class="action-user">
            <a href="https://read.douban.com/people/120713613/" target="">
              <div class="avatar avatar48 ">
                <div class="inner">
                  <img src="https://img1.doubanio.com/icon/user_normal.jpg" width="48px" height="48px" alt="歪歪"></div>
              </div>
            </a>
          </div>
          <div class="action-desc">
            <a href="https://read.douban.com/people/120713613/" target="" class="">歪歪</a>
            <div class="action-msg">
              <span>1小时前 购买</span></div>
          </div>
        </li>
        <li class="reader-action">
          <div class="action-user">
            <a href="https://read.douban.com/people/53966264/" target="">
              <div class="avatar avatar48 ">
                <div class="inner">
                  <img src="https://img3.doubanio.com/icon/up53966264-3.jpg" width="48px" height="48px" alt="梦里浮生"></div>
              </div>
            </a>
          </div>
          <div class="action-desc">
            <a href="https://read.douban.com/people/53966264/" target="" class="">梦里浮生</a>
            <div class="action-msg">
              <span>1小时前 购买</span></div>
          </div>
        </li>
      </ul>
    </div  >
    <div class="section hide">
      <a href="/ebook/21856869/ratings" class="ratings-count" target="_self">
        <span>585</span>人评价</a></div>
  </aside>
</div>
</block>

<block name="js">
<script>
	$(".article-profile-intro-tabs li").click(function(){
		e = $(this),
		i = e.index();
		$(".article-profile-intro-tabs li").removeClass('ark-tab-activated');
		e.addClass('ark-tab-activated');

		$(".article-profile-intro").hide();
		$(".article-profile-intro").eq(i).show();
	});
</script>
</block>