<!-- 滚动书籍 -->
<div class="showcase featured-books slide-5-items clear">
  <div class="hd lined">
    <h3 style="color: #666;">５月'育英班'<<卓有成效的管理者>>读书心得评比<span class="help-tip"></span></h3>
    
  </div>
  <div class="bd">
   
    <div class="carousel" style="height:230px; ">
      <div style="width: 2784px;" class="slide-list">
        <ul class="slide-item list-col list-col5 cover-list left"> 
          <li style="width:130px;height:210px;">
            <div class="border-wrap" style="height:200px;">
              <div class="cover shadow-cover" style="width:100%;">
                <a href="{:U('Index/xinde_zan?cat=1')}" class="pic" target="_self">
                  <img width="110px" height="164px"  alt="" src="__PUBLIC__/Read/images/yyxd20170515.png" />
                </a>
              </div>
              <div class="info" >
                <h4 class="title" style="text-align: center;">
                  <a href="{:U('Index/xinde_zan?cat=1')}" style="display: block;">中层班</a>
                  <a href="{:U('Index/xinde_zan?cat=1')}" style="display: block;">点击参与评选</a>
                </h4>
              </div>  
            </div>
          </li>

          <li style="width:130px;height:210px;">
            <div class="border-wrap" style="height:200px;">
              <div class="cover shadow-cover" style="width:100%;">
                <a href="{:U('Index/xinde_zan?cat=2')}" class="pic" target="_self">
                  <img width="110px" height="164px"  alt="" src="__PUBLIC__/Read/images/yyxd20170515.png" />
                </a>
              </div>
              <div class="info" >
                <h4 class="title" style="text-align: center;">
                  <a href="{:U('Index/xinde_zan?cat=2')}" style="display: block;">综合班</a>
                  <a href="{:U('Index/xinde_zan?cat=2')}" style="display: block;">点击参与评选</a>
                </h4>
              </div>  
            </div>
          </li>

          <li style="width:130px;height:210px;">
            <div class="border-wrap" style="height:200px;">
              <div class="cover shadow-cover" style="width:100%;">
                <a href="{:U('Index/xinde_zan?cat=3')}" class="pic" target="_self">
                  <img width="110px" height="164px"  alt="" src="__PUBLIC__/Read/images/yyxd20170515.png" />
                </a>
              </div>
              <div class="info" >
                <h4 class="title" style="text-align: center;">
                  <a href="{:U('Index/xinde_zan?cat=3')}" style="display: block;">市场班</a>
                  <a href="{:U('Index/xinde_zan?cat=3')}" style="display: block;">点击参与评选</a>
                </h4>
              </div>  
            </div>
          </li>

          <li style="width:130px;height:210px;">
            <div class="border-wrap" style="height:200px;">
              <div class="cover shadow-cover" style="width:100%;">
                <a href="{:U('Index/xinde_zan?cat=4')}" class="pic" target="_self">
                  <img width="110px" height="164px"  alt="" src="__PUBLIC__/Read/images/yyxd20170515.png" />
                </a>
              </div>
              <div class="info" >
                <h4 class="title" style="text-align: center;">
                  <a href="{:U('Index/xinde_zan?cat=4')}" style="display: block;">政企班</a>
                  <a href="{:U('Index/xinde_zan?cat=4')}" style="display: block;">点击参与评选</a>
                </h4>
              </div>  
            </div>
          </li>

          <li style="width:130px;height:210px;">
            <div class="border-wrap" style="height:200px;">
              <div class="cover shadow-cover" style="width:100%;">
                <a href="{:U('Index/xinde_zan?cat=5')}" class="pic" target="_self">
                  <img width="110px" height="164px"  alt="" src="__PUBLIC__/Read/images/yyxd20170515.png" />
                </a>
              </div>
              <div class="info" >
                <h4 class="title" style="text-align: center;">
                  <a href="{:U('Index/xinde_zan?cat=5')}" style="display: block;">网络班</a>
                  <a href="{:U('Index/xinde_zan?cat=5')}" style="display: block;">点击参与评选</a>
                </h4>
              </div>  
            </div>
          </li>
        </ul>
      </div>
     </div>
  </div>
</div>


