html,body{
margin:0px;padding:0px;
color: #444;
font: 12px/1.5 "微软雅黑","黑体","Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",LiGothicMed !important;
}
.top-info{padding-bottom: 15px !important;}
.nav{clear:both;overflow: hidden;}
.slide-list li,.slide-action li,.nav li{float:left !important;}
.filter-tabs{float:right;}