<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客服投诉质量管控专题</title>
<style type="text/css"> 
    *{margin:0;padding: 0;}
    .content{ width: 1000px; margin:0 auto; border:1px solid #eee;}
    .box{width: 100%;}
    .box .header{width: 100%;height: 30px;line-height: 30px;text-align: center;font-size: 22px;color: #666;}
    .box .main{width: 100%;margin-top: 5px;}
    .box .main .first{width: 90%;margin:0 auto;}
    .box .main .main_table{width: 90%;margin:5px auto; }
    .box .main .main_table h3{text-align: center;color: #666;}
    .main_table table{width: 96%;border-collapse: collapse;text-align: center;font-size: 14px;color: #666;
        margin: 10px auto;}
    .main_table table tr{height: 25px;line-height: 25px;}
    .main_table table tr td,.main_table table tr th{border:1px solid #666;}
    .first{width: 90%;}
    legend{color: #666;}
</style>
</head> 
<body>
    <div class="content">
        <div class="box">
            <div class="header">客服投诉质量管控专题</div>
            <div class="main"> 
                <div class="main_table">
                    <fieldset>
                        <legend>客服投诉汇总</legend>
                        <table>
                            <tr>
                                <th>日期</th>
                                <th>丽水受理</th>
                                <th>省客服下派落单量</th>
                                <th>狭义投诉量</th>
                                <th>广义投诉量</th>
                                <!--
                                <th>省客服业务受理单下派量</th>
                                -->
                            </tr>
                            <volist name="listt" id="list">
                                <tr>
                                    <td>{$list['BUSI_DATE']}</td>
                                    <td>{$list['SL_ITEM']}</td>
                                    <td>{$list['KF_LDL']}</td>
                                    <td>{$list['XY_ITEM']}</td>
                                    <td>{$list['GY_ITEM']}</td>
                                    <!--
                                    <td>暂无</td>
                                    -->
                                </tr>
                            </volist>
                        </table>
                    </fieldset>
                </div>
                <div class="first">
                    <fieldset>
                        <legend>个人投诉满意度百分比</legend>
                        <div class="first" id="container"></div>
                    </fieldset>
                </div>
                
                <div class="main_table">
                    <fieldset>
                        <legend>个人工作量报表</legend>
                        <table>
                            <tr>
                                <th>工号</th>
                                <th>派单量</th>
                                <th>反馈量</th>
                                <th>重复投诉量</th>
                                <th>重启工单量</th>
                                <th>不满意条数</th>
                                <th>满意条数</th>
                                <th>平均时长</th>
                                <!--
                                <th>省客服业务受理单下派量</th>
                                -->
                            </tr>
                            <volist name="listg" id="list">
                                <tr>
                                    <td>{$list['OP_CODE']}</td>
                                    <td>{$list['F_3']}</td>
                                    <td>{$list['F_7']}</td>
                                    <td>{$list['F_14']}</td>
                                    <td>{$list['F_11']}</td>
                                    <td>{$list['COUNT_NO_A']}</td>
                                    <td>{$list['COUNT_NO']}</td>
                                    <td>{$list['平均时长']}</td>
                                    <!--
                                    <td>暂无</td>
                                    -->
                                </tr>
                            </volist>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>


</body>
<script  src="__STATIC__/jquery-1.8.3.min.js"></script> 
<script    src="__STATIC__/highcharts.js"></script>  
<script    src="__STATIC__/layer/layer.js"></script> 
<script type="text/javascript">
   $(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '个人投诉满意度百分比'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            max:100,
            title: {
                text: '百分比'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -10,
            y: 10,
            floating: true,      
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
         
        tooltip: {
            pointFormat: '百分比:<b style="color:#666;">{point.y:.2f}%</b>'
        },
        series: [{
            name: '<b style="color:#666;">百分比</b>',
            data: [
                <?php 
                 $data="";
                  for ($i=0; $i <count($lists); $i++) { 
                    if($i==count($lists)-1){
                        $data .= "['".$lists[$i]['FEEDBACK_STAFF_NO']."',";
                        $data .= $lists[$i]['SATIS']."]";
                    }else{ 
                        $data .= "['".$lists[$i]['FEEDBACK_STAFF_NO']."',";
                        $data .= $lists[$i]['SATIS']."],";
                    }
                }
                echo $data;
                ?>
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.2f}%', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});

</script>
</html>

