<!DOCTYPE html>
<html>
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
	<link rel="stylesheet" href="__CSS__/form.css">
	<include file="Form/form_js_css"/>
	</head>

	<body>
	<div class="form_wrap">		 
		<include file="Form/form_design_menu" />
		<div class="clr"></div>
		<div class="row_title" style="margin-bottom:0px;">预览设计</div>
		<div class="dis_wrap">
			<div class="dis_menu hide">
				<ul>
					<li><a href="javascript:;" title="wrap" onclick="initWRAP();" type="text">WRAP</a></li>
					<li><a href="javascript:;" title="row" onclick="initROW();" type="text">ROW</a></li>
					<li><a href="javascript:;" title="col" onclick="initCOL(1);" type="text">COL</a></li>
					<li><a href="javascript:;" title="text" onclick="initINT();" type="text">INT</a></li>
					<li><a href="javascript:;" title="text" onclick="initTEXT();" type="text">TXT</a></li>
					<li><a href="javascript:;" title="select" onclick="initSELT();" type="select">SELT</a></li>
					<li><a href="javascript:;" title="date" onclick="initDATE();" type="date">DATE</a></li>
					<li><a href="javascript:;" title="textarea" onclick="initCONT();" type="textarea">CONT</a></li>
					<li><a href="javascript:;" title="county" onclick="initCTY();" type="county">CTY</a></li>
					<li><a href="javascript:;" title="editor" onclick="initEDIT();" type="editor">EDIT</a></li>
				</ul>
			</div>

			<div class="dis_con">
				<form name="design_form" action="{:U('form_design')}" method="post">
				<table width="100%" height="330px" border="0">
				<tr>
					<td valign="top">
					<ul class="dis_attr_model">
						<li class="disgn_model"><a class="curr" href="javascript:;">设计模式</a></li>
						<li class="getSource code_model"><a href="javascript:;">代码模式</a></li>
						<!-- <li><a href="javascript:;">撤销</a></li>
						<li><a href="javascript:;">恢复</a></li> -->
					</ul>
					<a href="javascript:;" class="a_btn a_btn_primary a_save save_design right" style="float:right;"><input type="button" value="保存设计"></a>
					<div id="dis_main" class="clr flag" contenteditable="false">{$info['FORM_DESIGN']}</div>

					<div id="dis_code" class="clr form_design" style="display:none;">
						<input type="hidden" value="{$info['ID']}" name="form_id" />
						<textarea name="form_design" id="" style="width:98%;height:290px;"></textarea>	
						<textarea name="form_objs" id="" style="display:none;width:100%;height:100%;"></textarea>	
						<textarea name="form_objs_table" id="" style="display:none;width:100%;height:100%;"></textarea>	
					</div>	
					</td>
					<td  valign="top" width="450px">
					<div>
					<ul class="dis_attr_model">
						<li><a  class="curr design_yuansu" href="javascript:;">元素列表</a></li>
						<li><a  class="disgn_priview" href="javascript:;">设计预览</a></li>
					</ul>

					<div id="list_attrs"  class="clr flag" style="overflow:auto;">
						<table class="list_attrs_table" width="100%" border=0 cellpadding="0" cellspacing="0">
							<tr><th>标题</th><th>名称</th><th>类型</th><th width="120px">排序</th><th width="80px">操作</th></tr>
						</table>
						<table id="list_attrs_table" class="list_attrs_table" width="100%" border=0 cellpadding="0" cellspacing="0">
							{$info['FORM_OBJS_TABLE']}
						</table>
					</div>
					</div>
					</td>
				</tr>
				</table>
				</form>

				<div class="hide">
				拓展JS:<input type="text" name="js" style="width:400px"/>
				拓展CSS:<input type="text" name="css" style="width:400px"/>
				</div>
				<div id="dis_attr">
					<ul class="dis_attr_model dis_dxsx">
						<li><a class="" href="javascript:;">对象属性</a></li>
						<li><a class="type curr" href="javascript:;" para="row">标题行</a></li>
						<li><a class="type"  href="javascript:;" para="text">文本框</a></li>
						<li><a class="type"  href="javascript:;" para="date">日期框</a></li>
						<li><a class="type"  href="javascript:;" para="select">下拉框</a></li>
						<li><a class="type"  href="javascript:;" para="county">县市框</a></li>
						<li><a class="type"  href="javascript:;" para="textarea">文本域</a></li>
						<li><a class="type"  href="javascript:;" para="checkbox">复选框</a></li>
						<li><a class="type"  href="javascript:;" para="radiobox">单选框</a></li>
						<li><a class="type"  href="javascript:;" para="img">图片</a></li>
						<li><a class="type"  href="javascript:;" para="submit">保存按钮</a></li>
					</ul>
					
					<a href="javascript:;" class="a_btn a_btn_default attr_add right" style="float:right;"><input type="button" value="保存控件"></a>
					<a href="javascript:;" id="attr_edit_flag" class="a_btn a_btn_primary right" style="float:right;display:none;"><input type="button" value="编辑状态"></a>
					<div class="clr"></div>

					<div id="dis_attr_add" class="dis_attr_design">
					<form name="dis_attr_form">
							<!--保存当前控件类型-->
							<input name="type" type="hidden" value="row">
						 
							<div class="col col0 nborder"><label for="select">title:</label><div class="in"><input name="title" type="text" value="标题"><em style="COLOR: red">*</em></div></div>
							<div class="col col0 nborder"><label for="text">name:</label><div class="in"><input name="name" type="text" value=""><em style="COLOR: red">*</em></div></div>
							<div class="col col0 nborder"><label for="text">format:</label><div class="in">
							<select name="format">
								<option value="string">string</option>
								<option value="int">int</option>
								<option value="float">float</option>
								<option value="date">date</option>
								<option value="text">text</option>
							</select><em style="COLOR: red">*</em>
							</div></div>
							<div class="col col0 nborder"><label for="select">id:</label><div class="in"><input name="id" type="text" value=""></div></div>							

							<div class="col col0 nborder"><label for="select">必填项:</label><div class="in">
								<select name="input">
									<option value="0">非必填</option>
									<option value="1">必填</option>
								</select>
							</div></div>
							<div class="col col0 nborder"><label for="text">验证类型:</label><div class="in">
								<select name="validtor">
									<option value="">不验证</option>
									<option value="null">非空验证</option>
									<option value="int">正整数验证</option>
									<option value="flot">正浮点验证</option>
									<option value="length">字符长度验证</option>
									<option value="mobile">手机号码验证</option>
									<option value="email">邮箱验证</option>
									<option value="card">身份证验证</option>
									<option value="checkSql">sql验证</option>
								</select>
							</div></div>
							<div class="col col0 nborder"><label for="text">验证组合:</label><div class="in">
								<select name="validtor2">
									<option value="">不验证</option>
									<option value="null">非空验证</option>
									<option value="int">正整数验证</option>
									<option value="flot">正浮点验证</option>
									<option value="length">字符长度验证</option>
									<option value="mobile">手机号码验证</option>
									<option value="email">邮箱验证</option>
									<option value="card">身份证验证</option>
									<option value="checkSql">sql验证</option>
								</select>
							</div></div>
							<div class="col col0 nborder"><label for="text">验证提示:</label><div class="in">
								<select name="valid_tip">
									<option value="valid_default">默认样式</option>
								</select>
							</div></div>

							<div class="col col0 nborder"><label for="text">class:</label><div class="in"><input name="lei" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="text">default:</label><div class="in"><input name="moren" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="select">list:</label><div class="in"><input name="list" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="select">checked:</label><div class="in">
								<select name="checked">
									<option value=""></option>
									<option value="checked">checked</option>
								</select>
							</div></div>
					 
						
						 
							<div class="col col0 nborder"><label for="text">width:</label><div class="in"><input name="width" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="text">height:</label><div class="in"><input name="height" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="select">bkground:</label><div class="in"><input name="background" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="select">display:</label><div class="in">
							<select name="display">
								<option value="block">display:block</option>
								<option value="none">display:none</option>
							</select>
							</div></div>
						 
							<div class="col col0 nborder"><label for="text">rows:</label><div class="in"><input name="rows" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="text">cols:</label><div class="in"><input name="cols" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="select">src:</label><div class="in"><input name="src" type="text" value=""></div></div>
							<div class="col col0 nborder"><label for="select">border:</label><div class="in"><input name="border" type="text" value=""></div></div>
						 	<div class="col col2 nborder"><label for="text">check sql:</label><div class="in"><input name="check_sql" type="text" value="" width="300px"></div></div>

					</form>
					<div class="clr"></div>
 					</div>					
				</div>
			</div>
		</div>
	</div>
	

	<div id="form_list_values" style="display:none;">
		<div class="list_input">
			值:<input type="text" name="key"/>显示:<input type="text" name="value"/>
		</div>
		<div class="list_save">
			<a href="javascript:;" class="a_btn list_add"><input type="button" value="添加"/></a>
			<a href="javascript:;" class="a_btn list_sure"><input type="button" value="确定"/></a>
			<a href="javascript:;" class="a_btn list_cancel"><input type="button" value="关闭"/></a>
		</div>
		<div style="height:300px;">
			<table class="list_attrs_table" width="100%;" border=0 cellspacing="0" cellspacing="0">
				<tr>
					<th align="left">值列表</th>
				</tr>
				<tr>
					<td width="100%" height="280px">
						<div style="width:100%;height:100%;overflow-y:auto;overflow-x:hidden;"><ul class="list_keys"></ul></div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<script>

	//保存当前是否为已添加控件的编辑状态 并且值为当前控件所在行位置 index
	var edit_row_flag = null;

	$(function(){
		//下拉框值确定
		$(".list_cancel").click(function(){
			$("#form_list_values").hide();
		});

		//下拉框值配置
		$("input[name=list] , .list_sure").click(function(){
			var e = $(this);
			if(e.hasClass('list_sure')){
				var keys = new Array();
				$("#form_list_values .list_keys").find("li").each(function(index,el){
					var key = $(this).children('a:eq(0)').text(),
						val = $(this).children('a:eq(1)').text();
						var obj = {
							key:key,
							val:val
						};
						keys[index]=obj;
				});
			 	$("input[name=list]").val($.toJSON(keys));
			 	$("#form_list_values").hide();
			}else{
				var v = e.val();				
				$("#form_list_values").show();
			}
		});

		//下拉框值设置
		$(".list_add").click(function(){
			var key = $("#form_list_values").find("input[name=key]").eq(0).val(),
				val = $("#form_list_values").find("input[name=value]").eq(0).val(),
				list_keys = $("#form_list_values").find(".list_keys").eq(0),
				list_vals = $("#form_list_values").find(".list_vals").eq(0);
			if(key.isEmpty() || val.isEmpty()){
				alert("值和显示必须填写");
			}else{
				var k = '<li><a href="javascript:;">'+key+'</a>=<a href="javascript:;">'+val+'</a></li>';
				list_keys.append(k);
				$("#form_list_values").find("input[name=key]").val('');
				$("#form_list_values").find("input[name=value]").val('');
			}
		});

		//保存设计代码
		$(".save_design").click(function(){
			attr_init();
			var form_design = $("textarea[name=form_design]").val(),
				form_objs = $("textarea[name=form_objs]").val(),
			    form_objs_table = $("textarea[name=form_objs_table]").val();
			if(form_design.isEmpty() || form_objs.isEmpty() || form_objs_table.isEmpty()){
				alert('尚未生成保存的设计数据');
				return;
			}else{
				design_form.submit();
				return;
			}
		});

		//根据添加的控件集合生成模板页面
		//预览容器 ID dis_main
		$(".disgn_priview").click(function(){
			attr_init();
		});

		//添加控件
		$(".attr_add").click(function(){
			attr_add();
			// dis_attr_form.reset();
			$("#attr_edit_flag").click();
		});

		//移除编辑状态
		$("#attr_edit_flag").click(function(){
			$(this).hide();
			edit_row_flag = null;
			dis_attr_form.reset();
		});

		//选择控件类型
		$(".dis_attr_model li .type").click(function(event) {
			var e = $(this),
				i = e.index(),
				v = e.attr('para');
			e.addClass('curr').parent().siblings('li').find('a').removeClass('curr');
 			$("#dis_attr_add input[name=type]").val(v);		
 			if(edit_row_flag==null){
 				$("#dis_attr_add input[name=title]").val(e.text());	
 			}	
		});

		//获取源码
		$(".getSource").click(function(){
			attr_init();
		});
 

		//设计模式和源码模式切换
		$(".disgn_model , .code_model").click(function(){
			if($(this).hasClass('disgn_model')){
				$("#dis_main").show();
				$("#dis_code").hide();
			}else{
				$("#dis_main").hide();
				$("#dis_code").show();
			}
			$(this).find('a').addClass('curr');
			$(this).siblings('li').find('a').removeClass('curr')
		});


		//上移 
	    $(".up").live('click',function() { 
	        var $tr = $(this).parent().parent("tr"); 
	        if ($tr.index() != 0) { 
	            $tr.fadeOut().fadeIn(); 
	            $tr.prev().before($tr); 	             
	        } 
	    }); 

	    //下移 
	    var len = $(".down").length; 
	    $(".down").live('click',function() { 
	        var $tr = $(this).parent().parent("tr"); 
	        if ($tr.index() != len - 1) { 
	            $tr.fadeOut().fadeIn(); 
	            $tr.next().after($tr); 
	        } 
	    }); 

	    //置顶 
	    $(".top").live('click',function(){ 
	        var $tr = $(this).parent().parent("tr"); 
	        $tr.fadeOut().fadeIn(); 
	        $("#list_attrs_table").prepend($tr); 
	        $tr.css("color","#f60"); 
	    });

	});

	//列表中删除控件
	$(".attr_delete").live('click',function(){
		if(confirm('是否确认删除')){
			$(this).parent().parent().remove();
		}
	});

	//列表中编辑控件
	$(".attr_edit").live('click',function(){
		var e = $(this),
			edit_row_index = e.parent().parent().index(),
			attrs_str = e.parent().siblings('.attrs_json').html(),
			attrs_json = $.parseJSON(attrs_str);		
			//保存当前修改控件所在行的位置	
			edit_row_flag = edit_row_index;

			$("#attr_edit_flag input").attr('value',$(this).html()+'编辑中..');
			$("#attr_edit_flag").show();

			$.each(attrs_json,function(index, el) {
				//console.info(index+' : '+el);
				$("#dis_attr_add input[name="+index+"]").val(el);
			});

			//更改当前选择的控件光标
			$(".dis_dxsx").find('a').each(function(){
				if($(this).attr('para')==attrs_json.type){
					$(this).addClass('curr');
					$(this).parent().siblings('li').find('a').removeClass('curr');
				}
			});
	});	 

	 
	//保存生成所有需要保存的内容并设置
	attr_init = function(){
		//预览效果
		var objs = $(".attrs_json");
		$("#dis_main").html('');
		$.each(objs,function(index, el) {
			 var j = $.parseJSON($(this).html());
			 //根据JSON 数据内容生成对应的网页标签
			 var h = attr_tag(j);
			 $("#dis_main").append(h);
		});

		//转换需要的格式值填充到 三个 textarea 中用来保存进入数据库表
		$("textarea[name=form_design]").val($("#dis_main").html());
		$("textarea[name=form_objs_table]").val($("#list_attrs_table").html());

		var attrs_json_arr = new Array();
		$.each($(".attrs_json"),function(index, el) {
			attrs_json_arr[index]=$(this).html();
		});

		$("textarea[name=form_objs]").val(attrs_json_arr);
	}

	//添加控件
	attr_add = function(){	 
	var obj ={
			type	:$("#dis_attr_add input[name=type]").val(),
			title	:$("#dis_attr_add input[name=title]").val(),
			name	:$("#dis_attr_add input[name=name]").val(),
			id		:$("#dis_attr_add input[name=id]").val(),
			lei		:$("#dis_attr_add input[name=lei]").val(),
			format	:$("#dis_attr_add select[name=format]").val(),

			input	:$("#dis_attr_add select[name=input]").val(),
			validtor:$("#dis_attr_add select[name=validtor]").val(),
			validtor2:$("#dis_attr_add select[name=validtor2]").val(),
			valid_tip:$("#dis_attr_add select[name=valid_tip]").val(),

			moren	:$("#dis_attr_add input[name=moren]").val(),
			list	:$("#dis_attr_add input[name=list]").val(),
			checked	:$("#dis_attr_add input[name=checked]").val(),
			width	:$("#dis_attr_add input[name=width]").val(),
			height	:$("#dis_attr_add input[name=height]").val(),
			background	:$("#dis_attr_add input[name=background]").val(),
			display	:$("#dis_attr_add select[name=display]").val(),
			rows	:$("#dis_attr_add input[name=rows]").val(),
			cols	:$("#dis_attr_add input[name=cols]").val(),
			src		:$("#dis_attr_add input[name=src]").val(),
			border	:$("#dis_attr_add input[name=border]").val(),
			check_sql:$("#dis_attr_add input[name=check_sql]").val()
		};

		var attrs_json = $.toJSON(obj);
		var html = '<tr>';
			html+= '<td><a href="javascript:;" class="attr_edit">'+obj.title+'</a></td>';
			html+= '<td>'+obj.name+'</td>';
			html+= '<td>'+obj.type+'</td>';
			html+= '<td><a href="javascript:;" class="up">上移</a>&nbsp;&nbsp;<a class="down" href="javascript:;">下移</a>&nbsp;&nbsp;<a class="top" href="javascript:;">置顶</a></td>';
			html+= '<td><a href="javascript:;" class="attr_edit">编辑</a>&nbsp;&nbsp;<a class="attr_delete" href="javascript:;">删除</a></td>';
			html+= '<td style="display:none;" class="attrs_json">'+attrs_json+'</td>';
			html+= '</tr>';

		//获取当前是否为修改已添加控件状态

		if(edit_row_flag!=null){			
			var curr_tr = $("#list_attrs_table").find('tr').eq(edit_row_flag);
			edit_row_flag=null;
			curr_tr.after(html);
			curr_tr.remove();
		}else{
			$("#list_attrs_table").append(html);
			$("#list_attrs_table tr:even").children('td').css('background','#ccc');
		}
	}


	//根据JSON 内容生成网页标签 字符串
	attr_tag = function(json){
		 var type = json.type;
		 if(json.moren==undefined || json.moren=='' || json.moren==null){
		 	json.moren = '';
		 }
		 var h = '<div class="col col1"><label>'+json.title+':</label><div class="in" _input="'+json.input+'" _validtor="'+json.validtor+'" _validtor2="'+json.validtor2+'" _tip="'+json.valid_tip+'" _check_sql="'+json.check_sql+'">';
		 switch(type){
		 	case 'row':
		 		h = '<div id="'+json.id+'" class="row_title '+json.lei+'" style="display:'+json.display+';width:'+json.width+';height:'+json.height+';">'+json.title+'</div>';
		 		return h;
		 		break;
		 	case 'text':
		 		h+= '<input type="text" id="'+json.id+'" name="'+json.name+'" class="'+json.lei+'" width="'+json.width+'" height="'+json.height+'" value="'+json.moren+'"/>';
		 		break;
		 	case 'date':
		 		h+= '<input type="text" id="'+json.id+'" name="'+json.name+'" class="date '+json.lei+'" width="'+json.width+'" height="'+json.height+'" value="'+json.moren+'"/>';
		 		break;
		 	case 'select':
		 		var list = null;	
		 		h+= '<select id="'+json.id+'" class="'+json.lei+'" name="'+json.name+'">';
		 		if(!(json.list==null || json.list=='')){
		 			list = $.parseJSON(json.list);
		 			$.each(list,function(index,kv){
			 			if(kv.key==json.moren){
			 				h+='<option value="'+kv.key+'" selected="selected">'+kv.val+'</option>';
			 			}else{
			 				h+='<option value="'+kv.key+'">'+kv.val+'</option>';
			 			}
			 		});
		 		}
		 		h+= '</select>';
		 		break;
		 	case 'county':
		 		h+= '<select id="'+json.id+'" class="'+json.lei+'" name="'+json.name+'">';
		 		h+= '<option value=5780>市本级</option>';
		 		h+= '<option value=5781>莲都</option>';
		 		h+= '<option value=5782>缙云</option>';
		 		h+= '<option value=5783>青田</option>';
		 		h+= '<option value=5784>云和</option>';
		 		h+= '<option value=5785>庆元</option>';
		 		h+= '<option value=5786>龙泉</option>';
		 		h+= '<option value=5787>遂昌</option>';
		 		h+= '<option value=5788>松阳</option>';
		 		h+= '<option value=5789>景宁</option>';
		 		h+= '<option value=578B>南城</option>';
		 		h+= '</select>';
		 		break;
		 	case 'textarea':
		 		h = '<div class="col col3"><lable>'+json.name+'</lable><div class="in">';
		 		h+= '<textarea id="'+json.id+'" class="'+json.lei+'" name="'+json.name+'" rows="'+json.rows+'" cols="'+json.cols+'" value="'+json.moren+'">'+json.moren+'</textarea>';
		 		return h;
		 		break;
		 	case 'checkbox':
		 		h+= '<inpu type="checkbox" id="'+json.id+'" class="'+json.lei+'" name="'+json.name+'" value="'+json.moren+'"/>';
		 		break;
		 	case 'radiobox':
		 		h+= '<inpu type="radiobox" id="'+json.id+'" class="'+json.lei+'" name="'+json.name+'" value="'+json.moren+'"/>';
		 		break;
		 	case 'img':
		 		h+= '<img id="'+json.id+'" class="'+json.lei+'" name="'+json.name+'" src="'+json.src+'" style="widht:'+json.widht+';height:'+json.height+';"/>';
		 		break;
		 	case 'submit':
		 		h = '<div id="'+json.id+'" class="row_submit '+json.lei+'" style="display:'+json.display+';width:'+json.width+';height:'+json.height+';">';
		 		h+= '<a href="javascript:;" class="a_btn a_btn_primary"><input type="button" value="保存" /></a>';
		 		h+= '<a href="javascript:;" class="a_btn"><input type="reset" value="重置" /></a>';
		 		h+= '</div>';
		 		h+= '<div class="clr"></div>';
		 		return h;
		 		break;
		 	default:
		 		alert('未找到匹配解析控件类型');
		 		break;
		 } 
		 if(json.input==1){
		 	h+='<em style="color:red">*</em>';
		 }
		 h+= '</div></div>';
		 return h;
	}























	/**
	这部分代码暂时未完全使用，
	主要作用用来拖拉 编辑表单页面功能
	**/
	//获取源代码 
	getCode = function (){
		$("textarea[name=form_design]").val($("#dis_main").html());
	}
	//获取对象方法
	get     = function (reg){return $(reg);}
	//初始化wrap
	initWRAP= function (){
		h="<div class='wrap border'>";
		h+="<form name='theForm' action='' method=''>";
		h+="</form>";
		h+="</div>";
		insertHTML(h);
	}
	//插入row
	initROW = function (){
		h="<div class='row'>";
		h+="</div>";
		insertHTML(h);
	}
	//插入col
	initCOL = function (cols){
		h="<div class='col col"+cols+"'>";
		h+="</div>";
		insertHTML(h);
	}
	//初始化INT
	initINT = function (){
		h="<label for='int'>label:</label>";
		h+="<div class='in'>";
		h+="<input id='int' name='int' type='text' value=''>";
		h+="</div>";
		insertHTML(h);
	}
	//初始化TEXT
	initTEXT= function (){
		h="<label for='text'>label:</label>";
		h+="<div class='in'>";
		h+="<input id='text' name='text' type='text' value=''>";
		h+="</div>";
		insertHTML(h);
	}
	//初始化SELECT
	initSELT= function (){}
	//初始化DATE
	initDATE= function (){}
	//初始化CONTENT
	initCONT= function (){}
	//初始化COUNTY
	initCTY = function (){}
	//初始化EDITOR
	initEDIT= function (){}


	//获取光标位置并追加内容
	$(function(){
		$("#dis_main").focus(function(){
	    	$("#dis_main").removeClass("flag");
	    });
	    /* $("#dis_main").blur(function(){
	    	$("#dis_main").addClass("flag");
	     }); */
	});
	//再加入一个全屏事件  
 	$(window).click(function(e)  
      {  
        if (window.getSelection)  
        {  
             var getevent=e.srcElement?e.srcElement:e.target;//不要告诉我不知道这句的意思  
          //console.log(getevent.id,getevent.tagName);
            if(getevent.id!=null && getevent.id=="cmdInsert"||getevent.id=="dis_main")  
            {  
            	//alert(0);
            	//代表 点了插入html的按钮  
                //则不执行getFocus方法  
             }  
            else  
            	$("#dis_main").addClass("flag");//除非点了那个插入html的按钮 其他时候必须要执行getFocus来更新最后失去焦点的div  
        }  

    }) 
   		
		       
	function insertHTML(html)  
    {  
        var dthis=$("#dis_main")[0];//要插入内容的某个div,在标准浏览器中 无需这句话  
        //dthis.focus();
         var sel, range; 
         //console.log($(dthis).hasClass("flag"));
         if($(dthis).hasClass("flag")){
        	 $(dthis).html(dthis.innerHTML+html);
        	 return;
         }
         if (window.getSelection)  
          {  
                 // IE9 and non-IE  
                 sel = window.getSelection();  
                 if (sel.getRangeAt && sel.rangeCount) {  
                 range = sel.getRangeAt(0);  
                 range.deleteContents();  
                 var el = document.createElement('div');  
                 el.innerHTML = html;  
                 var frag = document.createDocumentFragment(), node, lastNode;  
                 while ( (node = el.firstChild) )  
                  {  
                     lastNode = frag.appendChild(node);  
                  }  

             range.insertNode(frag);  
                 if (lastNode) {  
                 range = range.cloneRange();  
                 range.setStartAfter(lastNode);  
                 range.collapse(true);  
                 sel.removeAllRanges();  
                 sel.addRange(range);  
                 }  
                }  
         }   
         else if (document.selection && document.selection.type !='Control')   
         {  		
             $(dthis).focus(); //在非标准浏览器中 要先让你需要插入html的div 获得焦点  
      		 ierange= document.selection.createRange();//获取光标位置  
             ierange.pasteHTML(html);    //在光标位置插入html 如果只是插入text 则就是fus.text="..."  
             $(dthis).focus(); 
             //$(dthis).find('div').attr('contenteditable','true');
             getCode();
         }  

    }

 

	</script>
	</body>
</html>