<extend name="pub/main_group"/>
<block name="css">
	<style type="text/css">
		.rank_table{border-right: 1px solid #999;width: 100%;margin-top: 10px;}
		.rank_table td{border-bottom: 1px solid #999;border-left: 1px solid #999;text-align: center;}
	</style>
</block>
<block name="body">
	  
	<div class="model">
		<div>
			<div class="hr_info_title_l">
				<span>人员分工</span>
			</div>
			<div class="btns">
				<form method="post" action="{:U('tool_staff')}" style="float: right;">
					<input name="text" value="{$text}" class="text"/>
					<input type="submit" value="查询" class="sub" />
				</form>

		        <form method="post" action="{:U('file_staff')}" enctype="multipart/form-data" style="float: left;">
		            人员分工数据导入：<input type="file" name="file_exl" class="text" />
		            <input type="submit" value="导入" class="sub" />
		        </form>
			</div>
			<div>
			<table cellpadding="0" cellspacing="0" class="rank_table">
				<tr>
					<th class="rank-title">编号</th>
					<th class="rank-title">部门</th>
					<th class="rank-title">二级部门</th>
					<th class="rank-title">岗位</th>
					<th class="rank-title">姓名</th>
					<th class="rank-title">工作职责</th>
					<!-- <th class="rank-title">手机号码</th> -->
				</tr>
			<volist name="num" id="num">
				<tr>
					<td style="width:30px;">{$num.编号}</td>
					<td style="width:50px;">{$num.部门}</td>
					<td style="width:80px;">{$num.二级部门}</td>
					<td style="width:100px;">{$num.岗位}</td>
					<td style="width:100px;">{$num.姓名}</td>
					<td style="width: 500px;text-align: left;">{$num.工作职责}</td>
					<!-- <td>{$num.手机号码}</td> -->
				</tr>
			</volist>
			</table>
			</div>
		</div>
	</div> 
 
</block>