<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>员工薪酬明细</title>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
            user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"> 
        <link rel="stylesheet" href="__STATIC__/font-awesome4.2/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="__STATIC__/font-awesome4.2/css/font-awesome-ie7.min.css">
        <script   src="__STATIC__/jquery-1.8.3.min.js"></script>
        <script   src="__STATIC__/highcharts.js"></script>  
        <script src="__STATIC__/layer/layer.js"></script> 
        <link rel="stylesheet" href="__PUBLIC__/Salary/css/index.css">
        <script type="text/javascript"></script>
        <style type="text/css">
        .tuichu{
          display:block;         
          font-size: 24px;
        }
       
        </style>        
    </head>
    <body>  
        <div class="content" >       
                <div  class="header" >                                       
                    <div class="title fl">首页</div>                
                    <span class="logout fr" >退出</span>
                </div>              
                <div class="main">                    
                    <div class="main_title" >
                        <form id="theForm" method="POST" action="{:U('Index/salary_index')}">
                            <div class="main_search">
                                <if condition="$sel_data eq '' ">近12个月
                                <elseif condition="$sel_data eq '3' "/>近三个月
                                <elseif condition="$sel_data eq '6' "/>近六个月
                                <elseif condition="$sel_data eq '9' "/>近九个月
                                <elseif condition="$sel_data eq '2016' "/>2016年
                                <elseif condition="$sel_data eq '2017' "/>2017年
                                </if>
                            </div>
                            <div class="search_data" >
                                <select class="data" name="sel_data">
                                    <option value="3">近三个月</option>
                                    <option value="6">近六个月</option>
                                    <option value="9">近九个月</option>
                                    <option value="2016">2016年</option>
                                    <option value="2017">2017年</option>                            
                                </select>
                            </div>
                        </form>                       
                    </div>
                    <div class="main_left fl">
                        <div>
                            <p>月平均收入(应发/元)</p>
                            <p style="color: #ffa244">{$arr[0]['YINGFA_HJ_A']}</p>
                        </div>
                        <div>
                            <p>月平均收入(实发/元)</p>
                            <p style="color: #ffa244">{$arr[0]['MONTH_SF_A']}</p>
                        </div>                                           
                    </div> 


                    <div class="main_right fr">
                        <div>
                            <p>年度总收入(应发/元)</p>
                            <p style="color: #ffa244">{$arr[0]['YINGFA_HJ_S']}</p>
                        </div>
                        <div>
                            <p>年度总收入(实发/元)</p>
                            <p style="color: #ffa244">{$arr[0]['MONTH_SF_S']}</p>
                        </div>
                    </div>
                    <div  class="clear"></div>
                    <hr/>
                    <if condition="($list[0]['YINGFA_HJ'] neq '')">
                        <div class="index_tuxing">                       
                            <div id='canvasDiv'>
                            </div>                      
                        </div>                      
                    <else/>
                        <div class="index_tuxing" style="width: 100%;height: 400px;text-align: center;line-height: 400px;letter-spacing: 1px;font-size: 16px;">
                            未查询到您的相关记录,如有疑问,请咨询人力资源部.
                        </div>
                    </if>                   
                </div>

                <div class="footer">
                {:W('Side/footer_tab')}                                 
                </div>
                <div class="clear"></div>

                <div class="floor">
                    数据提供--人力资源部&nbsp;&nbsp;技术支持--丽水移动分公司(业务支撑中心)&nbsp;&nbsp;
                </div>

                
        </div>
    </body>


 <script type="text/javascript">
 
<!--1: 引入jquery -->
<!--2: 定义常规信息 -->
var logInfo = {
     name        : '员工薪酬明细平台', //项目名称
     title       : $(document).attr('title'), //当前页面名称
     county_code : "{$_SESSION['user_auth']['COUNTY_CODE']}", //县市编号
     user_id     : "{$_SESSION['user_auth']['OPER_ID']}", //用户编号
     bill_id     : "{$_SESSION['user_auth']['OPER_LOGIN_CODE']}", //手机号码
     user_name   : "{$_SESSION['user_auth']['OPER_NAME']}", //用户姓名
     url         : location.href, //当前访问地址
     ext         : '',  //拓展信息  
     bInfo       : ''   //浏览器信息
} 
</script>
<script type="text/javascript" src="http://10.78.1.85:9000/logging/public/logUtil.js"></script>


<script type="text/javascript">
$(function () {     
    $('#canvasDiv').highcharts({
        title: {
            text: '年度各月收入(元)',
            x: -20 //center
        },        
        xAxis: {
            categories: [<?php 
                    $x_num='';
                    for ( $i =count($list)-1;$i>=0; $i--) { 
                        if($i==0){
                            $x_num .=substr($list[$i]['FAFANG_MONTH'],5); 
                                          
                        }else{
                            $x_num .= substr($list[$i]['FAFANG_MONTH'],5).',';
                            
                        }
                    }
                    echo $x_num;
            ?>]
        },
        yAxis: { 
            plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
            }]
        },
        
        series: [{
            name: '实发',
            data: [ <?php 
                    $z_num='';
                    for ($i=count($list)-1;$i>=0;$i--) { 
                        if($i==0){
                            $z_num .=$list[$i]['MONTH_SF'];                             
                        }else{
                            $z_num .=$list[$i]['MONTH_SF'].',';
                        }
                    }
                    echo $z_num;
                ?>]},{
            name: '应发',
            data: [ <?php 
                        $z_num='';
                        for ($i=count($list)-1;$i>=0;$i--) { 
                            if($i==0){
                                $z_num .=$list[$i]['YINGFA_HJ'];                                
                            }else{
                                $z_num .=$list[$i]['YINGFA_HJ'].',';
                            }
                        }
                      echo $z_num;
            ?>]}
        ]
    });
});     
</script>

<script type="text/javascript">
    $(function(){
        $('.main_search').click(function(){
            layer.open({
                  title:'请选择您要查询的时间',   
                  type: 1,
                  area: ['250px', '160px'],
                  shadeClose: true, //点击遮罩关闭
                  content:$('.search_data'), 
                  btn:['确认', '取消'],
                    yes: function(index,layero){
                      $('#theForm').submit();  
                    layer.close(index);                 
                }
            });
        });
    });

</script>

<script type="text/javascript">
    $(function(){
      $('.index_tuxing').click(function(){
        window.location="{:U('Index/salary_quanbu_txt')}";  
      });
    });

    $(function(){
        $('.logout').click(function(){
            layer.alert('您确定要退出页面吗?',
                function(index){
                    $.ajax({
                       type: "POST",
                       url:"{:U('Index/salary_user_tuichu')}",                            
                       success: function(msg){  
                        window.close();
                       }
                    });
                layer.close(index);
                }
            );
        });
    });

</script>

</html>
