<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>业务综合受理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0"> 

<link rel="stylesheet" href="__PUBLIC__/comm.css">
<link rel="stylesheet" href="__PUBLIC__/global.css"> 
<link rel="stylesheet" href="__CSS__/index.css">
<link rel="stylesheet" href="__JS__/dtree.css"> 
<script type="text/javascript">var imgSrc = "__PUBLIC__/Form/css/images";</script>
<script type="text/javascript" src="__PUBLIC__/static/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/jquery.cookie.js"></script>
<script type="text/javascript" src="__PUBLIC__/Form/js/dtree.js"></script>
</head>
<body style="overflow: hidden">

<div style="background-color:rgb(35,84,117);color:#fff !important;font-size: 12px;height:100%;width: 100%;overflow:auto;padding-left:10px;padding-top:10px;">
	<script type="text/javascript">
		d = new dTree('d');
		d.add(10,-1,"菜单","javascript:void(-1);","菜单","","","",false);
		<?php 
			foreach ($deptList as $key => $m) {
				$link = "selectMenu('".$m['DEPT_ID']."','".$m['DEPT_NAME']."')";
				echo "d.add(".$m['DEPT_ID'].",".$m['DEPT_PARENT_ID'].",\"".$m['DEPT_NAME']."\",\"javascript:".$link.";\",\"".$m['DEPT_NAME']."\",\"\",\"\",\"\",false);"; 

			}
		?>
		document.write(d);
	</script>
</div>
</body>
<script type="text/javascript">
<!--
	function selectMenu(id,menuName){
		window.opener.document.getElementById('deptId').value = id;
		window.opener.document.getElementById('parentDeptName').value = menuName;		
		window.close();
	}
//-->
</script>
</html>