<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>财务发票管理平台</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Fpgl/style/wait_list.css" />
  <script type="text/javascript" src="__STATIC__/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Fpgl/js/index.js"></script>
  <link rel="shortcut icon" href="__PUBLIC__/Fpgl/favicon.ico" />
</head>
<body id="main">
<ol>
  <li><form class="search" action="{:U('Index/wait_list')}" method="post">
  <span>发票编号</span><input type="text" name="id" />
  <input type="submit" class="submit" name="send" value="查询" />
  </form></li>
</ol>

<form method="post" action="">
<h2>待作废列表</h2>
<table cellspacing="0">
  <tr><th>发票编号</th><th>开票人员</th><th>部门</th><th>发票金额</th><th>发票抬头单位</th><th>发票内容名称</th><th>发票内容用途</th><th>发票状态</th><th>作废原因</th><th>操作</th></tr>
  <if condition = "$wait_list[0] neq ''">
  <volist name="wait_list" id="wl">
  <tr>
    <td>{$wl['INVOICE_ID']}</script></td>
    <td>{$wl['EMPL_NAME']}</td>
    <td>{$wl['EMPL_DEPT']}</td>
    <td>{$wl['INVOICE_AMOUNT']}</td>
    <td>{$wl['INVOICE_COMPANY']}</td>
    <td>{$wl['INVOICE_NAME']}</td>
    <td>{$wl['INVOICE_PURPOSE']}</td>
    <td>{$wl['INVOICE_STATUS']}</td>
    <td>{$wl['CANCEL_REASON']}</td>
    <td><a class="cancel" href="{:U('cancel_confirm?id='.$wl['INVOICE_ID'].'&status='.$wl['STATUS'])}" onclick="return confirm('确定要作废吗？')?true:false">确认作废</a></td>
  </tr>
  </volist>
  <else/>
  <tr><td colspan="10">没有任何数据！</td></tr>
  </if>
</table>
</form>
<div id="page">{$_page}</div>
</body>
</html>