<extend name="./base_employee"/>

<block name="title">员工基本信息</block>
<block name="css">
  <style>
    body{background-color: #efefef;}
	.form{
	  width:1240px;margin-left:auto;margin-right:auto;
	  background-color:#fff;border: 1px solid #ddd;
	}
	table{font-size:14px;margin-left:10px}
    .basic-info td{font-size:14px;width:190px;}
	td.label{width:150px;}
	.bigtext{width:780px;}
	.audit-table{font-size:12px;}
  </style>
</block>

<block name="nav">
<nav class="nav" role="navigation">
  <div class="container-fluid bg-default">
    <div class="navbar">
      <a class="titleName" href="{:U('index')}">员工基本信息</a>
      <div style="position:fixed;top:0;right:15px;color:#fff;"><?php echo session('user_auth.OA');?></div>
    </div>
  </div>
</nav>
</block>

<block name="content">
<div class="form bform">
  <table class="basic-info">
    <thead>
	  <tr>
	  <th colspan="6">基本信息</th>
	  </tr>
	</thead>
	<tbody>
    <tr>
      <td class="label">部门：</td><td>{$ei['DEPT']}</td>
	  <td class="label">姓名：</td><td>{$ei['USER_NAME']}</td>
	  <td class="label">员工编号：</td><td>{$ei['USERID']}</td>
	</tr>
	
	<tr>
	  <td class="label">拟稿时间：</td><td>{$ei['CREATE_TIME']}</td>
      <td class="label">联系电话：</td><td>{$ei['BILL_ID']}</td>
	  <td class="label">身份证号：</td><td>{$ei['ID_CARD']}</td>
	</tr>
	
	<tr>
	  <td class="label">身份证签发单位：</td><td>{$ei['CARD_UNIT']}</td>
      <td class="label">身份证签发日期：</td><td>{$ei['CARD_START']}</td>
      <td class="label">身份证到期日期：</td><td>{$ei['CARD_END']}</td>
	</tr>

	<tr>
	  <td class="label">政治面貌：</td><td>{$ei['POLITICAL_STATUS']}</td>
      <td class="label">家庭住址：</td><td colspan="3">{$ei['FAMILY_ADDRESS']}</td>
	</tr>
	
	<tr>
	  <td class="label">全日制最高学历：</td><td>{$ei['BACHELOR_DEGREE']}</td>
	  <td class="label">专业：</td><td>{$ei['MAJOR']}</td>
	  <td class="label">毕业时间：</td><td>{$ei['GRADUATE_TIME']}</td>
	</tr>
	
	<tr>
	  <td class="label">毕业院校：</td><td colspan="2">{$ei['SCHOOL']}</td>
	  <td class="label">是否211院校：{$ei['IF0211']}</td>
	  <td>学历学位证书</td><td><a href="{$ei['DEGREE1_NEW_NAME']}" target="_blank">{$ei['DEGREE1_OLD_NAME']}</a></td>
	</tr>

	<tr>
	  <td class="label">非全日制最高学历：</td><td>{$ei['EDU_DEGREE']}</td>
	  <td class="label">专业：</td><td>{$ei['EDU_MAJOR']}</td>
	  <td class="label">毕业时间：</td><td>{$ei['EDU_END']}</td>
	</tr>
	
	<tr>
	  <td class="label">毕业院校：</td><td colspan="2">{$ei['EDU_SCHOOL']}</td>
	  <td class="label">是否211院校：{$ei['IF1211']}</td>
	  <td>学历学位证书</td><td><a href="{$ei['DEGREE2_NEW_NAME']}" target="_blank">{$ei['DEGREE2_OLD_NAME']}</a></td>
	</tr>

	<tr>
	  <td class="label">身份证扫描件：</td>
	  <td colspan="2">
	  <a href="{$ei['CARD_NEW_NAME1']}" target="_blank">{$ei['CARD_OLD_NAME1']}</a>
	  <a href="{$ei['CARD_NEW_NAME2']}" target="_blank">{$ei['CARD_OLD_NAME2']}</a>
	  </td>
      <td class="label">特长：</td><td colspan="2">{$ei['SPECIALITY']}</td>
	</tr>
	</tbody>
  </table>
  
  <table>
	<thead>
	  <tr>
	  <th colspan="10">员工家属信息</th>
	  </tr>
	  <tr>
	  <th style="width:40px">序号</th><th style="width:60px">家属姓名</th>
	  <th style="width:80px">出生日期</th><th style="width:150px">身份证号</th>
	  <th style="width:110px">身份证正面</th><th style="width:110px">身份证反面</th>
	  <th style="width:100px">与员工本人关系</th>
	  <th style="width:100px">联系电话</th><th style="width:200px">工作单位</th><th style="width:120px">职位</th>
	  </tr>
	</thead>
	<tbody>
	  <for start="0" end="count($fami)">
      <tr>
        <td class="xh">{$fami[$i]['XH1']}</td>
        <td>{$fami[$i]['FAMI_NAME']}</td>
        <td>{$fami[$i]['BIRTH']}</td>
        <td>{$fami[$i]['CARD_ID']}</td>

    	<td><a href="{$fami[$i]['IMG1_NEW']}" target="_blank">{$fami[$i]['IMG1_OLD']}</a></td>
    	<td><a href="{$fami[$i]['IMG2_NEW']}" target="_blank">{$fami[$i]['IMG2_OLD']}</a></td>

        <td>{$fami[$i]['RELATION']}</td>
        <td>{$fami[$i]['LINK_NO']}</td>
        <td>{$fami[$i]['COM']}</td>
        <td>{$fami[$i]['POSITION']}</td>
      </tr>
      </for>
	</tbody>
  </table>
 
  <table>
    <head>
	  <tr>
	    <th colspan="6">员工资格认证信息</th>
	  </tr>
	  <tr>
	    <th style="width:40px">序号</th>
	    <th style="width:180px">证书名称</th>
	    <th style="width:70px">发证日期</th>
        <th style="width:200px">发证机关</th>
        <th style="width:170px">有效期</th>
        <th style="width:215px">文件</th>
	  </tr>
	</thead>
	<tbody>
	<for start="0" end="count($cert)">
    <tr>
      <td>{$cert[$i]['XH2']}</td>
      <td>{$cert[$i]['CERTIFY_NAME']}</td>
      <td>{$cert[$i]['SIGN_DATE']}</td>
      <td>{$cert[$i]['SIGN_UNIT']}</td>
      <td>{$cert[$i]['START_DATE']}--{$cert[$i]['END_DATE']}</td>
      <td><a href="{$cert[$i]['NEW_FILE_NAME']}" target="_blank">{$cert[$i]['OLD_FILE_NAME']}</a></td>
    </tr>  
    </for>
	</tbody>
  </table>
</div>

</block>