<extend name="./base"/>
<block name='title'>新员工录入</block>
<block name='css'>
	<style type="text/css">
		.btn{margin-left: 45%}
	</style>
</block>
<block name='login'>新员工录入</block>
<block name='body'>
	<div>
		<div class="queryGroup1">
			<form action="{:U('index/add?billId='.$billId.'&userName='.$userName)}" method="post">
				<div class="font1">
					<label>县市：</label>
					<select name="county_name">
				        <option value="莲都" {$da['COUNTY_NAME']=='莲都'?'selected':''}>莲都</option>
				        <option value="缙云" {$da['COUNTY_NAME']=='缙云'?'selected':''}>缙云</option>
				        <option value="青田" {$da['COUNTY_NAME']=='青田'?'selected':''}>青田</option>
				        <option value="云和" {$da['COUNTY_NAME']=='云和'?'selected':''}>云和</option>
				        <option value="庆元" {$da['COUNTY_NAME']=='庆元'?'selected':''}>庆元</option>
				        <option value="龙泉" {$da['COUNTY_NAME']=='龙泉'?'selected':''}>龙泉</option>
				        <option value="遂昌" {$da['COUNTY_NAME']=='遂昌'?'selected':''}>遂昌</option>
				        <option value="松阳" {$da['COUNTY_NAME']=='松阳'?'selected':''}>松阳</option>
				        <option value="景宁" {$da['COUNTY_NAME']=='景宁'?'selected':''}>景宁</option>
				        <option value="南城" {$da['COUNTY_NAME']=='南城'?'selected':''}>南城</option>
					</select>
					<label>姓名：</label>
					<input type="text" name="user_name" value="{$da['USER_NAME']}">
					<label>性别：</label>
					<select name="sex">
				        <option value="男" {$da['SEX']=='男'?'selected':''}>男</option>
				        <option value="女" {$da['SEX']=='女'?'selected':''}>女</option>
					</select>
					<label>联系方式：</label>
					<input type="text" name="bill_id" value="{$da['BILL_ID']}">
					<label>出生年月：</label>
					<input type='text' name='birth_date' onClick="WdatePicker()" value="{$da['BIRTH_DATE']}" />
					<label>身份证号：</label>
					<input type="text" name="id_card" value="{$da['ID_CARD']}">
					<label>最高学历：</label>
					<select name="edu_degree">
				        <option value='初中及以下' {$da['EDU_DEGREE']=='初中及以下'?'selected':''}>初中及以下</option>
				        <option value='中专' {$da['EDU_DEGREE']=='中专'?'selected':''}>中专</option>
				        <option value='高中' {$da['EDU_DEGREE']=='高中'?'selected':''}>高中</option>
				        <option value='大学专科' {$da['EDU_DEGREE']=='大学专科'?'selected':''}>大学专科</option>
				        <option value='大学本科' {$da['EDU_DEGREE']=='大学本科'?'selected':''}>大学本科</option>
				        <option value='硕士研究生' {$da['EDU_DEGREE']=='硕士研究生'?'selected':''}>硕士研究生</option>
				        <option value='博士研究生' {$da['EDU_DEGREE']=='博士研究生'?'selected':''}>博士研究生</option>
				        <option value='双学位' {$da['EDU_DEGREE']=='双学位'?'selected':''}>双学位</option>
					</select>
					<label>工作地点：</label>
					<input type="text" name="work_place" value="{$da['WORK_PLACE']}">
					<label>服务起始时间：</label>
					<input type='text' name='service_start' onClick="WdatePicker()" value="{$da['SERVICE_START']}"/>
					<label>劳动合同起始日：</label>
					<input type='text' name='contract_start' onClick="WdatePicker()" value="{$da['CONTRACT_START']}"/>
					<label>劳动合同到期日：</label>
					<input type='text' name='contract_end' onClick="WdatePicker()" value="{$da['CONTRACT_END']}"/>
					<label>有无介绍信：</label>
					<select name="reference">
				        <option value="有" {$da['REFERENCE']=='有'?'selected':''}>有</option>
				        <option value="无" {$da['REFERENCE']=='无'?'selected':''}>无</option>
					</select>
				</div>
				<div class="font1">
					<label>劳动合同（复印件）有无报备：</label>
					<select name="contract_report">
				        <option value="有" {$da['CONTRACT_REPORT']=='有'?'selected':''}>有</option>
				        <option value="无" {$da['CONTRACT_REPORT']=='无'?'selected':''}>无</option>
					</select>
					<label>密协议（复印件）有无报备：</label>
					<select name="agreement_report">
				        <option value="有" {$da['AGREEMENT_REPORT']=='有'?'selected':''}>有</option>
				        <option value="无" {$da['AGREEMENT_REPORT']=='无'?'selected':''}>无</option>
					</select>
					<label>承诺书》（原件）有无报备：</label>
					<select name="pledge_report">
				        <option value="有" {$da['PLEDGE_REPORT']=='有'?'selected':''}>有</option>
				        <option value="无" {$da['PLEDGE_REPORT']=='无'?'selected':''}>无</option>
					</select>
					<label>月收入是否低于最低工资标准：</label>
					<select name="income">
				        <option value="是" {$da['INCOME']=='是'?'selected':''}>是</option>
				        <option value="否" {$da['INCOME']=='否'?'selected':''}>否</option>
					</select>
					<label>是否及时依法缴纳社会保险：</label>
					<select name="safe">
				        <option value="是" {$da['SAFE']=='是'?'selected':''}>是</option>
				        <option value="否" {$da['SAFE']=='否'?'selected':''}>否</option>
					</select>
					<label>现住址：</label>
					<input type="text" name="address" value="{$da['ADDRESS']}">
					<label>户籍住址：</label>
					<input type="text" name="family_address" value="{$da['FAMILY_ADDRESS']}">
					<label>岗位：</label>
					<input type="text" name="dept" value="{$da['DEPT']}">
					<label>民族：</label>
					<input type="text" name="nation" value="{$da['NATION']}">
					<label>毕业学校：</label>
					<input type="text" name="edu_school" value="{$da['EDU_SCHOOL']}">
					<label>所学专业：</label>
					<input type="text" name="edu_major" value="{$da['EDU_MAJOR']}">
					<label>备注：</label>
					<textarea style="width: 300px;height: 40px;" name="remark" value="{$da['REMARK']}"></textarea>
				</div>
				<button class="btn">保存</button>
			</form>
		</div>
		<!-- <div style="height:50px">
			<label>县市：</label>
			<label>姓名：</label>
			<label>性别：</label>
		</div>
		<div style="height:50px"></div>
		<div style="height:50px"></div>
		<div style="height:50px"></div>
		<div style="height:50px"></div>
		<div style="height:50px"></div>
		<div style="height:50px"></div>
		<div style="height:50px"></div> -->
	</div>
</block>
<block name='js'>
	<script type="text/javascript">
	</script>
</block>