<!DOCTYPE html>
<html data-dpr="1">
<head>
<meta charset="utf-8">
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<style type="text/css">
	*{margin:0px;padding: 0px;}
	.sm{background: red;width: 7rem;height: 1.3rem;line-height: 1.3rem;margin-left: 1.5rem;margin-top: 0.5rem;font-size: 0.5rem;color: yellow;border-radius: 50% 0;}
	</style>
</head>
<body>
    <div>
        <div style="position: absolute;z-index:99998;background: #0081CC;text-align: center;font-size: 0.6rem;height: 1rem;color: #fff;width: 10rem;line-height: 1rem;">全员赛马</div>
        <a href="{:U('android/main')}" style="position: absolute;z-index: 99999;"><img src="__IMG__/retreat.png" style="width: 1rem;height: 1rem"></a>
        <img src="__IMG__/logo.jpg" style="width: 10rem;height: 5rem;">
    </div>
	<div style="text-align: center;background: #0F8EE2;width: 10rem;position: absolute;padding-bottom: 1rem;">
		<a href="{:U('android/ad_index')}"><div class="sm">全员赛马</div></a>
		<a href="{:U('android/ad_ing')}"><div class="sm">成长积分</div></a>
		<a href="{:U('android/ad_qysm')}"><div class="sm">荣誉榜</div></a>
		<a href="#"><div class="sm">先锋榜</div></a>
		<a href="#"><div class="sm">市公司人员评测</div></a>
	</div>
</body>

<script type="text/javascript">
    ;(function(win, lib) {
    var doc = win.document;
    var docEl = doc.documentElement;
    var metaEl = doc.querySelector('meta[name="viewport"]');
    var flexibleEl = doc.querySelector('meta[name="flexible"]');
    var dpr = 0;
    var scale = 0;
    var tid;
    var flexible = lib.flexible || (lib.flexible = {});
    
    if (metaEl) {
        console.warn('将根据已有的meta标签来设置缩放比例');
        var match = metaEl.getAttribute('content').match(/initial\-scale=([\d\.]+)/);
        if (match) {
            scale = parseFloat(match[1]);
            dpr = parseInt(1 / scale);
        }
    } else if (flexibleEl) {
        var content = flexibleEl.getAttribute('content');
        if (content) {
            var initialDpr = content.match(/initial\-dpr=([\d\.]+)/);
            var maximumDpr = content.match(/maximum\-dpr=([\d\.]+)/);
            if (initialDpr) {
                dpr = parseFloat(initialDpr[1]);
                scale = parseFloat((1 / dpr).toFixed(2));    
            }
            if (maximumDpr) {
                dpr = parseFloat(maximumDpr[1]);
                scale = parseFloat((1 / dpr).toFixed(2));    
            }
        }
    }

    if (!dpr && !scale) {
        var isAndroid = win.navigator.appVersion.match(/android/gi);
        var isIPhone = win.navigator.appVersion.match(/iphone/gi);
        var devicePixelRatio = win.devicePixelRatio;
        if (isIPhone) {
            // iOS下，对于2和3的屏，用2倍的方案，其余的用1倍方案
            if (devicePixelRatio >= 3 && (!dpr || dpr >= 3)) {                
                dpr = 3;
            } else if (devicePixelRatio >= 2 && (!dpr || dpr >= 2)){
                dpr = 2;
            } else {
                dpr = 1;
            }
        } else {
            // 其他设备下，仍旧使用1倍的方案
            dpr = 1;
        }
        scale = 1 / dpr;
    }

    docEl.setAttribute('data-dpr', dpr);
    if (!metaEl) {
        metaEl = doc.createElement('meta');
        metaEl.setAttribute('name', 'viewport');
        metaEl.setAttribute('content', 'initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
        if (docEl.firstElementChild) {
            docEl.firstElementChild.appendChild(metaEl);
        } else {
            var wrap = doc.createElement('div');
            wrap.appendChild(metaEl);
            doc.write(wrap.innerHTML);
        }
    }

    function refreshRem(){
        var width = docEl.getBoundingClientRect().width;
        /*if (width / dpr > 540) {
            width = 540 * dpr;
        }*/
        var rem = width / 10;
        docEl.style.fontSize = rem + 'px';
        flexible.rem = win.rem = rem;
    }

    win.addEventListener('resize', function() {
        clearTimeout(tid);
        tid = setTimeout(refreshRem, 300);
    }, false);
    win.addEventListener('pageshow', function(e) {
        if (e.persisted) {
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
        }
    }, false);

    if (doc.readyState === 'complete') {
        doc.body.style.fontSize = 12 * dpr + 'px';
    } else {
        doc.addEventListener('DOMContentLoaded', function(e) {
            doc.body.style.fontSize = 12 * dpr + 'px';
        }, false);
    }
    

    refreshRem();

    flexible.dpr = win.dpr = dpr;
    flexible.refreshRem = refreshRem;
    flexible.rem2px = function(d) {
        var val = parseFloat(d) * this.rem;
        if (typeof d === 'string' && d.match(/rem$/)) {
            val += 'px';
        }
        return val;
    }
    flexible.px2rem = function(d) {
        var val = parseFloat(d) / this.rem;
        if (typeof d === 'string' && d.match(/px$/)) {
            val += 'rem';
        }
        return val;
    }

})(window, window['lib'] || (window['lib'] = {}));
</script>
</html>























































































































































































<!-- <!doctype html>
<html data-dpr="1">
<head>
<meta charset="utf-8">
<title>手机网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="author" content="duanliang, duanliang920.com" />
<style>
	*{margin: 0px;padding:0px;}
	canvas{margin: 1rem 0 0.5rem 1rem;width: 3.5rem;height: 2rem;background:#999;padding: 0.75rem 0;}
</style>
 </head>
 
<body>
    <div class="viewport">
        <div>
        	<a style="position: absolute;z-index: 99999;"><img src="__IMG__/retreat.png" width="30px" height="30px;"></a>
        	<img src="" style="width: 100%;height: 4rem;border: 1px solid red;">
        </div>
        <a href="{:U('android/ad_qysm')}"><canvas id="sm"></canvas></a>
        <canvas id="rl"></canvas>
        <canvas id="bj"></canvas>
        <canvas id="kz" style="background: #eee"></canvas>
        <div style="padding-bottom: 60px;overflow: hidden;">
        	<a href="{:U('android/ad_qysm')}"><div class="btn">全 员<br/>赛 马</div></a>
        	<div class="btn">人 力<br/>管 理</div>
        	<div class="btn add">便 捷<br/>作 业</div>
        	<div class="btn" style="background:#eee"><a href="javascript:;" class="b"style="line-height: 80px;color: #fff;font-family: '华文琥珀'";>+</a></div>
        </div>
    </div>
</body>

<script type="text/javascript" src="__STATIC__/jquery-1.8.3.min.js"></script> 
<script type="text/javascript">
var c=document.getElementById("sm");
var ctx=c.getContext("2d");
ctx.font="60px arial";
ctx.fillStyle="white";
ctx.fillText("全   员",70,60);
ctx.fillText("赛   马",70,130);
var c1=document.getElementById("rl");
var ctx1=c1.getContext("2d");
ctx1.font="60px 华文彩云";
ctx1.fillStyle="white";
ctx1.fillText("人   力",70,60);
ctx1.fillText("管   理",70,130);
var c2=document.getElementById("bj");
var ctx2=c2.getContext("2d");
ctx2.font="60px 华文彩云";
ctx2.fillStyle="white";
ctx2.fillText("便   捷",70,60);
ctx2.fillText("作   业",70,130);
var c3=document.getElementById("kz");
var ctx3=c3.getContext("2d");
ctx3.font="100px 华文琥珀";
ctx3.fillStyle="white";
ctx3.fillText("+",120,120);
</script>
<script type="text/javascript">
	;(function(win, lib) {
    var doc = win.document;
    var docEl = doc.documentElement;
    var metaEl = doc.querySelector('meta[name="viewport"]');
    var flexibleEl = doc.querySelector('meta[name="flexible"]');
    var dpr = 0;
    var scale = 0;
    var tid;
    var flexible = lib.flexible || (lib.flexible = {});
    
    if (metaEl) {
        console.warn('将根据已有的meta标签来设置缩放比例');
        var match = metaEl.getAttribute('content').match(/initial\-scale=([\d\.]+)/);
        if (match) {
            scale = parseFloat(match[1]);
            dpr = parseInt(1 / scale);
        }
    } else if (flexibleEl) {
        var content = flexibleEl.getAttribute('content');
        if (content) {
            var initialDpr = content.match(/initial\-dpr=([\d\.]+)/);
            var maximumDpr = content.match(/maximum\-dpr=([\d\.]+)/);
            if (initialDpr) {
                dpr = parseFloat(initialDpr[1]);
                scale = parseFloat((1 / dpr).toFixed(2));    
            }
            if (maximumDpr) {
                dpr = parseFloat(maximumDpr[1]);
                scale = parseFloat((1 / dpr).toFixed(2));    
            }
        }
    }

    if (!dpr && !scale) {
        var isAndroid = win.navigator.appVersion.match(/android/gi);
        var isIPhone = win.navigator.appVersion.match(/iphone/gi);
        var devicePixelRatio = win.devicePixelRatio;
        if (isIPhone) {
            // iOS下，对于2和3的屏，用2倍的方案，其余的用1倍方案
            if (devicePixelRatio >= 3 && (!dpr || dpr >= 3)) {                
                dpr = 3;
            } else if (devicePixelRatio >= 2 && (!dpr || dpr >= 2)){
                dpr = 2;
            } else {
                dpr = 1;
            }
        } else {
            // 其他设备下，仍旧使用1倍的方案
            dpr = 1;
        }
        scale = 1 / dpr;
    }

    docEl.setAttribute('data-dpr', dpr);
    if (!metaEl) {
        metaEl = doc.createElement('meta');
        metaEl.setAttribute('name', 'viewport');
        metaEl.setAttribute('content', 'initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
        if (docEl.firstElementChild) {
            docEl.firstElementChild.appendChild(metaEl);
        } else {
            var wrap = doc.createElement('div');
            wrap.appendChild(metaEl);
            doc.write(wrap.innerHTML);
        }
    }

    function refreshRem(){
        var width = docEl.getBoundingClientRect().width;
        /*if (width / dpr > 540) {
            width = 540 * dpr;
        }*/
        var rem = width / 10;
        docEl.style.fontSize = rem + 'px';
        flexible.rem = win.rem = rem;
    }

    win.addEventListener('resize', function() {
        clearTimeout(tid);
        tid = setTimeout(refreshRem, 300);
    }, false);
    win.addEventListener('pageshow', function(e) {
        if (e.persisted) {
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
        }
    }, false);

    if (doc.readyState === 'complete') {
        doc.body.style.fontSize = 12 * dpr + 'px';
    } else {
        doc.addEventListener('DOMContentLoaded', function(e) {
            doc.body.style.fontSize = 12 * dpr + 'px';
        }, false);
    }
    

    refreshRem();

    flexible.dpr = win.dpr = dpr;
    flexible.refreshRem = refreshRem;
    flexible.rem2px = function(d) {
        var val = parseFloat(d) * this.rem;
        if (typeof d === 'string' && d.match(/rem$/)) {
            val += 'px';
        }
        return val;
    }
    flexible.px2rem = function(d) {
        var val = parseFloat(d) / this.rem;
        if (typeof d === 'string' && d.match(/px$/)) {
            val += 'rem';
        }
        return val;
    }

})(window, window['lib'] || (window['lib'] = {}));
</script>

</html> -->
