
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">  
    <html>  
    <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">  
    <title>左右布局（右侧定宽，左侧自适应宽）</title>  
    <style type="text/css">  
    body{font:12px arial;color:#000;background:#fff;margin:0}  
    #header{height:50px;color:#fff;background:#666;line-height:50px;margin-bottom:10px}  
    #content{width:100%;color:#fff;float:left;margin-right:-240px}  
    #content_inner{height:400px;background:#666;margin-right:240px}  
    #side{width:230px;height:400px;color:#fff;background:#666;float:right}  
    #footer{height:50px;color:#fff;background:#666;margin-top:10px}  
    .clear{clear:both}  
    </style>  
    </head>  
      
    <body>  
    <div id="header">顶部</div>  
      
    <div id="content">  
        <div id="content_inner">左侧</div>  
    </div>  
    <div id="side">右侧</div>  
    <div class="clear"></div>  
      
    <div id="footer">底部</div>  
    </body>  
    </html> 