<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CW主营业务维护</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="__PUBLIC__/easyui/themes/default/easyui.css" />
<link rel="stylesheet" href="__PUBLIC__/easyui/themes/icon.css" />
<link rel="stylesheet" href="__PUBLIC__/Attendance/style/index.css" />
<script type="text/javascript">
var ThinkPHP = {
	'ROOT' : '/ranking',
	'MODULE' : '/ranking/Cwinfo',
	'INDEX' : '/ranking/Cwinfo/Index/index.html',
};
</script>
</head>
<body class="easyui-layout">

<div data-options="region:'north',title:'header',split:false,noheader:true" style="height:60px;background:#19b5ee;">
	<div class="logo">CW主营业务维护</div>
	<div class="logout">您好，<?php echo $_SESSION[user_auth][OA]?></div>
	<!-- <div class="logout">您好，<?php echo $_SESSION[user_auth][OA]?> | <a href="logout.php">退出</a></div> -->
</div>   
<div data-options="region:'south',title:'footer',split:false,noheader:true" style="height:35px;line-height:30px;text-align:center;background: #19b5ee;">
	&copy; Powered by PHP and EasyUI.
</div>    
<div data-options="region:'west',title:'导航',split:false,iconCls:'icon-world'" style="width:180px;padding:10px;">
	<ul id="nav"></ul>
</div>   
<div data-options="region:'center'" style="overflow:hidden;background: #fff">
	<div id="tabs">
		<div title="起始页" iconCls="icon-house" style="padding: 0 10px;display: block;">
			welcome
		</div>
	</div>
<!-- 	<table id="main_bisuness"></table>
	<table id="bill_info"></table>
	<div id="manager_tool" style="padding: 5px 0;">
		<div style="margin-bottom: 5px;">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="add();">添加</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="edit();">操作</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="remove();">删除</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="reload();">刷新</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onclick="redo();">取消</a>
		</div>
		<div style="padding: 0 0 0 7px;color: #333;">
			表名：<input type="text" class="textbox" name="table_name" style="width: 110px;height: 22px;">
			打卡时间从：<input type="text" name="start_time" class="easyui-datebox" editable="false" style="width: 110px;">
			到：<input type="text" name="end_time" class="easyui-datebox" editable="false" style="width: 110px;">
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searches();">查询</a>
		</div>
	</div>
	<form id="manager_add" style="margin: 0;padding: 5px 0 0 25px;color: #333;">
		<p>管理帐号：<input type="text" name="manager" class="textbox" style="width: 200px;"></p>
		<p>管理密码：<input type="password" name="password" class="textbox" style="width: 200px;"></p>
		<p>分配权限：<input id="auth" name="auth" class="textbox" style="width: 205px;"></p>
	</form>

	<form id="manager_edit" style="margin: 0;padding: 5px 0 0 25px;color: #333">
		<input type="hidden" name="empl_dept" class="textbox" style="width: 200px;">
		<input type="hidden" name="empl_type" class="textbox" style="width: 200px;" />
		<p>员工编号：<input type="text" name="empl_no" class="textbox" readonly style="width: 200px;"></p>
		<p>员工姓名：<input type="text" name="empl_name" class="textbox" readonly style="width: 200px;" id="empl_name" /></p>
		<p>打卡时间：<input type="text" name="clock_day" class="textbox" readonly style="width: 200px;" /></p>
		<p>原因说明：<textarea name="reason" id="reason" class="textarea" style="width: 200px;height: 60px;"></textarea></p>
	</form> -->
</div> 
<script type="text/javascript" src="__PUBLIC__/easyui/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/Attendance/js/index.js"></script>

<script type="text/javascript">
$(function(){
	var url = "{:U('Index/index_list')}";
	$("#main_business").datagrid({
		url:url,
		fit:true,
		fitColumns:true,
		striped:true,
		rownumbers:true,
		border:false,
		pagination:true,
		pageSize:20,
		pageList:[10,20,30,40,50],
		pageNumber:1,
		sortName:'date',
		sortOrder:'desc',
		toolbar:'#manager_tool',
		columns:[[
			{
				field:'ID',
				title:'编号',
				width:100,
				checkbox:true
			},
			{
				field:'SUBJECT_NAME',
				title:'科目名称',
				width:100
			},
			{
				field:'SUBJECT_NAME_NEW',
				title:'新名称',
				width:100
			},
			{
				field:'DUTY_PERSON',
				title:'负责人',
				width:100
			},
			{
				field:'DUTY_DEPT',
				title:'负责部门',
				width:100
			}
		]]
	}).datagrid({loadFilter:pagerFilter});

	

	

	//datagrid分页
	function pagerFilter(data){
        if (typeof data.length == 'number' && typeof data.splice == 'function'){    // 判断数据是否是数组
            data = {
                total: data.length,
                rows: data
            }
        }
        var dg = $(this);
        var opts = dg.datagrid('options');
        var pager = dg.datagrid('getPager');
        pager.pagination({
            onSelectPage:function(pageNum, pageSize){
                opts.pageNumber = pageNum;
                opts.pageSize = pageSize;
                pager.pagination('refresh',{
                    pageNumber:pageNum,
                    pageSize:pageSize
                });
                dg.datagrid('loadData',data);
            }
        });
        if (!data.originalRows){
            data.originalRows = (data.rows);
        }
        var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
        var end = start + parseInt(opts.pageSize);
        data.rows = (data.originalRows.slice(start, end));
        return data;
    }

    $("#tabs").tabs({
    	fit:true,
    	border:false
    });

    $("#nav").tree({
    	data:[
    		{
    			text:'菜单',
    			state:'closed',
    			children:[
    				{
    					id:'1',
    					text:'主营业务表',
    					url:"index/main_business"
    				},
    				{
    					id:'2',
    					text:'账单科目明细表',
    					url:'index/bill_info'
    				},
    				{
    					id:'3',
    					text:'数据导入',
    					url:'index/import_data'
    				}
    			]
    		}
    	],
    	onLoadSuccess:function(node,data){
    		var _this = this;
    		if(data){
    			$(data).each(function(index,value){
    				if(this.state == 'closed'){
    					$(_this).tree('expandAll');
    				}
    			});
    		}
    	},
    	onClick:function(node){
    		if(node.url){
    			if($('#tabs').tabs('exists',node.text)){
    				$('#tabs').tabs('select',node.text);
    			}else{
    				$("#tabs").tabs('add',{
    					title:node.text,
    					iconCls:node.iconCls,
    					closable:true,
    					href:ThinkPHP['MODULE']+'/'+node.url
    				})
    			}
    		}
    	}
    });
});

</script>
</body>
</html>