<ul class="infoUL user_info2_1 xs">
	<li title="更新时间">更新时间<span class="更新时间">--</span></li><li></li><li></li><li></li>
 	<li title=有效放号目标>有效放号目标<span class="有效放号目标"></span></li>
	<li title=放号量>放号量<span class="放号量"></span></li>
	<li title=放号有效占比>放号有效占比<span class="放号有效占比"></span></li>
	<li title=当月放号得分>当月放号得分<span class="当月放号得分"></span></li>
	<li title=有效终端目标>有效终端目标<span class="有效终端目标"></span></li>
	<li title=终端有效量>终端有效量<span class="终端有效量"></span></li>
	<li title=终端有效占比>终端有效占比<span class="终端有效占比"></span></li>
	<li title=终端销售得分>终端销售得分<span class="终端销售得分"></span></li>
	<li title=宽带目标>宽带目标<span class="宽带目标"></span></li>
	<li title=宽带竣工>宽带竣工<span class="宽带竣工"></span></li>
	<li title=宽带完成率>宽带完成率<span class="宽带完成率"></span></li>
	<li title=宽带完成得分>宽带完成得分<span class="宽带完成得分"></span></li>
	<li title=手厅活跃目标>手厅活跃目标<span class="手厅活跃目标"></span></li>
	<li title=手厅活跃>手厅活跃<span class="手厅活跃"></span></li>
	<li title=手厅活跃占比>手厅活跃进度<span class="手厅活跃占比"></span></li>
	<li title=手厅活跃得分>手厅活跃得分<span class="手厅活跃得分"></span></li>
	<li title=VOLTE活跃目标>VOLTE活跃目标<span class="VOLTE活跃目标"></span></li>
	<li title=VOLTE量>VOLTE量<span class="VOLTE量"></span></li>
	<li title=VOLTE活跃占比>VOLTE活跃占比<span class="VOLTE活跃占比"></span></li>
	<li title=VOLTE活跃得分>VOLTE活跃得分<span class="VOLTE活跃得分"></span></li>
	<li title=终端使用量>终端使用量<span class="终端使用量"></span></li>
	<li title=终端50M流量包>终端50M流量包<span class="终端50M流量包"></span></li>
	<li title=终端50M流量包占比>终端50M流量包占比<span class="终端50M流量包占比"></span></li>
	<li title=终端50流量包得分>终端50流量包得分<span class="终端50流量包得分"></span></li>
	<li title=咪咕爱看目标>咪咕爱看目标<span class="咪咕爱看目标"></span></li>
	<li title=咪咕爱看量>咪咕爱看量<span class="咪咕爱看量"></span></li>
	<li title=咪咕爱看占比>咪咕爱看占比<span class="咪咕爱看占比"></span></li>
	<li title=咪咕爱看得分>咪咕爱看得分<span class="咪咕爱看得分"></span></li>
	<li title=宽带达标目标>宽带达标目标<span class="宽带达标目标"></span></li>
	<li title=宽带参与率>宽带渠道参与率<span class="达标率"></span></li>
	<li title=宽带参与率得分>宽带参与率得分<span class="宽带参与率得分"></span></li>
	<li title=宣传展陈不达标家数>宣传展陈不达标家数<span class="宣传展陈不达标家数"></span></li>
	<li title=宣传展陈达标得分>宣传展陈达标得分<span class="宣传展陈达标得分"></span></li>
	<li title=渠道4G专卖>渠道4G专卖<span class="渠道4G专卖"></span></li>
	<li title=手机APP使用率>手机APP使用率<span class="手机APP使用率"></span></li>
	<li title=无纸化打印成功达标率>无纸化打印成功达标率<span class="无纸化打印成功达标率"></span></li>
	<li title=政策知晓度>政策知晓度<span class="政策知晓度"></span></li>
	<li title=执行力考核>执行力考核<span class="执行力考核"></span></li>
	<li title=集中化考核>集中化考核<span class="集中化考核"></span></li>
	<li title=触点满意度得分>触点满意度得分<span class="触点满意度得分"></span></li>
	<li title=渠道双禁违规家数>渠道双禁违规家数<span class="渠道双禁违规家数"></span></li>
	<li title=渠道双禁违规>渠道双禁违规<span class="渠道双禁违规"></span></li>
	<li title=渠道实名制违反违规家数>渠道实名制违反违规家数<span class="渠道实名制违反违规家数"></span></li>
	<li title=渠道实名制违反违规>渠道实名制违反违规<span class="渠道实名制违反违规"></span></li>
	<li title=渠道套利违规家数>渠道套利违规家数<span class="渠道套利违规家数"></span></li>
	<li title=渠道套利违规>渠道套利违规<span class="渠道套利违规"></span></li>
	<li title=渠道违规分销>渠道违规分销<span class="渠道违规分销"></span></li>
	<li title=渠道违规分销得分>渠道违规分销得分<span class="渠道违规分销得分"></span></li>
	<li title=月度技能测试>月度技能测试<span class="月度技能测试"></span></li>
</ul>