		<ul class="infoUL user_info2_1">
			<li title="更新时间">更新时间<span class="更新时间">--</span></li>
			<li></li>
			<li></li>
		</ul>
		
		<ul class="infoUL user_info2_1  ">
			<li title="专线收入目标">专线收入目标<span class="专线收入目标">--</span></li>
			<li title="专线收入">专线收入<span class="专线收入">--</span></li>
			<li title="专线得分">专线得分<span class="专线得分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1  ">
			<li title="流量统付目标">流量统付目标<span class="流量统付目标">--</span></li>
			<li title="流量收入">流量收入<span class="流量收入">--</span></li>
			<li title="流量统付收入分">流量统付收入分<span class="流量统付收入分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="短彩信目标">短彩信目标<span class="短彩信目标">--</span></li>
			<li title="短彩信收入">短彩信收入<span class="短彩信收入">--</span></li>
			<li title="短彩信收入分">短彩信收入分<span class="短彩信收入分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="和教育">和教育<span class="和教育">--</span></li>
			<li title="和腕表">和腕表<span class="和腕表">--</span></li>
			<li title="腕表得分">腕表得分<span class="腕表得分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="宽带目标">宽带目标<span class="宽带目标">--</span></li>
			<li title="宽带完成数">宽带完成数<span class="宽带完成数">--</span></li>
			<li title="宽带得分">宽带得分<span class="宽带得分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="集团划账目标">集团划账目标<span class="集团划账目标">--</span></li>
			<li title="划出金额">划出金额<span class="划出金额">--</span></li>
			<li title="划账得分">划账得分<span class="划账得分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="三类人物目标">三类人物目标<span class="三类人物目标">--</span></li>
			<li title="活跃率">活跃率<span class="活跃率">--</span></li>
			<li title="三类活跃得分">三类活跃得分<span class="三类活跃得分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="后视镜目标">后视镜目标<span class="后视镜目标">--</span></li>
			<li title="智能后视镜数">智能后视镜数<span class="智能后视镜数">--</span></li>
			<li title="智能后视镜分">智能后视镜分<span class="智能后视镜分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="流量包目标">流量包目标<span class="流量包目标">--</span></li>
			<li title="完成量">完成量<span class="完成量">--</span></li>
			<li title="流量包分值">流量包分值<span class="流量包分值">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="视频王卡">视频王卡<span class="视频王卡">--</span></li>
			<li title="视频王">视频王<span class="视频王">--</span></li>
			<li title="视频王得分">视频王得分<span class="视频王得分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="咪咕爱看目标">咪咕爱看目标<span class="咪咕爱看目标">--</span></li>
			<li title="咪咕爱看完成数">咪咕爱看完成数<span class="咪咕爱看完成数">--</span></li>
			<li title="咪咕爱看得分">咪咕爱看得分<span class="咪咕爱看得分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="ABC目标">ABC目标<span class="ABC目标">--</span></li>
			<li title="净增值">净增值<span class="净增值">--</span></li>
			<li title="ABC得分">ABC得分<span class="ABC得分">--</span></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="集团保有得分">集团保有得分<span class="集团保有得分">--</span></li>
			<li title="异常分值">异常分值<span class="异常分值">--</span></li>
			<li></li>
		</ul>
		
		<ul class="infoUL user_info2_1 ">
			<li title="欠费率">欠费率<span class="欠费率">--</span></li>
			<li title="欠费得分">欠费得分<span class="欠费得分">--</span></li>
			<li></li>
		</ul>