<ul class="infoUL user_info2_1">  
	<li class="hide" title="数据日期">数据日期<span  class="数据日期">--</span></li>	
	<li title="数据日期">数据日期<span  class="数据日期2">--</span></li>	
	<li title=""><span ></span></li>
	<li title=""><span ></span></li>							                      

	<li title="新增有效用户目标">新增有效用户目标<span class="新增有效用户目标">--</span></li>
	<li title="新增有效用户发展">新增有效用户发展<span class="新增有效用户发展">--</span></li>
	<li title="新增有效用户发展得分">新增有效用户发展得分<span class="新增有效用户发展得分">--</span></li>
 
	<li title="新入网客户500M以上套餐办理目标">新入网客户500M以上套餐办理目标<span class="新入网客户500M以上套餐办理目标">--</span></li>
	<li title="新入网客户500M以上套餐办理率">新入网客户500M以上套餐办理率<span class="新入网客户500M以上套餐办理率">--</span></li>
	<li title="新入网客户500M以上套餐办理得分">新入网客户500M以上套餐办理得分<span class="新入网客户500M以上套餐办理得分">--</span></li>
	
	<li title="四G有效终端目标">4G有效终端目标<span class="四G有效终端目标">--</span></li>		 
	<li title="四G有效终端销量">4G有效终端销量<span class="四G有效终端销量">--</span></li>
	<li title="四G有效终端发展得分">4G有效终端发展得分<span class="四G有效终端发展得分">--</span></li>
 
	<li title="拍照23G流量客户迁转到目标">拍照23G流量客户迁转到目标<span class="拍照23G流量客户迁转到目标">--</span></li>
	<li title="拍照23G流量客户迁转到达量">拍照23G流量客户迁转到达量<span class="拍照23G流量客户迁转到达量">--</span></li>
	<li title="拍照23G流量客户迁转到达得分">拍照23G流量客户迁转到达得分<span class="拍照23G流量客户迁转到达得分">--</span></li>
	 
	<li title="飞享50元及以上流量模组目标">飞享50元及以上流量模组目标<span class="飞享50元及以上流量模组目标">--</span></li>
	<li title="飞享50元及以上流量模组办理量">飞享50元及以上流量模组办理量<span class="飞享50元及以上流量模组办理量">--</span></li>
	<li title="飞享50元及以上流量模组得分">飞享50元及以上流量模组得分<span class="飞享50元及以上流量模组得分">--</span></li>
	 
	<li title="有线宽带发展目标">有线宽带发展目标<span class="有线宽带发展目标">--</span></li>
	<li title="有线宽带发展">有线宽带发展<span class="有线宽带发展">--</span></li>
	<li title="有线宽带发展得分">有线宽带发展得分<span class="有线宽带发展得分">--</span></li>
	 
	<li title="宽带电视发展目标">宽带电视发展目标<span class="宽带电视发展目标">--</span></li>
	<li title="宽带电视发展">宽带电视发展<span class="宽带电视发展">--</span></li>
	<li title="宽带电视发展得分">宽带电视发展得分<span class="宽带电视发展得分">--</span></li>
 
	<li title="咪咕爱看活跃用户发展目标">咪咕爱看活跃用户发展目标<span class="咪咕爱看活跃用户发展目标">--</span></li>
	<li title="咪咕爱看活跃用户发展量">咪咕爱看活跃用户发展量<span class="咪咕爱看活跃用户发展量">--</span></li>
	<li title="咪咕爱看活跃用户发展得分">咪咕爱看活跃用户发展得分<span class="咪咕爱看活跃用户发展得分">--</span></li>
	 
	<li title="手机营业厅活跃用户目标">手机营业厅活跃用户目标<span class="手机营业厅活跃用户目标">--</span></li>
	<li title="手机营业厅活跃用户">手机营业厅活跃用户<span class="手机营业厅活跃用户">--</span></li>
	<li title="手机营业厅活跃用户得分">手机营业厅活跃用户得分<span class="手机营业厅活跃用户得分">--</span></li>

	<li title="日本月累计飞享套餐迁转目标">日本月累计飞享套餐迁转目标<span class="日本月累计飞享套餐迁转目标">--</span></li>
	<li title="日本月累计飞享套餐迁转量">日本月累计飞享套餐迁转量<span class="日本月累计飞享套餐迁转量">--</span></li>
	<li title="日本月累计飞享套餐迁转得分">日本月累计飞享套餐迁转得分<span class="日本月累计飞享套餐迁转得分">--</span></li>
</ul>