<extend name="pub/tpl"/>
<block name='main_show'>
<form action="{:U('Payment/payment_by_org')}" method="post" id="theForm">
	<input type="hidden" name="tabbs" value="2">
	<div class="search_div">
		<div class="group">
			<label>县市名称:</label>
			<select name="county_code" id="county_code">
				<option value="" {$county_code==''?selected:''}>全部</option>
				<option value="5781" {$county_code=='5781'?selected:''}>丽水</option>
				<option value="5782" {$county_code=='5782'?selected:''}>缙云</option>
				<option value="5783" {$county_code=='5783'?selected:''}>青田</option>
				<option value="5784" {$county_code=='5784'?selected:''}>云和</option>
				<option value="5785" {$county_code=='5785'?selected:''}>庆元</option>
				<option value="5786" {$county_code=='5786'?selected:''}>龙泉</option>
				<option value="5787" {$county_code=='5787'?selected:''}>遂昌</option>
				<option value="5788" {$county_code=='5788'?selected:''}>松阳</option>
				<option value="5789" {$county_code=='5789'?selected:''}>景宁</option>
				<option value="578B" {$county_code=='578B'?selected:''}>南城</option>
			</select>				
		</div>
		<div class="group">
			<label>渠道类型:</label>
			<input type="text" name="org_type"  value="{$org_type}" />
		</div>
		<div class="group1">
			<input type="button" class="search_btn" value="搜 索"/>
		</div>
		<div class="group1">
			<input type="button" class="exp_btn" value="导 出"/>
		</div>
	</div>
</form>
<div class="show_div" style="width: 940px;overflow-x:scroll;">
	<table style="width: 130%;">
		<tr>
			<th>县市</th>
			<th>渠道类型</th>
			<th>办理量</th>
			<th>发生金额</th>
			<th>可结算金额</th>
			<th>其中:未审核金额</th>
			<th>其中:已审核金额</th>
			<th>其中:已领取金额</th>
			<th>暂不能结算金额</th>
			<th>可领取金额</th>
			<th>零头金额</th>
		</tr>
		<empty name="lists" >
			<tr >
				<td colspan="11">暂无数据</td>
			</tr>
		<else/>	
		<volist name="lists" id="list">
			<tr>
				<td>{$list['COUNTY_NAME']}</td>
				<td>{$list['ORG_TYPE']}</td>
				<td>{$list['办理量3']}</td>
				<td>{$list['发生金额']}</td>
				<td>{$list['可结算金额']}</td>
				<td>{$list['未审核金额']}</td>
				<td>{$list['已审核金额']}</td>
				<td>{$list['已领取金额']}</td>
				<td>{$list['暂不可结算']}</td>
				<td>{$list['可领取金额']}</td>
				<td>{$list['零头金额']}</td>
			</tr>
		</volist>
		</empty>
	</table>
</div>
<div style="height: 30px;">
	{$_page}
</div>
</block>
<block name='js'>
	<script type="text/javascript">
		$(function(){
			$('.back_btn').click(function(){
				window.location="{:U('Login/payment_index')}";
			});
			$('.search_btn').click(function(){
				$('#theForm').submit();
			});

			$('.exp_btn').click(function(){
				window.location.href="{:U('Payment/payment_by_org_exp')}?org_type={$org_type}&county_code={$county_code}";
			});
		});
	</script>
</block>

