	*{margin:0;padding: 0;}
	.clear{clear: both; }
	.right_contain{width: 100%;border:0px solid red;}

	.right_contain h3{	height: 30px;
	line-height: 30px;	width: 100%;margin: 10px auto;
	text-align: center;	letter-spacing: 1px;color: #666;font-size: 14px;
	}

	.right_contain .right_item{
	width: 100%;margin: 10px auto ;border:0px solid green;or: #eee;	    	
	}

	.right_contain .right_item fieldset{margin:10px;
	}
	.group_div,.group_div1{width: 90%; height: 35px;line-height: 35px;text-align: left;	
	margin:0 auto 5px;
	}

	.group_div label,.group_file label{width: 30%;	height: 30px;line-height: 30px;
	font-size: 12px;color: #666;	text-align: left;	display: inline-block;	text-align: right;
	}

	.group_div input,.group_div select{	width: 65%;	height: 25px;line-height: 25px;	display:  inline-block;
	color: #666;	font-size: 13px;	font-weight: 500;	text-indent: 5px;	margin-top: 5px;
	border:1px solid #666;		
	}
	.group_div1 label{ width: 30%;	height: 30px;line-height: 30px;	font-size: 12px;color: #666;
	text-align: left;	display: inline-block;	text-align: right;	float: left;
	}	
	.group_div1 textarea{width: 65%;height: 100px;color: #666;font-size: 13px;font-weight: 500;
	text-indent: 5px;margin-top: 5px;border:1px solid #666;	display: inline-block;float: left;
	margin-left: 5px;
	}
    .group_div1 a {
    	display: inline-block;
    	margin-left: 10px;
    	color: #666;
    }
    .group_div1 a:hover{
    	color: #333;
    }
	.div_btn{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;			
	margin-top: 20px;

	}
	.div_btn input{
	width: 100px;
	height: 30px;
	font-size: 14px;
	color: #666;			
	text-align: center;
	border:1px solid #666;
	}

	.div_flow{
	width: 100%;
	height: 300px;			
	}

	.div_flow h3{			
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	letter-spacing: 1px;
	border:1px solid #fff;
	}

	.div_flow fieldset{
	margin:0 10px;
	}
	.div_flow  .flow_content{
	width: 100%;
	}
	.div_flow  .flow_content table{
	width: 98%;
	text-align: center;
	border-collapse: collapse;
	margin:5px;
	}
	.flow_content table tr{
	height: 25px;
	line-height: 25px;
	}
	.flow_content  td{
	border:1px solid #666;
	}

	button.ui-datepicker-current { display: none; }

	.readonly{
		background-color: #f7f7f7;
	}

		