<extend name="pub/tpl"/>
<block name="title">丽水MOA</block>
<block name="body">
<div class="ban hide"></div>    
  
    <header class="header">
        <a class="left_btn btn_back" href="#"></a>
        <h2>便捷查询</h2>
        <a class="right_btn btn_home" href="#"></a>
    </header>
    <div style="margin-top:80px;"/>
    <section class="index_con2">
        <div class="con_title">便捷查询</div>        
        <ul>        

            <li>    
                <a href="{:U('rank_cdhhc')}">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b7.png"></div>
                    <div class="con_box">
                        <h3>长短号互查</h3>                       
                    </div>
                </a>
            </li>
            <li>
                <a class="creating" href="javascript:;">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b7.png"></div>
                    <div class="con_box">
                        <h3>政企商机挖掘</h3>
                        <p> </p>
                    </div>
                </a>
            </li>
            <li>
                <a class="creating" href="javascript:;">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b7.png"></div>
                    <div class="con_box">
                        <h3>宽带盲区管理</h3>
                        <p> </p>
                    </div>
                </a>
            </li>
            <li>
                <a class="creating" href="javascript:;">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b7.png"></div>
                    <div class="con_box">
                        <h3>手机找回</h3>
                        <p> </p>
                    </div>
                </a>
            </li>             
        </ul>
        <div class="cb"></div>
    </section>
</block>
 