<extend name="pub/tpl"/>
<block name="title">丽水MOA</block>
<block name="body">
<div class="ban hide"></div>    
  
    <header class="header">
        <a class="left_btn btn_back" href="#"></a>
        <h2>电子流发起</h2>
        <a class="right_btn btn_home" href="#"></a>
    </header>
    <div style="margin-top:80px;"/>
    <section class="index_con2">
        <div class="con_title">电子流发起</div>        
        <ul>
            <li>    
                <a href="{:U('index/convenient_flow_kaoqin')}">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b7.png"></div>
                    <div class="con_box">
                        <h3>考勤审批(开发中)</h3>                       
                    </div>
                </a>
            </li>

            <li>
                <a  href="{:U('index/convenient_flow_paiche')}">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b7.png"></div>
                    <div class="con_box">
                        <h3>派车申请</h3>
                        <p> </p>
                    </div>
                </a>
            </li>
           
        </ul>
        <div class="cb"></div>
    </section>
</block>
 