<extend name="pub/tpl"/>
<block name="title">丽水MOA</block>
<block name="body">
<div class="ban hide"></div>
     
  
    <header class="header">
        <a class="left_btn btn_back" href="#"></a>
        <h2>市场营销</h2>
        <a class="right_btn btn_home" href="#"></a>
    </header>
    <div style="margin-top:80px;"/>
    <section class="index_con2">
        <div class="con_title">万场进驻营销</div>
        <ul>
            <li>    
                <a href="{:U('rank_service')}">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b3.png"></div>
                    <div class="con_box">
                        <h3>进驻营销登记</h3>
                        <p>万场进驻营销信息录入</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="{:U('rank_market_list')}">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b6.png"></div>
                    <div class="con_box">
                        <h3>营销登记清单</h3>
                        <p>进驻营销信息明细查询</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="{:U('rank_market_rpt')}">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b4.png"></div>
                    <div class="con_box">
                        <h3>进驻营销汇总</h3>
                        <p>进驻营销信息统计查询</p>
                    </div>
                </a>
            </li>
             
        </ul>
        <div class="cb"></div>
    </section>
    <section class="index_con2">
        <div class="con_title">千场服务计划</div>
        <ul>
            <li>    
                <a  href="{:U('plan_new')}">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b3.png"></div>
                    <div class="con_box">
                        <h3>服务计划录入</h3>
                        <p>千场服务计划信息填写</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="{:U('plan_query')}">
                    <div class="bd-r"></div>
                    <div class="icon_box"><img src="__IMG__/b6.png"></div>
                    <div class="con_box">
                        <h3>服务计划查询</h3>
                        <p>千场服务计划信息列表</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="cb"></div>

    </section>

     
 
</block>
 