<extend name="pub/tpl"/>

<block name="title">模块页面</block>
<block name="css">
<link href="__CSS__/list.css" rel="stylesheet" />
<link href="__CSS__/content.css" rel="stylesheet" />
</block>
    
<block name="body">   
    <header class="header">
        <a class="left_btn btn_back" href="#"></a>
        
        <a class="right_btn btn_home" href="#"></a>
    </header>

    <section class="sections list_con_2">
       <P>正在开发中.....</P>
    </section>

    <section class="sections list_con_2 info_con hide" >
        
    </section>
 
    <section class="sections list_con_2 hide"  >
    </section> 


</block>

<block name="js">
</block>