<extend name="./base_employee"/>
<block name="css">
  <style>
    .altrowstable{
  	  empty-cells:show; 
      border-collapse: collapse;
      margin:0 auto;
    }
    table th{
      white-space: nowrap;
    }
    table td{
      white-space: nowrap;
    }
  </style>
</block>

<block name="nav">
<nav class="nav" role="navigation">
  <div class="container-fluid bg-default">
    <div class="navbar">
      <a class="titleName" href="{:U('index')}">发票管理</a>
      <div style="position:fixed;top:0;right:15px;color:#fff;"><?php echo session('user_auth.OA');?></div>
    </div>
  </div>
</nav>
</block>

<block name="content">
<div class="btn-box">
  <button class="btn add"/>发票信息录入</button>
  <button class="btn exportexl"/>导出Excel</button>
</div>
<table class="altrowstable">
  <div style="font-size:14px;font-weight:600">发票信息列表：</div>
  <tr>
    <th style="width:25px"></th><th style="width:28px">发票编号</th>
    <th style="width:40px">开票人员</th><th style="width:30px">发票抬头单位</th>
    <th style="width:65px">发票内容名称</th><th style="width:100px">发票内容用途</th>
    <th style="width:40px">发票状态</th><th style="width:40px">操作</th>
  </tr>
  <volist name="invoice_list" id="il">
  <tr>
    <td></td><td>{$il['INVOICE_ID']}</td><td>{$il['EMPL_NAME']}</td><td>{$il['INVOICE_COMPANY']}</td><td>{$il['INVOICE_NAME']}</td><td>{$il['INVOICE_PURPOSE']}</td><td>{$il['INVOICE_STATUS']}</td><td><a class="back" href="{:U('invoice_back?id='.$il['INVOICE_ID'].'&status='.$il['STATUS'])}">退回</a>　|<a class="cancel" href="{:U('invoice_cancel?id='.$il['INVOICE_ID'].'&status='.$il['STATUS'])}">作废</a>　|<a class="verify" href="javascript:;" para="{$il['INVOICE_ID']}" status="{$il['STATUS']}">核销</a></td>
  </tr>
  </volist>
</table>
{$_page}

<block name="jsfile">
</block>

<block name="js">
<script>
$(function(){
  $(".tj").css("display","inline-block");
  var tjform = "{$tjGroup['0']}";
  if(tjform == '1'){
    $(".tjform").css("display","block");
  }else{
    $(".tjform").css("display","none");
  }
  var dept = "{$tjGroup['1']}";
  if(dept == '1'){
    $(".dept").css("display","inline-block");
  }else{
    $(".dept").css("display","none");
  }
  var sta = "{$tjGroup['2']}";
  if(sta == '1'){
    $(".sta").css("display","inline-block");
  }else{
    $(".sta").css("display","none");
  }

  var auditStatus = "{$deal_status}";
  $("select[name='deal_status']").val(auditStatus);//选中审批状态
  //查询页面操作的按钮组（角色权限控制）
  var create = "{$btnGroup['1']}";
  if(create!='1'){
    $(".add").css("display","inline-block");
  }else{
    $(".add").css("display","none");
  }
  var modify = "{$btnGroup['2']}";
  if(modify=='1'){
    $(".modify").css("display","inline-block");
  }else{
    $(".modify").css("display","none");
  }
  var audit = "{$btnGroup['3']}";
  if(audit=='1'){
    $(".audit").css("display","inline-block");
  }else{
    $(".audit").css("display","none");
  }
  var preview = "{$btnGroup['4']}";
  if(preview=='1'){
    $(".preview").css("display","inline-block");
  }else{
    $(".preview").css("display","none");
  }
  var exportexl = "{$btnGroup['5']}";
  if(exportexl=='1'){
    $(".exportexl").css("display","inline-block");
  }else{
    $(".exportexl").css("display","none");
  }

  $(".query").click(function(){
    document.form1.submit();
  });

  /* 审批状态是 空值 和 已办理 无 创建个人档案、修改、审批按钮;
   * 必须放在上面角色控制按钮的下面，否则无法控制
   */
  if(auditStatus==''){
    $("input[name='line']").css("display","none");
  }

  $(".add").click(function(){
    var id = "{$el['ID']}";
    location.href="{:U('Index/add')}";
  });

  $(".modify").click(function(){
    var len = $("input[name='line']:checked").length;
    if(len == 0){
      alert("未选中编辑数据");
      return false;
    }if(len > 1){
      alert("同时只允许编辑一条记录");
      return false;
    }else{
      var oa="<?=session('user_auth.OA')?>";
      var param = $('input[name="line"]:checked').attr("param");

      if(param!=undefined && param!=''){
        if(oa != param){
          alert('他人的工单，请"审批"');
        }else{
          location.href="{:U('Employee/update')}?oa="+param;
        }
      }
    }
  });

  $(".audit").click(function(){
    var len = $("input[name='line']:checked").length;
    if(len == 0){
      alert("未选中编辑数据");
      return false;
    }if(len > 1){
      alert("同时只允许编辑一条记录");
      return false;
    }else{
      var oa="<?=session('user_auth.OA')?>";
      var param = $('input[name="line"]:checked').attr("param");
      var param1 = $('input[name="line"]:checked').attr("param1");
      if(param!=undefined && param1!=undefined && param!='' && param1!=''){
        if(oa==param && param1=='拟稿'){
          alert('当前工单处于拟稿状态，请"修改"');
        }else{
          location.href="{:U('Employee/update')}?oa="+param;
        }
      }
    }
  });

  $(".preview").click(function(){
    var len = $("input[name='line']:checked").length;
    if(len == 0){
      alert("未选中须查看数据");
      return false;
    }if(len > 1){
      alert("同时只允许查看一条记录");
      return false;
    }else{
      var param = $('input[name="line"]:checked').attr("param");
      location.href="{:U('Employee/preview')}?oa="+param;
    }
  });

  $(".exportexl").click(function(){
    location.href="{:U('Employee/exportxls')}";
  });
});

</script>
<script>
$(".verify").click(function(){
  var e = $(this);
  var id = e.attr('para');
  var status = e.attr('status');
  if(status == 2 || status == 3){
	  alert("当前发票状态无法进行此操作！");
	  return false;
  }else{
	  var url = "{:U('Index/invoice_edit')}?id="+id+"&status="+status;
	  var win = window.parent.layer.open({
		  type:2,
		  title:"{$il['INVOICE_ID']} - 核销",
		  shadeClose:true,
		  shade:0.2,
		  area:['500px','260px'],
		  content:url
	  }); 
  }
});
</script>
</block>