*{margin:0;padding: 0;}
.contain{ width: 200%; min-width: 1500px;}
.main{font-size: 13px;color: #666; margin:0 30px;}
.main h3{text-align: center; margin-top: 10px; height: 30px; line-height: 30px;letter-spacing: 1px;}
.main .info{width: 100%; margin-top: 10px;}
.main .info table{width: 100%;border-collapse: collapse;}
.main .info table th{font-weight: 600;}
.main .info table th,.main .info table tr td{border:1px solid #666;height: 20px;line-height: 20px;}
.main .info table tr:hover{background-color: #ccc;}
.think_page{top:10px;text-align: left;position: relative;margin-top: 10px;}
.think_page .num,.next,.current,.prev,.first,.end,.rows{padding:5px 10px;border:solid 1px #666;
  font-size: 12px;text-decoration: none;color:#000;position: relative;}
.think_page .current{background: #ccc;}
.search_div{margin-left: 20px;height: 30px;line-height: 30px;}
.search{float: left; margin-left: 10px;height: 25px;line-height: 25px;}
.search label{  width:70px;  display: inline-block;  text-align: right;  font-size: 13px;  letter-spacing: 1px;}
.search input[type='text']{  border:1px solid #666;  height: 25px;  line-height: 25px;  width: 150px;
  color: #666;  text-indent: 5px;  font-size: 13px;}
.search input[type='button']{  color: #666;  font-size: 13px;  padding:4px 8px;
  letter-spacing: 3px;  outline: none;  border:1px solid #666;}
.search input[type='reset']{  color: #666;  font-size: 13px;  padding:4px 8px;  letter-spacing: 3px;  outline: none;
  border:1px solid #666;}
.info a{  text-decoration: none;  color: #666;}
.info a:hover{ color: #333;}
