*{margin: 0;padding: 0;color: #666;font-size: 14px;font-family: "Microsoft Yahe,微软雅黑"}
a{text-decoration: none;}
ul,li{list-style-type: none;list-style: none;}
.tc{text-align: center;}
.content{width:100%; min-width: 960px;}
.box{width: 960px;margin: 0 auto;border:1px solid #666;	}
.box .header{position: relative;width: 100%;background-color: #eee;}
.header .back_btn{padding: 3px 15px;border:1px solid #666;margin-left: 50px;}
.header .title{text-align: center;width: 180px;letter-spacing: 1px;height: 20px;
	display: inline-block;line-height: 20px;position: absolute;left: 390px;top: 1px;}
.box h3{height: 30px;line-height: 30px;text-align: center;}
.main{margin: 10px;}
.subtitle{height: 30px;line-height: 30px;}
.subtitle ul li{float: left;}
.subtitle ul li a{padding: 0 15px;display: block;}
.subtitle ul li a:hover{background-color: #eee;}
.main table{width:100%;border-collapse: collapse;margin-top: 5px;}
.main table tr{	height: 25px;line-height: 25px;  }
.main table tr th{ 	border:1px solid #666;  }
.main table tr td{	border:1px solid #666; text-align: center; }
.main table tr td a{padding: 2px 6px;}
.main table tr td a:hover{background-color: #ccc;color: #fff;}
.think_page{top:10px;text-align: left;position: relative;margin-top: 10px;}
.think_page .num,.next,.current,.prev,.first,.end,.rows{padding:5px 10px;border:solid 1px #666;
						font-size: 12px;text-decoration: none;color:#000;position: relative;}
.think_page .current{background: #ccc;}
.curr{background-color: #eee;}
