<div class="events">
	<div class="hd lined events-heading">
		<h3>读者活动</h3>
	</div>
	<div class="bd">
	<ul>
	  <volist name="ploys" id="po">
	  <li class="item">
	    <h4>
	      <a href="https://read.douban.com/promotion/24888/" target="_blank">{$po['title']}</a></h4>
	    <div class="info">
	      <p class="status">进行中</p>
	      <p class="date">将于&nbsp;7月11日 00:00&nbsp;结束</p></div>
	  </li>
	  </volist>
	</ul>
	</div>
</div>

<div class="categories hide" style="margin-top:10px;">
	<div class="hd lined">
		<h3>阅读心得</h3>
	</div>
	<div class="bd">
		<ul class="list categories-list">
			<li><a href="{:U('info_month')}">201606</a></li>
			<li><a href="#">201605</a></li>
			<li><a href="#">201604</a></li>
			<li><a href="#">201606</a></li>
			<li><a href="#">201605</a></li>
			<li><a href="#">201604</a></li>
		</ul>
	</div>
</div>