 
<ul class="tab-menu">
  <li class="{$tab==1?'curr':''}">
    <a href="{:U('index/user_read_score')}?tab=1">我的积分</a></li>
  <li class="{$tab==2?'curr':''}">
    <a href="{:U('index/user_meeting_bao')}?tab=2">我报名的读书会</a></li>
  <li class="{$tab==5?'curr':''}">
    <a href="{:U('index/user_book_borrow')}?tab=5">我借阅的书籍</a></li>
  <li class="{$tab==3?'curr':''}">
    <a href="{:U('index/user_book_xinde')}?tab=3">我的心得分享</a></li>
  <li class="{$tab==4?'curr':''}">
    <a href="{:U('index/user_book_tuijian')}?tab=4">我推荐的书籍</a></li>
  <li class="{$tab==6?'curr':''}" >
    <a href="{:U('index/user_meeting_qingjia')}?tab=6" >我的请假</a>       
  </li>  
</ul>
 
