<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>渠道经营者信息--对手</title>
<link rel="stylesheet" href="__STATIC__/jquery-ui-10/css/base/jquery-ui-1.10.4.custom.min.css">
<script   src="__STATIC__/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/stringUtil.js"></script>
<script src="__JS__/jquery.cookie.js"></script>
<script src="__STATIC__/jquery-ui-10/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Baob/css/channel_modify.css"/>
<style type="text/css"> </style>
</head> 
<body>
    <div>
        <div class="contain">
            <h3>渠道经营者信息一览表</h3>
            <div class="box">
                <fieldset>
                <legend>基本信息:</legend>
                    <div class="group">
                        <table>
                            <tr>
                                <td>渠道编号</td>
                                <td>{$list[0]['渠道编号']}</td>
                                <td>渠道中文名称</td>
                                <td>{$list[0]['渠道中文名称']}</td>
                            </tr>
                            <tr>
                                <td>三级类型</td>
                                <td>{$list[0]['三级类型']}</td>
                                <td>县市名称</td>
                                <td>{$list[0]['县市名称']}</td>
                            </tr>
                            <tr>              
                                <td>所属销售经理</td>
                                <td>{$list[0]['所属销售经理']}</td>
                                <td>销售经理号码</td>
                                <td>{$list[0]['销售经理号码']}</td>
                            </tr>  
                            <tr>
                                <td>片区名称</td>
                                <td>{$list[0]['片区名称']}</td>
                                <td>运营商</td>
                                <td>{$list[0]['运营商']}</td>
                            </tr>
                            <tr>
                                <td>渠道地址</td>
                                <td>{$list[0]['渠道地址']}</td>
                                <td>商圈名称</td>
                                <td>{$list[0]['商圈名称']}</td>
                            </tr>
                            <tr>
                                <td>乡镇街道名称</td>
                                <td>{$list[0]['乡镇街道名称']}</td>
                                <td>法人代表</td>
                                <td>{$list[0]['法人代表']}</td>
                            </tr>
                            <tr>
                                <td>法人联系电话</td>
                                <td>{$list[0]['法人联系电话']}</td>
                                <td>联系人</td>
                                <td>{$list[0]['联系人']}</td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td>{$list[0]['联系电话']}</td>
                                <td>经营面积</td>
                                <td>{$list[0]['经营面积']}</td>
                            </tr>
                            <tr>              
                                <td>门头间数</td>
                                <td>{$list[0]['门头间数']}</td>
                                <td>创建时间</td>
                                <td>{$list[0]['创建时间']}</td>
                            </tr> 
                            <tr> 
                                <td>禁用时间</td>
                                <td>{$list[0]['禁用时间']}</td>
                            </tr> 
                        </table>
                    </div>
                </fieldset>

                <fieldset>
                <legend>录入信息:</legend>
                    <div class="group">
                        <form id="theForm" action="{:U('Channel/channel_modify_ds')}" method="post">
                            <div class="group_div" >
                                <label>渠道编号:</label>
                                <input type="text" name="qd_id"  value="{$list[0]['ORG_ID']}" readonly="readonly" />
                            </div>
                            <!--销售经理看到的信息-->

                            <div class="group_div">
                                <label>店面租赁模式</label>
                                <select  name="zl_ms">
                                <option value="{$content[0]['LEASE_MODEL']}">{$content[0]['LEASE_MODEL']}</option>
                                <option value="">---请选择---</option>
                                <option value="运营商租赁">运营商租赁</option>
                                <option value="渠道租赁">渠道租赁</option>
                                <option value="三方合同">三方合同</option>
                                </select>
                            </div>
                            <div class="group_div">
                                <label>补贴模式:</label>
                                <select  name="bt_ms">
                                <option value="{$content[0]['SUBSIDY_MODEL']}">{$content[0]['SUBSIDY_MODEL']}</option>
                                <option value="">---请选择---</option>
                                <option value="装修补贴">装修补贴</option>
                                <option value="租金补贴">租金补贴</option>
                                </select>
                            </div>

                            <div class="group_div">
                                <label>租赁期限:</label>
                                <input type="text" name="zl_qx" value="{$content[0]['LEASE_TERM']}" />
                            </div>
                            <div class="group_div">
                                <label>运营商补贴条件:</label>
                                <input type="text" name="bt_tj" value="{$content[0]['SUBSIDY_CONDIT']}"/>
                            </div>
                            <div class="group_div2">
                                <label>渠道经营情况:</label>
                                <textarea name="jy_qk">{$content[0]['CHANNEL_OPERATION']}</textarea>
                            </div>
                            <div class="clear"></div>

                            <if condition="$num eq '1' and $content[0]['摸排任务'] eq '1'">
                                <div class="group_div2">
                                    <label>摸排任务要求:</label>
                                    <textarea name="rw_yq" readonly="readonly">{$content[0]['TASK_REQUIRE']}</textarea>
                                </div>
                                <div class="clear"></div>
                                <div class="group_div">
                                    <label>摸排任务完成时限:</label>
                                    <input type="text" name="wc_sj" 
                                    value="{$content[0]['TASK_END_TIME']}" readonly="readonly"/>
                                </div>
                                <div class="group_div">
                                    <label>摸排任务下达者:</label>
                                    <input type="text" name="rw_xdz"  value="{$content[0]['TASK_OPER']}" readonly="readonly"/>
                                </div>
                                <div class="group_div">
                                    <label>摸排任务下达时间:</label>
                                    <input type="text" name="rw_xdsj" value="{$content[0]['TASK_START_TIME']}" 
                                                readonly="readonly"/>
                                </div>

                                <div class="group_div2">
                                    <label>摸排结果:</label>
                                    <textarea name="mp_result">{$content[0]['TASK_RESULT']}</textarea>
                                </div>
                                <div class="clear"></div>
                            </if>

                            <!--
                            <div class="group_div">
                            <label>本渠道信息最后维护时间:</label>
                            <input type="text" name="wh_sj" value="{$content['本渠道信息最后维护时间']}" />
                            </div>
                            -->

                            <input type="hidden" name="mp_rw" value="{$content[0]['TASK_NO']}" />
                            <input type="hidden" name="rw_bill" value="{$content[0]['TASK_BILL']}" />
                        </form>
                    </div>
                    <div class="group_div1">
                        <input type="button"  value="提交" class="btn">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</body>
<script src="__STATIC__/date/WdatePicker.js"></script>
<script >
    $(function(){
        $('.btn').click(function(event) {
            layer.confirm('确定要保存数据吗?', function(index){
                $("#theForm").submit();
                layer.close(index);
            });       
        });
    });
</script>

</html>

