<extend name="pub/msg_base"/>

<block name="title">{$json['usera']['C']} - PK - {$json['userb']['C']}</block>

<block name="css">
	<style type="text/css">

		.pk_head{margin-top:10px;background: #fff;}
		.vs{text-align: center;width:150px;height:160px;line-height: 160px;}
		.vs i{font-size: 42px;color: yellow;}
		.usera , .userb{color: yellow;
    font-size: 24px;
    height: 160px;
    line-height: 22px;
    text-align: center;
    width: 400px;}

		.pk_data{padding:5px 20px;width:960px;clear: both;overflow: hidden;}
		.pk_title , .pk_usera , .pk_userb{position:relative;height:25px;line-height: 25px;border-bottom:dashed 1px #ccc;font-size:16px;color:#172c45;}
		.pk_title{text-align: right;width:390px;float:left;padding-right:20px;border-right:solid 0px #ccc;}
		.pk_usera , .pk_userb{width:200px;float:left;padding-left:50px;}
		.pk_bg1 , .pk_bg2{position: absolute;background:tan;height:28px;top:-4px;left:10px;}
		.pk_data span{position: absolute;z-index: 3333;font-size: 15px;}
		.danger{position: absolute;z-index: 4444;right:8px;top:0px;color:red;font-size: 12px;}
		.pk_bg1{}
		.pk_bg2{background: thistle ;}
		.pk_red{background:RED;}
		.pk_usera{}
		.pk_userb{}

	</style>
</block>

<block name="month"></block>

<block name="body">



<div class="pk_head">
	<div class="usera left">
		<img src="__HEAD_IMG__/{$json['usera']['E']}.jpg" onerror="this.src='__HEAD_IMG__null.jpg'" width="100px" height="120px" style="border-radius: 50%;behavior:url(__PUBLIC__/images/PIE.htc);">
		<br>
		{$json['usera']['C']}
	</div>
	<div class="left vs"><i>PK</i></div>
	<div class="userb left">
		<img src="__HEAD_IMG__/{$json['userb']['E']}.jpg" onerror="this.src='__HEAD_IMG__null.jpg'" width="100px" height="120px" style="border-radius: 50%;behavior:url(__PUBLIC__/images/PIE.htc);">
		<br>
		{$json['userb']['C']}
	</div>
</div>


<div class="info-model clear" style="margin-bottom:100px;">
	<div class="model-title">
		<div class="model-title-left">PK 数据比较</div>
		<div class="model-title-right"></div>
	</div>
	<div class="model-line"></div>

	<div class="model-con">
		 <?php 
		$flag = false;
		if(isset($json['usera'])){
			echo "<div class='pk_data'><div class='pk_title'></div><div class='pk_usera'>".$json['usera']['C']."</div><div class='pk_userb'>".$json['userb']['C']."</div></div>";
			echo "<div class='pk_data'><div class='pk_title'>总分</div><div class='pk_usera'>".$json['usera']['H']."</div><div class='pk_userb'>".$json['userb']['H']."</div></div>";
		}else{
			echo '未找到数据，请重试';	
		}
		foreach ($json['head'] as $k => $v) {
			if($k=='I'){
				$flag=true;
			}

			$fua = '';
			if(floatval($json['usera'][$k])<0){
				$fua = '<span class="danger">负分项</span>';
			}

			$fub = '';
			if(floatval($json['userb'][$k])<0){
				$fub = '<span class="danger">负分项</span>';
			}

			if(isset($v) && $flag && $k!='NUMROW'){
				echo "<div class='pk_data'>
							<div class='pk_title'>".$v."</div>
							<div class='pk_usera'><span>".$json['usera'][$k]."</span>".$fua."<div class='pk_bg1' style='width:".(intval($json['usera'][$k]))."%;'></div></div>
							<div class='pk_userb'><span>".$json['userb'][$k]."</span>".$fub."<div class='pk_bg2' style='width:".(intval($json['userb'][$k]))."%;'></div></div>
					  </div>";

			}
		}
		?>
	</div>
</div>

 
</block>