<extend name="Tpl/base_manager"/>
<block name="title">个人信息 - 首页</block>
<block name="css">
<link rel="stylesheet" href="__CSS__/tag.css">
</block>

<block name="main_top">
<div class="page-title">
  {:W('Side/manager_tab')}
  <div class="alternative">
    <!-- <a href="/provider/all">按提供方浏览</a> -->
  </div>
</div>
</block>
 

<block name="main_right">
   

  <div class="data_table clear">
    <style>
    p{overflow: hidden;}
    label{width:100px;text-align: right;display: inline-block;}
    input ,select{height:30px;line-height: 30px;background: #fffff9;}
    input[type=text]{width:420px;}
    select{width:200px;padding-left: 30px;height:30px;line-height: 30px;}
    textarea{width:550px;height:100px;background: #fffff9;}
    em{color:red;font-size: 14px;font-weight: bold;}
    </style>
    <div class="section">
      <form action="" name="theForm" method="post">
         <volist name="attrs" id="attr">
         <p id="{$attr['id']}"><label>{$attr['name']}：</label><input type="text" name="{$attr['attr']}" value="{$attr['val']}"></p>
         </volist>
      </form>
    </div>
  </div>
</block>
