 
  <ul class="tab-menu">
  <li class="{$tab==1?'curr':''}">
    <a href="{:U('manager/manager_ploy')}?tab=1">读者活动</a></li>
  <li class="{$tab==2?'curr':''}">
    <a href="{:U('manager/manager_book')}?tab=2">书籍管理</a></li>
  <li class="{$tab==5?'curr':''}">
    <a href="{:U('manager/manager_borrow')}?tab=5">借阅管理</a></li>
  <li class="{$tab==3?'curr':''}">
    <a href="{:U('manager/manager_xinde')}?tab=3">心得管理</a></li>
  <li class="{$tab==6?'curr':''}" >
    <a href="{:U('manager/manager_book_tuijian')}?tab=6" >推荐管理</a>       
  </li>
  <!--
   <li class="{$tab==4?'curr':''}">
    <a href="{:U('manager/manager_vip')}?tab=4">会员管理</a></li>
  <li class="{$tab==7?'curr':''}" >
	<a href="{:U('manager/manager_list')}?tab=7" >管理员</a>       
  </li>
  <li class="{$tab==8?'curr':''}" >
	<a href="{:U('manager/manager_qingjia_gl')}?tab=8" >请假管理</a>       
  </li>	
  -->
  <li class="{$tab==9?'curr':''}" >
	    <a href="{:U('manager/manager_need_todo')}?tab=9" >我的待办</a>       
  </li>	 
</ul>
 
<!-- 
 <div class="col col2 tag-list">
			  <div class="section">
			    <ul class="list category-fiction-tags">
			      <li class="">
			        <a href="{:U('manager/manager_ploy')}">读者活动</a></li>
			      <li class="">
			        <a href="{:U('manager/manager_book')}">书籍管理</a></li>
			      <li class="">
			        <a href="{:U('manager/manager_xinde')}">心得管理</a></li>
			      <li class="">
			        <a href="{:U('manager/manager_vip')}">会员管理</a></li>
			    </ul>

	           <ul class="list category-fiction-tags" style="border-bottom:0px;">
	            <li class="">
	              <a href="{:U('manager/manager_site')}">网站设置</a></li>
	            <li class="">
	              <a href="{:U('manager/manager_resource')}">网站资源</a></li>
	             <li class="">
	              <a href="/category/nonfiction">非虚构</a></li>  
	          </ul>  

			  </div>
</div> -->