<extend name="Tpl/base_manager"/>
<block name="title">个人信息 - 首页</block>
<block name="css">
<link rel="stylesheet" href="__CSS__/tag.css">
</block>

<block name="main_top">
<div class="page-title">
  {:W('Side/manager_tab')}
  <div class="alternative">
    <!-- <a href="/provider/all">按提供方浏览</a> -->
  </div>
</div>
</block>
 
<block name="main_right">
  <div class="query_div">
    <form action="" name="theForm" method="post">
      <ul>
        <li>条件1：<input type="text" name=""></li>
        <li>条件2：<input type="text" name=""></li>
        <li>条件3：<input type="text" name=""></li>
        <li>条件4：<input type="text" name=""></li>
        <li><a class="zbtn" href="javascript:;"><input type="button" value=" 查询 "/></a>
            <a class="zbtn" href="javascript:;"><input type="button" value=" 添加 "/></a></li>
      </ul>
    </form>
  </div>

  <div class="data_table clear">
    <table width="100%" cellspacing="1" cellpadding="1" >
      <tr>
        <th>表头1</th>
        <th>表头2</th>
        <th>表头3</th>
        <th>表头4</th>
        <th>表头5</th>
        <th>表头6</th>
        <th>表头6</th>
        <th>表头6</th>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
      <tr>
        <td>测试数据1</td>
        <td>测试数据2</td>
        <td>测试数据3</td>
        <td>测试数据4</td>
        <td>测试数据5</td>
        <td>测试数据6</td>
        <td>测试数据7</td>
        <td><a href="">编辑</a><a href="">删除</a></td>
      </tr>
    </table>
  </div>
</block>
