 <div class="col col2 tag-list">
			  <div class="section">
			    <ul class="list category-fiction-tags">
			      <li class="">
			        <a href="{:U('manager/manager_ploy')}">读者活动</a></li>
			      <li class="">
			        <a href="{:U('manager/manager_book')}">书籍管理</a></li>
			      <li class="">
			        <a href="{:U('manager/manager_xinde')}">心得管理</a></li>
			      <li class="">
			        <a href="{:U('manager/manager_vip')}">会员管理</a></li>
			    </ul>

	         <!--  <ul class="list category-fiction-tags" style="border-bottom:0px;">
	            <li class="">
	              <a href="{:U('manager/manager_site')}">网站设置</a></li>
	            <li class="">
	              <a href="{:U('manager/manager_resource')}">网站资源</a></li>
	             <li class="">
	              <a href="/category/nonfiction">非虚构</a></li>  
	          </ul> -->

			  </div>
</div>