<extend name="pub/main_hr"/>
	<block name="title">准入退出管理机制</block>
	<block name="body">
	<div class="model">
	<div>
		<div class="hr_info_title_l">
			<span>县市工程人员准入及退出机制</span>
		</div>
			<h2 align="center">县市工程人员准入及退出机制</h2>
			<p style="MARGIN: 17px 0px 17px 28px">
			    <span style="FONT-SIZE: 16px; FONT-FAMILY: 宋体">一、工程人员职级说明：</span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 30px">
			    <span style="FONT-SIZE: 14px"><span style="FONT-FAMILY: 宋体"></span></span>&nbsp;
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-FAMILY: 宋体">县市主管职级为</span><span style="FONT-FAMILY: Calibri">6-7</span><span style="FONT-FAMILY: 宋体">岗，县市工程事务职级为</span><span style="FONT-FAMILY: Calibri">2-6</span><span style="FONT-FAMILY: 宋体">岗（参照宽级化标准）。</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-FAMILY: 宋体">如兼职多个岗位，目标岗位按照就高原则设定。</span><span style="FONT-FAMILY: 宋体"> </span></span>
			</p>
			<p>
			    <strong><span style="FONT-FAMILY: Calibri">&nbsp;</span></strong>
			</p>
			<p>
			    <span style="FONT-SIZE: 16px; FONT-FAMILY: 宋体">二、县市工程人员准入机制：</span>
			</p>
			<p>
			    <span style="FONT-FAMILY: 宋体"><span style="FONT-SIZE: 14px; FONT-FAMILY: 宋体"></span></span>&nbsp;
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-FAMILY: 宋体">新进公司入职人员要求：专科及以上学历，工程管理相关或通信相关专业毕业，或有</span><span style="FONT-FAMILY: Calibri">1</span><span style="FONT-FAMILY: 宋体">年以上工程管理和网络运维工作经验，具备较好的沟通协调能力及学习能力。</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-FAMILY: 宋体">公司内非网络口人员转岗要求：</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">1</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">年以上丽水移动工作经验，专科及以上学历。</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-FAMILY: 宋体">工程事务（新增）更换需县市发文申请，专业应知应会定性测评通过后，进行（入职）交接，相关系统账号（申请）交接后。市公司工程部确认（入职）交接完成。</span></span>
			</p>
			<p>
			    <span style="FONT-FAMILY: Calibri">&nbsp;</span>
			</p>
			<p>
			    <span style="FONT-SIZE: 16px; FONT-FAMILY: 宋体">三、县市工程人员退出机制：</span>
			</p>
			<p>
			    <span style="FONT-FAMILY: 宋体"><span style="FONT-SIZE: 14px; FONT-FAMILY: 宋体"></span></span>&nbsp;
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px">
				<span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-FAMILY: 宋体">工程事务赛马（个性化指标）成绩连续六月全市末位（个人工作意愿问题）建议待（转）岗；</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">年度连续</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">2</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">个赛马考核周期内绩效处于后</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">3</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">，且市公司组织的相关考试都未参加或未通过，也没通过其他相关的资格认证考试的建议待（转）岗。</span></span>
			</p>
		</div>
	</div>
</block>