<extend name="pub/main_hr"/>
	<block name="title">评价体系</block>
	<block name="css">
		<style type="text/css">
			ul{margin-top: 20px;}
			ul li a{font-size: 16px;}
		</style>
	</block>
	<block name="body">
	<div class="model">
	<div>
		<div class="hr_info_title_l">
			<span>评价体系</span>
		</div>
			<div>
				<ul>
					<li><a href="__PUBLIC__/images/评价体系/附件1.县公司网络部工程主管赛马评比办法（试行稿）2016年7月版终稿.docx">附件1.县公司网络部工程主管赛马评比办法（试行稿）2016年7月版终稿</a></li>
					<li><a href="__PUBLIC__/images/评价体系/附件2.县公司网络部无线工程建设人员赛马评比办法（试行稿）2016年7月版终稿.docx">附件2.县公司网络部无线工程建设人员赛马评比办法（试行稿）2016年7月版终稿</a></li>
					<li><a href="__PUBLIC__/images/评价体系/附件3.县公司网络部有线工程建设人员赛马评比办法（试行稿）2016年7月版终稿.docx">附件3.县公司网络部有线工程建设人员赛马评比办法（试行稿）2016年7月版终稿</a></li>
				</ul>
			</div>
		</div>
	</div>
</block>