<extend name="pub/main_hr"/>
	<block name="title">准入退出管理机制</block>
	<block name="body">
	<div class="model">
	<div>
		<div class="hr_info_title_l">
			<span>县市工程事务胜任力提升帮扶机制及惩奖措施</span>
		</div>
			<h2 align="center">县市工程事务胜任力提升帮扶机制及惩奖措施</h2>
			<p style="MARGIN: 17px 0px 17px 20px">
			    <span style="FONT-SIZE: 16px; FONT-FAMILY: 宋体">一、工程建设部县市工程人员胜任力提升考评（赛马）短板分析及帮扶机制：</span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-FAMILY: 宋体">目标：县市工程管理（新进员工、赛马落后）人员能自身短板分析，提出支撑需求，市公司专业对口人员培养成帮扶落后的习惯，同时进一步了解县市情况；</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">帮扶导师：市公司工程部中层管理人员、专业管理人员；</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">帮扶对象：主动有提升需求的工程管理人员（主动报名）及赛马绩效落后人员（每月后进一、二名）；</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">帮扶措施：月度专业线条落后人员，每周</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">2</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">次以上一对一帮扶、指导；主动有提升需求的县市工程管理人员，建议采用微信等全天候在线通讯工具进行帮扶，每周次数不限；导师月度考评帮扶人员提升情况、跟踪赛马绩效及时肯定、鼓励。</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">帮扶方式：诱导式、鼓励式，以提升绩效为出发点，诱导落后人员能进行分析、提出问题和支撑需求，并指导个人制定提升改进及职业技能提升方案。</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">外部需求：聘请专业人士对内部导师进行帮助和指导</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">,</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">提升帮扶技巧。</span></span>
			</p>
			<p style="MARGIN: 27px 0px 17px 20px">
			    <span style="FONT-SIZE: 16px; FONT-FAMILY: 宋体">二、工程事务胜任力提升奖惩措施（工程事务奖金池业务提升考试激励制度，需要人力配合）</span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-FAMILY: Wingdings">Ø<span style="FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times="">&nbsp; </span></span><span style="FONT-FAMILY: 宋体">奖惩总制度：按照阶段</span><span style="FONT-FAMILY: Calibri">(</span><span style="FONT-FAMILY: 宋体">半年度</span><span style="FONT-FAMILY: Calibri">)</span><span style="FONT-FAMILY: 宋体">赛马个性化指标成绩进行奖金池激励，年度自由选择的业务提升考试通过者进行员工成长积分奖励；阶段（半年度）赛马个性化指标平均成绩排名提升前三名进行员工成长积分奖励；工程事务弹性岗位制度。</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">阶段赛马成绩奖惩：工程事务每月预留</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">100</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">元每人记入工程事务奖金池，按（半）年度平均赛马个性化指标成绩进行奖励：排名前</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">30%</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">奖励（每人</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">1200</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">元），排名居中</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">40%</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">（每人</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">600</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">元）；</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">业务提升考试通过员工成长积分奖励：二次年度业务考试（一次基础管理方面、一次新业务新知识方面）考核优胜者（在合格的基础上，按工程事务总数</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">30%</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">的上限比例划定），每次优胜加工成长积分</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">20</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">分，建造师资格认证或项目管理资格认证通过者每次优胜加员工成长积分</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">50</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">分；</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">评选胜任力（赛马个性化指标）平均成绩排名半年度提升突出者（前三名），加工成长积分</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">20</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">分。</span></span>
			</p>
			<p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 40px">
			    <span style="FONT-SIZE: 12px"><span style="FONT-SIZE: 12px; FONT-FAMILY: Wingdings">Ø<span style="FONT: 14px Wingdings">&nbsp;</span><span style="FONT-SIZE: 9px; FONT-VARIANT: normal; FONT-WEIGHT: normal; FONT-STYLE: normal; LINE-HEIGHT: normal" new="" times=""> </span></span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">工程事务弹性岗位制度：参照工程事务宽级化岗位值等进行年度调整，工程事务岗位（</span><span style="FONT-SIZE: 12px; FONT-FAMILY: Calibri">2~6</span><span style="FONT-SIZE: 12px; FONT-FAMILY: 宋体">等）</span></span>
			</p>
		</div>
	</div>
</block>