<div>
	<ul>
		<li><a href="__PUBLIC__/images/中国移动丽水分公司工程现场标准化管理口袋书/管线专业工程现场关键点标准化模板手册.docx">管线专业工程现场关键点标准化模板手册</a></li>
		<li><a href="__PUBLIC__/images/中国移动丽水分公司工程现场标准化管理口袋书/基站专业工程现场关键点标准化模板手册.docx">基站专业工程现场关键点标准化模板手册</a></li>
		<li><a href="__PUBLIC__/images/中国移动丽水分公司工程现场标准化管理口袋书/全业务专业工程现场关键点标准化模板手册.docx">全业务专业工程现场关键点标准化模板手册</a></li>
		<li><a href="__PUBLIC__/images/中国移动丽水分公司工程现场标准化管理口袋书/室分专业工程现场关键点标准化模板手册.docx">室分专业工程现场关键点标准化模板手册</a></li>
		<li><a href="__PUBLIC__/images/中国移动丽水分公司工程现场标准化管理口袋书/土建专业工程现场关键点标准化模板手册.docx">土建专业工程现场关键点标准化模板手册</a></li>
		<li><a href="__PUBLIC__/images/中国移动丽水分公司工程现场标准化管理口袋书/丽水移动工程关键点指引.doc">丽水移动工程关键点指引</a></li>
	</ul>
</div>