<extend name="pub/main_hr"/>
<block name="title">计件内容</block>
 

<block name="body">
		<div>
		<div class="hr_info_title_l">
			<span>客户经理计件内容</span>
		</div>
<table border="0px" cellpadding="1" cellspacing="1" style="font-size: 12px;" class="tit">
	<tr>
		<td colspan="10" style="font-size: 16px; font-weight: 600; text-align: center;padding-top: 20px;">
		客户经理薪酬计件明细（单价：0.29）</td>
	</tr>
		<tr align="center">
			<td>计件类型</td>
			<td colspan="2">计量项目</td>
			<td colspan="2" >积分单价</td>
			<td>计量考核说明与标准单价</td>
			<td>备注</td>
			<td>数量来源</td>
			<td style="white-space: nowrap;">负责人</td>
			<td>是否新增、变动</td>
		</tr>
		<tr>
			<td rowspan="9">集团拓展及保有</td>
			<td rowspan="2" colspan="2">成员拓展</td>
			<td>新开户</td>
			<td>10分/户</td>
			<td rowspan="2" >1、剔除：市公司统一挖掘数据；
			2、集团证件开户无备注具体使用人、证件号、证件地址、证件名称的数据，则不计分；
			3、要求MOU>5分钟或DOU>20KB；
			4、封顶600分；
			5、新开户成员拓展要求：在网网内集团成员、有虚拟网通话、本金充值50元及以上；</td>
			<td rowspan="2" ></td>
			<td rowspan="9" >ESOP</td>
			<td rowspan="7" >张君</td>
			<td rowspan="7" ></td>
		</tr>

		<!--第二排-->

		<tr>
		<td>非新开户</td>
		<td>1.5分/户</td>
		</tr>


		<!--第三排-->
		<tr>
		<td rowspan="2" colspan="2">集团拓展</td>
		<td>新增</td>
		<td>40分/户</td>
		<td rowspan="2" >1、新增在网集团，且在网网内成员数大于等于10人，40分/家
		2、潜在集团转在网集团，且在网网内成员数大于等于10人，20分/家</td>
		<td rowspan="2">判别符合在网集团资料完整性要求</td>
		</tr>



		<!--第四排-->
		<tr>
		<td>潜在</td>
		<td>20分/户</td>
		</tr>

		<!--第五排-->
		<tr>
		<td rowspan="5" >集团存量维系</td>
		<td>成员价值贡献</td>
		<td  colspan="2">按集团成员收入贡献</td>
		<td  >成员价值贡献总分值=全市客户经理人数*100分/人
		系数=县市集团成员个人价值收入/全市集团成员个人价值收入
		得分=总分值*系数*（客户经理服务集团的成员个人价值总收入/县市集团成员个人价值总收入）</td>
		<td rowspan="3" ></td>
		</tr>

		<!--第六排-->
		<tr>
		<td>集团价值贡献</td>
		<td  colspan="2">按集团信息化收入贡献</td>
		<td>集团价值贡献总分值=全市客户经理人数*100分/人
		系数=县市集团信息化收入/全市集团信息化
		得分=总分值*系数*（客户经理服务集团信息化总收入/县市集团信息化总收入）</td>

		</tr>

		<!--第七排-->
		<tr>
		<td>客户经理服务集团重要程度</td>
		<td  colspan="2">20分/家</td>
		<td>客户经理服务重要集团，给予每家20分。（重要集团指市委、县委、市政府、县政府、市/县统战、市/县纪委、市/县政协、市/县人大、市/县组织部、市/县政法、市/县人武部）</td>

		</tr>

		<!--第八排-->
		<tr>
		<td  rowspan="2" >两网有效成员拓展</td>
		<td  >虚拟网</td><td  >2分/户</td>
		<td>1、集团成员中3个月内首次加入虚拟网且通话时长大于等于10分钟，按照每户2分计。
		2、当月加入虚拟网的集团成员用户通话时长未达标的，次月若达标也可进行计件，按照每户2分计。</td>
		<td></td><td  rowspan="2" >梅梦雪</td><td  rowspan="2" >变动</td>
		</tr>
		<!--第九排-->
		<tr>
		<td  >亲情网</td><td  >1分/户</td>
		<td>1、集团成员中3个月内首次加入亲情网且有通话的，按照每户1分计。
		2、当月加入亲情网的集团成员用户通话时长未达标的，次月若达标也可进行计件，按照每户1分计。</td>
		<td></td>
		</tr>
		<!--第10排-->
		<tr>
		<td  rowspan="14" >集团个人业务</td>
		<td rowspan="6"  colspan="2">★集团4G终端发展</td>

		<td>活跃＜15户</td>
		<td>20分/户</td>
		<td rowspan="4" >1、客户经理（合约、信用、裸机）销售的4G终端（营业厅、引商入柜渠道、指定团购合作商），最终使用者为丽水号码的才可计件；
		2、正常销售（裸机、普通购机合约），销售终端对应的活跃用户，＜=15户激活且活跃的计20分/户，>15户激活且活跃的计40分/户，激活但未活跃的计10分/户（未换卡、未出库的不计分）；
		3、特殊销售（信用、项目类），根据回报率给予折扣。
		4、项目类终端计件根据项目收益率的10%来计算转换积分，分5个月发放（需县市反馈稽核后确定）；
		5、若终端销售后的使用号码为集团三类人物，且该三类人物上月是非4G活跃，现已活跃，则给予追加30个积分/户；
		6、使用号码为非集团成员的，每户扣10分。</td>
		<td rowspan="6" >
		1、(集团使用特殊政策办理的终端业务按照营销方案回报率进行折扣： 
		 a、回报率超过60%按照分值的50%计件
		 b、回报率超过80%按照分值的20%计件
		 c、回报率超过90%按照分值的10%计件
		2、信用消费按50%得分计算</td>
		<td rowspan="4" >平台登记</td>
		<td rowspan="6">应翔</td>
		<td rowspan="6"></td>
		<td rowspan="6" ></td>
		</tr>
		<!--第11、12、13、14、15排-->
		<tr>
		<td>活跃＞15户</td>
		<td>40分/户</td>
		</tr>
		<tr>
		<td>三类人物</td>
		<td>30分/户（追加）</td>
		</tr>
		<tr>
		<td>激活未活跃</td>
		<td>10分/户</td>
		</tr>

		<tr>
		<td>存量转化</td>
		<td>4分/户</td>
		<td>非平台登记的集团拍照存量4G终端活跃用户，计4分/户。</td>
		<td  rowspan="2">按照集团归属取数</td>
		</tr>

		<tr>
		<td>4G+业务</td>
		<td>5分/户</td>
		<td>针对拍照的4G+终端用户，开通4G+功能，计5分/户。</td>
		</tr>
		<!--第16排-->


		<tr>
		<td rowspan="3"  >集团成员流量套餐销售</td>
		<td rowspan="3"  >4G流量包</td>

		<td>≥30流量包以上</td>
		<td>5分/户</td>
		<td rowspan="2" >1、要求以CRM工单里备注“A客户经理手机号码XXX流量”为准；（例：A客户经理13587160000吴某某流量）
		2、集团在网网内成员中当月新发展为4G资费的用户（用户前三月不为4G资费用户），
		3、流量包免费使用半年不给予计件，</td>
		<td rowspan="3" >1、集团使用特殊政策办理的4G资费业务按照营销方案回报率进行折扣：
		a、回报率超过60%按照分值的50%计件
		b、回报率超过80%按照分值的20%计件
		c、回报率超过90%按照分值的10%计件
		2、累计封顶1000分；</td>
		<td rowspan="3">按备注取数</td>
		<td rowspan="3">应翔</td>
		<td rowspan="3" style="color:Red">变动</td>
		</tr>

		<!--第17、18排-->
		<tr>
		<td>≥70流量包以上（含70）</td>
		<td>10分/户</td>
		</tr>
		<tr>
		<td>套餐迁移</td>
		<td  style="color:Red">5—10分/户</td>
		<td  style="color:Red">套餐月费≤88元的计5分/户，套餐月费高于98元的计10分/户</td>
		</tr>




		<tr>
		<td rowspan="3"  >★宽带</td>
		<td rowspan="3"  >新增、续费家庭宽带</td>

		<td>融合</td>
		<td>20分/户</td>
		<td rowspan="3" >1、要求新装和续费都以CRM工单备注“A客户经理手机号码XXX宽带”为准；（例：A客户经理13587160000吴某某宽带）；
		2、新装宽带订单状态以竣工为准，续费以受理时间为准；
		3、宽带+机顶盒分值可叠加；
		4、0元优惠的宽带按3分/条计件
		5、免费赠送的机顶盒按3分/条计件；</td>

		<td rowspan="3"></td>
		<td rowspan="3">按备注取数</td>
		<td rowspan="3">梅梦雪</td>
		<td rowspan="3" ></td>
		</tr>

		<tr>
		<td>裸宽</td>
		<td>实际出账金额的5%转换分值</td>
		</tr>
		<tr>
		<td>机顶盒</td>
		<td >实际出账金额的5%转换分值</td>
		</tr>


		<tr>
		<td  colspan="2">手机营业厅</td>
		<td colspan="2">3分/户</td>
		<td>1、新装活跃5分/户,
		2、考核当月政企客户中手机营业厅活跃用户的占比，用户当月内登录手机营业厅2次及以上视为活跃。
		3、计件口径:客户经理通过个人专属二维码帮用户新装手机营业厅，同时该用户为本月登录了手机营业厅，则计入计件。集团、公众用户安装均计入计件，上月已活跃用户本月重复安装不计入计件。
		</td>
		<td>集团、公众用户安装均计入计件，上月已活跃用户本月重复安装不计入计件。</td>
		<td>按个人专属二维码取数</td>
		<td>梅梦雪
		</td><td>
		</td>
		</tr>


		<tr>
		<td  colspan="2">集团彩云新增用户数</td>
		<td colspan="2">1分/户</td>
		<td>1、客户经理所服务集团的集团彩云活跃净增用户，每净增一户得1分。
		例：2月，A所服务集团的活跃彩云用户500户；3月，A服务集团的活跃彩云用户600户，得100分。</td>
		<td></td>
		<td>按彩云用户集团归属取数
		</td><td>蓝巧斐
		</td><td></td>
		</tr>




		<tr>
		<td rowspan="5">集团信息化产品</td>
		<td  colspan="2" rowspan="3">★155计费号出账所有产品</td>
		<td >新增</td>
		<td>出账金额*12%转换积分</td>
		<td rowspan="2">1、新增155计费号信息化产品和短彩信、流量统付续费收入：（政企专线、短彩信、集团彩铃等155计费号产品）按照有效收入*12%奖励，时间12个月；

		2、存量信息化产品:（政企专线、短彩信、集团彩铃等155计费号产品）按照有效收入*1.5%奖励；
		3、有效收入定义：指产品当月出账收入核减馈赠金后的有效收入；（取消核减当月新增产品欠费金额）</td>
		<td  rowspan="3"></td><td rowspan="3">按照集团归属取数</td><td rowspan="3">蓝巧斐</td><td rowspan="3"></td>
		</tr>
		<tr>
		<td >存量转化</td>
		<td>存量金额*1.5%转换积分</td>
		</tr>
		<tr>
		<td >流失专线</td>
		<td>近三月收入的平均值扣罚</td>
		<td>1、存量、新增集团专线产品流失扣罚，扣罚一个月。</td>
		</tr>




		<tr>
		<td rowspan="2">ICT信息化项目</td>
		<td >项目净现值的20%转化相应的积分</td>
		<td  colspan="2">净现值*20%转换积分</td>
		<td >成功推广一个项目，签订合作协议，且客户开始正常付费。按项目效益评估表中（含间接成本）项目净现值的20%转化相应的积分作奖励，分5个月计算，每月发放4%。要求符合ICT操作流程规范和项目化一次性录入规范，保证数据真实性。(换算以后，单个项目每月3000元封顶)</td>
		<td >例：信息化人员成功推广并签约的项目，合同金额为50万，含间接成本的净现值为10.66万元，按20%计算，该项目薪酬奖励为2.13万元，分5个月计算，每月为0.4264万元，转成积分为4264分</td><td>自项目款回收之日开始稽核后发放，分5个月发放，每月发放2%</td><td rowspan="2">程子红</td><td></td>
		</tr>


		<tr>
		<td >商机挖掘</td>
		<td  colspan="2">300分为基准分</td>
		<td >成功挖掘到集团信息化项目的商机，并通过项目资料完整性、信息准确性、信息价值三个维度进行计分。300分基准，300分基准，每人每月3条信息封顶。</td>
		<td >例：客户经理在集团内成功挖掘到ICT项目的商机，项目经理打分后经政企部经理及分管领导审核确认后给予相应得分。</td><td>隔月稽核后一次性发放</td><td></td>
		</tr>





		<tr>
		<td rowspan="11">加减分项</td>
		<td  colspan="3" >集团产品欠费考核</td>
		<td >欠费金额的2%转换积分</td>
		<td>1、以集团产品出账三个月以上欠费金额的2%转换积分进行扣减。
		2、欠费数据取数截止次月6号。</td>
		<td >例：客户经理所管辖的集团产品，欠费三个月以上的合计金额为1000元，（1000*2%=200）转换积分200进行扣减。</td>
		<td  >按照集团归属取数</td><td >蓝巧斐</td><td ></td>
		</tr>



		<tr>
		<td  colspan="3" >“空中课堂”业务测试</td>
		<td >任何1项未达标扣200积分</td>
		<td>要求客户经理每月参加“空中课堂”等信息化业务测试，参加测试且分数不低于60分为达标。</td>
		<td >某客户经理未参加“空中课堂”业务测试，该项不达标；某客户经理参加测试但分数为58分，不达标。</td>
		<td  ></td><td >胡星宇</td><td ></td>
		</tr>




		<tr>
		<td  rowspan="2" colspan="2" >预警处理</td>
		<td >AB类集团预警当月未有效处理</td>
		<td>扣30分/条</td>
		<td rowspan="2">针对四类人物敏感号码预警、三类人物呼转竞争对手、双模机预警（丽水）三项重点预警指标，AB类集团预警当月未有效处理，则扣30分/条，CD类集团预警当月未有效处理，则扣10分/条。
		有效处理定义：
		1）三项重点预警指标，需按时限要求处理，其中AB类集团要求预警产生后24小时内与集团取得联系，约定走访时间并在2天内在ESOP平台录入处理意见，CD类集团要求预警产生后5天内走访或电访集团并在ESOP平台录入处理意见；
		2）录入要求：需在备注信息内录入走访/电访时间、走访/电访哪位用户、用户职位、异动真实原因、是否被对手策反、策反政策；不符合上诉两项要求的均判定为非有效处理。</td>
		<td rowspan="2" >AB类集团预警当月未有效处理，则扣30分/条，CD类集团预警当月未有效处理，则扣10分/条，上不封顶</td><td rowspan="2">按集团归属</td><td  rowspan="2">戴牮</td><td  rowspan="2"></td>
		</tr>


		<tr>
		<td >CD类集团预警当月未有效处理</td>
		<td>扣10分/条</td>
		</tr>



		<tr>
		<td colspan="2" >优秀案例奖励</td>
		<td colspan="2">100分/个</td>
		<td >阶段性营销案例和日常经典案例上报并被市公司采纳，则给予撰写客户经理100分积分奖励</td>
		<td></td>
		<td >县市上报</td>
		<td>陈利</td>
		<td ></td>
		</tr>




		<tr style="color:red">
		<td colspan="2" >基础信息收集工作</td>
		<td >扣罚</td>
		<td >20分值/条</td>
		<td >1、要求政企后台支撑当月梳理集团数达到100%，未完成1家扣1分。
		2、分公司政企后台支撑或集团客户经理私自进行在网集团成员新增、删除等，按每条扣20分。</td>
		<td></td><td></td>
		<td >张君</td>
		<td>变动</td>
		<td ></td>
		</tr>



		<tr style="color:red">
		<td colspan="2"  rowspan="2">集团托收</td>
		<td >奖励</td>
		<td >100分/家</td>
		<td >1、集团成功办理托收业务，奖励100分每家；</td>
		<td>1、托收业务新增凭据由县托收管理员每月5日前上报市公司专业口（协议书、账户编号等），专业口进行核实后给予奖励；</td>
		<td rowspan="2" >集团归属</td>
		<td  rowspan="2" >梅梦雪</td>
		<td  rowspan="2" >新增</td>
		</tr>


		<tr style="color:red">
		<td >扣罚</td>
		<td >托收失败金额*10%转化分值</td>
		<td >2、每月下发托收失败清单，给予一个月催缴和反馈期，连续两个月托收失败每月扣罚托收失败金额*10%转化分值，直至扣款成功</td>
		<td>2、托收失败扣款数据由支撑每月取数提供</td>
		</tr>


		<tr style="color:red">
		<td colspan="2"  rowspan="3">拍照集团保有</td>
		<td>直管集团流失</td>
		<td >30分/家</td>
		<td  rowspan="3">直管集团流失1家扣30分，稳定性集团流失1家扣20分，流动性集团流失1家扣10分
		注：直管、稳定、流动性集团流失后，按扣罚单价标准连续3个月扣罚，其中，收入次月回升，指标恢复，则次月不再进行扣罚</td>
		<td rowspan="3">流失口径：1）成员流失：集团拍照成员中，出现20%（含）以上离网销户，判为成员流失。2）收入流失：集团拍照成员当月收入之和，与拍照月收入相比，下降30%（含）以上，当月判为收入流失。
		其中：1）成员销户离网或成员离开ESOP后，均不计入当月收入；2）如果成员从一家集团迁移至另一家集团（系统判断该成员当月是否有成员标识，作为依据），仍计入原集团的当月收入。
		以上两个指标，出现其中任何一个，当月该集团即判为流失。
		判为流失后，后期收入指标回升且高于阀值，当月视为指标恢复。</td>
		<td  rowspan="3" ></td>
		<td  rowspan="3" >戴牮</td>
		<td  rowspan="3" >新增</td>
		</tr>


		<tr style="color:red">
		<td >稳定性集团流失</td>
		<td >20分/家</td>
		</tr>

		<tr style="color:red">
		<td >流动性集团流失</td>
		<td >10分/家</td>
		</tr>
</table> 

</div>
	</block>
