<extend name="pub/main_hr"/>
<block name="title">宽级化考核内容</block>
 

	<block name="body">
	<div class="model">
	<div>
		<div class="hr_info_title_l">
			<span>宽级化考核内容</span>
		</div>
		 <table border="0px" cellpadding="1" cellspacing="1" style="font-size: 12px;" class="tit">
		<tr>
		<td colspan="7" style="font-size: 16px; font-weight: 600; text-align: center;padding-top: 20px;">
		客户经理考核内容</td>
		</tr>
		<tr align="center">
			<td>序号</td>
			<td colspan="2">考核内容</td>
			<td>口径</td>
			<td>考核分值（权重）</td>
			<td style="white-space: nowrap;">负责人</td>
		</tr>
		<tr>
			<td>1</td>
			<td rowspan="2">收入（30）</td>
			<td>集团新增产品收入</td>
			<td class="test">指标口径：指客户经理所管辖集团当月新增有效的所有155计费号产品收入和短彩信、流量统付续费收入。（平台取数以次月6号为截止期，以首个出账月记新增155产品收入）<br/>
			考核口径：当完成值大于目标值时，得基础分10分，另10分按比高法计算，得分=10+（完成值-平均值）/（最大值-平均值）*5；<br/>
			当完成值低于平均值时，得分=（完成值-最小值）/（平均值-最小值）*10，最高分值为10分；
			目标值：人均2000
			</td>
			<td>20</td>
			<td>蓝巧斐</td>
		</tr>
		<tr>
			<td>2</td>
			<td>集团成员真实收入</td>
			<td class="test">新增收入（5分）：
			指标口径：指客户经理所辖集团网内成员当月含虚拟网通话的真实收入。（扣减馈赠金后真实收入）<br/>
			考核口径：当完成值大于目标值时，得基础分3分，另2分按比高法计算，得分=3+（完成值-平均值）/（最大值-平均值）*2；<br/>
			当完成值低于平均值时，得分=（完成值-最小值）/（平均值-最小值）*3，最高分值为3分；
			目标值：人均15000
			存量收入（5分）：<br/>
			指标口径：指客户经理所辖集团网内成员当月含虚拟网通话的真实收入。（扣减馈赠金后真实收入）<br/>
			考核口径：当完成值大于平均值时，得基础分3分，另2分按比高法计算，得分=3+（完成值-平均值）/（最大值-平均值）*2；<br/>
			当完成值低于平均值时，得分=（完成值-最小值）/（平均值-最小值）*3，最高分值为3分；
			</td>
			<td>10</td>
			<td>刘弘</td>
		</tr>
		<tr>
			<td>3</td>
			<td rowspan="7">重点工作（40）</td>
			<td>流量统付新增收入</td>
			<td class="test">指标口径：指客户经理所辖集团当月新增的流量统付收入。<br/>
			考核口径：设定基础目标，当客户经理完成基础目标以上得基础分5分，另3分根据比高法计算得分，得分=5+（完成值-基础目标）/（最大值-基础目标）*3；<br/>
			当客户经理完成基础目标以下的，得分=完成值/基础目标*5，最高分为5分。
			</td>
			<td>8</td>
			<td>金雅茜</td>
		</tr>
		<tr>
			<td>4</td>
			<td>4G终端销售</td>
			<td class="test">指标口径：集团成员4G终端销售量，以客户经理登记平台为准。<br/>
			考核口径：设定基础目标，当客户经理完成基础目标以上得基础分5分，另3分根据比高法计算得分,得分=5+（完成值-基础目标）/（最大值-基础目标）*3；<br/>
			当客户经理完成基础目标以下的，得分=完成值/基础目标*5，最高分为5分。
			</td>
			<td>8</td>
			<td>应翔</td>
		</tr>
		<tr>
			<td>5</td>
			<td>集团短彩信新增收入</td>
			<td class="test">指标口径：指客户经理所辖集团当月新签约或续包短彩信收入。（信息机、E管家、集团名片、小区短信）<br/>
			考核口径：设定基础目标，当客户经理完成基础目标以上得基础分4分，另2分根据比高法计算得分,得分=4+（完成值-基础目标）/（最大值-基础目标）*2；<br/>
			当客户经理完成基础目标以下的，最高值按基础目标进行比高法计算得分，得分=完成值/基础目标*4，最高分为4分。
			</td>
			<td>6</td>
			<td>蓝巧斐</td>
		</tr>
		<tr>
			<td>6</td>
			<td> 集团成员宽带</td>
			<td class="test">指标口径：指宽带发展量，含个人宽带、商企宽带。 以CRM工单里备注“A客户经理手机号码XXX宽带”为准，其中纯装宽带电视两户作一条宽带发展量计算。<br/>
			考核口径：设定基础目标，当客户经理完成基础目标以上得基础分4分，另2分根据比高法计算得分，得分=4+（完成值-基础目标）/（最大值-基础目标）*2；<br/>
			当客户经理完成基础目标以下的，得分=完成值/基础目标*4，最高分为4分。
			</td>
			<td>6</td>
			<td>梅梦雪</td>
		</tr>
		<tr>
			<td>7</td>
			<td>政企专线新增条数（季度累计指标）</td>
			<td class="test">指标口径：指客户经理所辖集团当月新增的政企专线条数，（以竣工为主）<br/>
			考核口径：设定基础目标，当客户经理完成基础目标以上得基础分3分，另2分根据比高法计算得分,得分=2+（完成值-基础目标）/（最大值-基础目标）*2；<br/>
			当客户经理完成基础目标以下的，得分=完成值/基础目标*2，最高分为2分。
			</td>
			<td>5</td>
			<td rowspan="2">蓝巧斐</td>
		</tr>
		<tr>
			<td>8</td>
			<td>集团彩云活跃净增用户</td>
			<td class="test">指标口径：指客户经理所辖集团当月集团彩云活跃净增用户数。<br/>
			考核口径：设定基础目标，当客户经理完成基础目标以上得基础分3分，另2分根据比高法计算得分，得分=2+（完成值-基础目标）/（最大值-基础目标）*2；<br/>
			当客户经理完成基础目标以下的，得分=完成值/基础目标*2，最高分为2分。
			</td>
			<td>5</td>
		</tr>
		<tr>
			<td>9</td>
			<td>两网净增用户</td>
			<td class="test">指标口径：指客户经理所辖集团成员有效两网净增用户数。（两网有效用户指亲情网成员间通话短号通话大于0分钟或虚拟网短号通话10分钟（含）以上的客户，计1户）<br/>
			考核口径：设定基础目标，当客户经理完成基础目标以上得基础分1分，另1分根据比高法计算得分,得分=1+（完成值-基础目标）/（最大值-基础目标）*1；<br/>
			当客户经理完成基础目标以下的，最高值按基础目标进行比高法计算得分，得分=完成值/基础目标*1，最高分为1分。
			</td>
			<td>2</td>
			<td>梅梦雪</td>
		</tr>
		<tr>
			<td>10</td>
			<td>县市考核(30)</td>
			<td>分公司根据重点工作自行制定</td>
			<td class="test">指标口径：由县市根据市公司季度工作指导性意见和县市工作重点，选择确定业务发展考核项目、考核方式、权重和任务目标。县市可以根据客户经理负责的集团不同，制定个性化的考核内容。<br/>
			考核口径：按比例给予客户经理打分，30分占比不超过15%、25分占比不超过20%、18分占比不超过50%，12分以下占比15%，在上述比例范围内县市可根据客户经理完成情况自行打分。
			</td>
			<td>30</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>11</td>
			<td rowspan="5">加减分项</td>
			<td>项目一次性收入</td>
			<td class="test">按项目金额和净现值进行加分，项目金额1万以下加1分，1-5万加2分，5-10万加3分，10-50万加4分，50-100万加5分，100-500万加10分（分2个月，每月5分），500-1000万加15分（分3个月，每月5分），1000万以上加20分（分4个月，每月5分），最高加20分；<br/>
			项目净现值5000以下加1分，5000-1万加2分，1-2万加3分，2-3万加4分，3-10万加5分，10-20万加10分（分2个月，每月5分），20-50万加15分（分3个月，每月5分），50万以上以上加20分（分4个月，每月5分），最高加20分;
			</td>
			<td>封顶20分</td>
			<td>程子红</td>
		</tr>
		<tr>
			<td>12</td>
			<td rowspan="2">集团基础信息完整性</td>
			<td class="test">新增真实网内成员(含异网成员)每100户得2分，5分封顶。</td>
			<td>封顶5分</td>
			<td>张君</td>
		</tr>
		<tr>
			<td>13</td>
			<td class="test">当月收集在网集团客户基础信息，1家得0.2分，最高可得5分，5分封顶。</td>
			<td>封顶5分</td>
			<td>宋丽燕</td>
		</tr>
		<tr>
			<td>14</td>
			<td>集团成员回流</td>
			<td class="test">集团回流口径：集团成员规模>=50人，异网号码占比>=30%，有效回流放号占比>=20%的为1家，计5分/家；集团成员规模<50人，有效回流放号>=5户，计2分/家；<br/>
			有效回流放号稽核口径：1)当月或次月DOU达到50M及以上，2)当月或次月虚拟网通话10分钟以上，3）当月或次月MOU达到10分钟以上，达其一条件即可。数据稽核后给予加分。
			</td>
			<td>上不封顶</td>
			<td rowspan="2">刘弘</td>
		</tr>
		<tr>
			<td>15</td>
			<td>新增新入网集团成员</td>
			<td class="test">集团新增成员口径：集团内新增成员新入网用户数，新增一户0.2分，含（在网网内集团成员、有虚拟网通话、本金充值50元及以上），封顶20分。
			</td>
			<td>封顶20分</td>
		</tr>
		<tr>
			<td>16</td>
			<td rowspan="3">健康度</td>
			<td>集团产品欠费率</td>
			<td class="test">指标口径：考核客户经理所辖集团三个月以上产品欠费率；<br/>
			考核口径：如集团产品欠费回收60%不扣分，30%-60%进行线性扣分，低于30%扣5分。
			</td>
			<td>最高扣罚5分</td>
			<td>胡星宇</td>
		</tr>
		<tr>
			<td>17</td>
			<td>异常专线</td>
			<td class="test">指标口径：考核客户经理所辖集团固话及互联网专线活跃率；<br/>
			考核口径：连续3个月0出账、0通话、0流量，且未报备或报备审核不通过的，判定为异常专线，扣0.5分/条；
			</td>
			<td>最高扣罚2分</td>
			<td rowspan="2">胡星宇</td>
		</tr>
		<tr>
			<td>18</td>
			<td>专线产品流失</td>
			<td class="test">指标口径：考核客户经理所辖集团内政企专线的保有情况。<br/>
			考核口径：当月系统删除的政企专线，且判定为专线产品流失，扣2分/条；
			</td>
			<td>上不封顶</td>
		</tr>
	</table>

	</div>
	</div>
 
	</block>