<extend name="pub/main_hr"/>
	<block name="title">准入退出管理机制</block>
	<block name="body">
	<div class="model">
	<div>
		<div class="hr_info_title_l">
			<span>中国移动丽水分公司集团客户经理准入退出管理机制</span>
		</div>
			<h2 align="center">中国移动丽水分公司集团客户经理准入退出管理机制(暂行)</h2>
			<h4>一、人员准入</h4>
			<p>客户经理准入采取社会招聘和内部转岗两种方式，依据不同的程序和标准进行。</p>
			<h4>社会招聘准入机制：</h4>
			<div>
				<p>（一）基本条件：</p>
					<p class="countent">1、学历：大专以上学历；<br/>
					2、年龄20至40周岁，身体和心理健康；<br/>
					3、性格外向，具备较强的责任心，能够承担较大压力；<br/>
					4、具有很强的沟通能力和亲和力; <br/>
					5、计算机能力：熟练掌握Word/excel/ppt等软件工具的使用；<br/>
					6、有通信相关工作经验者为佳。</p>
				<p>（二）招聘流程</p>
					<p class="countent">1、招聘流程说明<br/>
						<img src="__PUBLIC__/images/2.png" width="500px" height="300px"></p>
				<p>（三）见习培训</p>
					<p class="countent">1、制式培训：由人力资源部及政企部进行系统化培训，培训内容主要以客户经理工作手册为主，包含客户经理工作内容、岗位职责、宽级化管理、激励体系、沟通与营销技巧等。<br/>
					2、非制式培训：由各县市组织的不定时提升性培训，包括衔接训练、早会专题、系统操作等。<br/>
					3、导师制培训：新员工入职后县市需指定一人作为其导师。该人负责新员工试用期内业务培训工作。<br/>
					4、见习培训相关流程说明，时长6个月。<br/>
					<img src="__PUBLIC__/images/1.png" width="500px" height="300px"></p>
				<p>（四）考核要求</p>
					<p class="countent">1、实习期结束后将对新员工试岗期表现进行综合评定，如实习期考核不合格则延长试岗期，并采取更换导师等方式继续培养，延长试岗期，试岗期共3个月，结束考核还不合格的，解除劳动合同。
					<table class="tabs" border="1px" cellpadding="1" cellspacing="0" width="600px" align="center">
						<tr class="tbs">
							<td width="50px;">考核内容</td>
							<td width="30px;">分值</td>
							<td>考核口径</td>
							<td>工具</td>
							<td>数据来源</td>
						</tr>
						<tr>
							<td>业绩指标</td>
							<td>40%</td>
							<td>根据计件薪酬办法、宽级化考核内容，设定目标值，根据完成率进行线性得分</td>
							<td>客户经理计件薪酬办法、宽级化考核</td>
							<td>政企客户部</td>
						</tr>
						<tr>
							<td>绩效考核</td>
							<td>20%</td>
							<td>根据实习期间月度绩效考核结果得出；</td>
							<td>绩效考核表</td>
							<td>县公司</td>
						</tr>
						<tr>
							<td>导师评价</td>
							<td>20%</td>
							<td>根据实习计划表完成情况，由导师进行评价打分；</td>
							<td>实习计划表</td>
							<td>导师</td>
						</tr>
						<tr>
							<td>笔试成绩</td>
							<td>20%</td>
							<td>根据基础知识及专业知识测试总得分各占50%得出；</td>
							<td>试卷</td>
							<td>人力资源部、政企客户部</td>
						</tr>
					</table><br/>
					2、根据测评成绩合格后由领导签字确定后，并填写《集团见习客户经理晋升申请表》，成为合格集团客户经理；只有成为合格客户经理才正式执行集团客户经理薪酬计件管理办法、宽级化管理办法。<br/>
					3、如见习期（6个月）满后，该客户经理可独立承担指标，且宽级化绩效考核分值达到目标，则奖励导师5分绩效考核分（连续加3个月）。</p>
			</div>
			<h4>内部转岗准入机制：</h4>
			<div>
				<p>（一）基本条件</p>
					<p class="countent">1、近两年绩效考核要求良好以上。<br/>
						2、学历要求大专以上。如特别优秀（近年两绩效考核均优良以上），对学历不做硬性要求。</p>
				<p>（二）招聘流程</p>
					<p class="countent">1、县市根据本地需求上报调岗人员名单，市公司核对确认后，组织进行考核。<br/>
					2、考核内容：行为量表测试。<br/>
					3、根据考核结果，市公司认定考试人员是否符合基本要求，符合要求的则可办理入职手续，成为见习客户经理。</p>
				<p>（三）见习培训及考核要求参照社招入职客户经理。</p>
			</div>
			<h4>二、人员退出</h4>
			<div>
				<p>（一）退出原则</p>
				<p class="countent">
				   （1）社招或内部转岗客户经理在见习期间未达到岗位要求。<br/>
				   （2）违反公司规章制度或工作严重失职导致公司较大损失的。
						<p class="countents">主要内容：<br/>
						1、客户经理对本职工作不认真负责，未依照规定履行自己的职务，致使单位或服务对象造成损失的行为。<br/>
						2、客户经理个人行为违反公司、国家相关规定，造成不良影响的。</p></p>
				 <p class="countent">  
				   （3）业务能力与岗位要求不匹配。
						<p class="countents">主要内容：<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以一年为一个考核周期，根据全市宽级化统一考核结果进行综合排名，累计排名全市后10%达到3次以上（含3次），进入观察期（为期6个月）；观察期内考核排名全市后10%累计到达3次以上（含3次），则判定业务能力与岗位要求不匹配。<br/><br/> 
					考核办法：<br/>
						1、市公司将每月根据客户经理统一考核情况进行短线告警，对排名全市后10%达到2次以上的（含2次），要求县市针对客户经理进行分析辅导，协助客户经理提升绩效。<br/> 
						2、最终考核被评定为业务能力与岗位要求不匹配，则要求县市次月进行调岗。如未调岗则次月只发放基本工资。<br/>
						3、针对新入职员工、产假员工、病假30天以上员工，设定1年保护期。</p></p>
			</div>
		</div>
	</div>
	</block>