<div>
	<p><span></span>2008 年电信业重组以来，中国通信运营商的全业务竞争时代全面来临。由于政企客户的高价值、
		高增长、高影响力等特性，中国移动的市场重点也发生新变化：从公众客户市场到政企客户市场，
		政企客户市场成为新的战略制高点。政企客户经理队伍不断成长，承担了政企客户的营销拓展、维
		系保有任务，成为政企客户市场的服务营销主力军，为公司整体市场战略目标的实现立下了汗马功
		劳。</p>
	<p><span></span>为打造卓越的政企客户经理队伍、进一步提升政企客户市场服务营销能力，浙江移动政企客户
		部启动了《浙江移动政企客户经理工作手册（2013 版）》的编订工作，并得到各级领导的高度重视
		和各地市公司的大力支持。</p>
	<p><span></span>结合广泛的地市公司调研，借鉴先进的省市公司经验，新版工作手册以技能提升为目标、以市
		场客户为导向、以服务营销为核心、以工作方法为基石、以信息系统为支撑，收集和编辑了六大篇
		章内容：（1）基础知识篇；（2）日常工作篇；（3）服务技能篇；（4）营销技能篇；（5）工作方法篇；
		（6）自我成长篇。希望本手册能成为一线客户经理的好帮手，客户经理通过手册学习和工作实践，
		提升技能，促进绩效，从而实现客户经理岗位价值。随着政企业务的不断发展，本手册将定期进行
		修订和完善。</p>
	<p class="xiangqin"><a href="__PUBLIC__/images/成果2：政企客户经理工作手册.pdf" target="_blank">点击</a>查看详情</p>
</div>
<style type="text/css">
	*{font-size: 14px;line-height: 30px;}
	p span{padding-left: 20px;}
	.xiangqin a{text-decoration: none;color: #000;font-size: 26px;}
	.xiangqin a:hover{color: #0F8EE2;}
</style>