<extend name="pub/main_hr"/>

<block name="title">
<if condition="$errMsg neq null">
	未获取信息
<else/>
{$hr['USER_NAME']} - 个人能力测评报告
</if>
</block>
	
<?php echo 'aaaaa';?>
<block name="body">
	<if condition="$errMsg neq null">
		<div class="errMsg">
			{$errMsg}
		</div>
	<else/>
	<div id="hr_info">
		<div>
			<div class="hr_info_title">
				<span>基本信息</span>
			</div>
			<div class="hr_info_content" style="height: 185px;">
				<div class="model-con"><img src="__HEAD_IMG__{$hr['BILL_ID']}.jpg" height="150px" width="120px"></div>
				<div class="model-cons">
					<ul class="model-list">
						<li class="li">姓名：<span>{$hr['USER_NAME']}</span></li>
						<li class="li">县市：<span>{$hr['COUNTY_NAME']}</span></li>
						<li class="li">岗位：<span>集客维护员</span></li>
					</ul>
					<ul class="model-list">
						<li class="li">员工编号：<span>{$hr['USER_ID']}</span></li>
						<li class="li">用工性质：<span>{$hr['用工性质']}</span></li>
						<li class="li">入职时间：<span><?php echo date ("Y-m-d",strtotime($hr['入职时间'])); ?></span></li>
					</ul>
					<ul class="model-list">
						<li class="li">任现岗位时间：<span><?php echo date ("Y-m-d",strtotime($hr['担任现岗位时间'])); ?></span></li>
						<li class="li">岗位工龄：<span>{$hr['岗位工龄']}</span></li>
						<li class="li">年龄：<span>{$hr['年龄']}</span></li>
					</ul>
					<ul class="model-list">
						<li class="li">最高学历：<span>{$hr['最高学历']}</span></li>
						<li class="li">现职等：<span>{$hr['等级']}级</span></li>
						<li class="li">13年绩效：<span>{$hr['M2013年绩效']}</span></li>
					</ul>
					<ul class="model-list">
						<li class="li">14年绩效：<span>{$hr['M2014年绩效']}</span></li>
						<li class="li">15年绩效：<span>{$hr['M2015年绩效']}</span></li>
						<li class="li">16年评定星级：<span><?php if($hr['现星级']==null){
						echo $hr['等级']-1;} else {echo $hr['现星级'];}?></span></li>
					</ul>
				</div>
			</div>
			<p>工作经历：<span>{$hr['工作经历']}</span></p>
		</div>
		<div>
			<div class="hr_info_title">
				<span>测评结果</span>
			</div>
			<div class="hr_info_content" style="height: 50px;">
				<ul class="model-list">
					<li class="ls">综合得分：<span class="col">{$hr['测评综合得分']}</span></li>
					<li class="ls">全市排名：<span class="col">{$hr['测评综合排名']}</span></li>
					<li class="ls">总人数：<span class="col">{$info[0]['A']}</span></li>
				</ul>
			</div>
			<if condition="($hr['温馨提示'] eq '')"><else/><p class="col">温馨提示：<span class="col">{$hr['温馨提示']}</span></p></if>
			
			<!-- <div id="container1" class="line" style="width:700px;height:320px"></div> -->
		</div>
		<div>
			<div class="hr_info_title">
				<span>笔试成绩</span>
			</div>
			<div class="hr_info_content" style="height: 50px;">
				<ul class="model-list">
					<!-- <li class="ls">总分：<span class="col">10分</span></li> -->
					<li class="ls">你的综合得分：<span class="col">{$hr['笔试成绩']}</span></li>
					<li class="ls">全市排名：<span class="col">{$hr['笔试成绩排名']}</span></li>
					<li class="ls">总人数：<span class="col">{$info[0]['A']}</span></li>
				</ul>
			</div>
			<div id="container2" class="line" style="width:700px;height:320px"></div>
		</div>
		<div>
			<div class="hr_info_title">
				<span>胜任力</span>
			</div>
			<div class="hr_info_content" style="height: 50px;">
				<ul class="model-list">
					<!-- <li class="ls">总分：<span class="col">20分</span></li> -->
					<li class="ls">你的综合得分：<span class="col">{$hr['胜任力']}</span></li>
					<li class="ls">全市排名：<span class="col">{$hr['胜任力排名']}</span></li>
					<li class="ls">总人数：<span class="col">{$info[0]['A']}</span></li>
				</ul>
			</div>
			<div id="container4" class="line" style="width:700px;height:320px"></div>
		</div>
		<div>
			<div class="hr_info_title">
				<span>敬业度</span>
			</div>
			<div class="hr_info_content" style="height: 50px;">
				<ul class="model-list">
					<!-- <li class="ls">总分：<span class="col">70分</span></li> -->
					<li class="ls">你的综合得分：<span class="col">{$hr['敬业度']}</span></li>
					<li class="ls">全市排名：<span class="col">{$hr['敬业度排名']}</span></li>
					<li class="ls">总人数：<span class="col">{$info[0]['A']}</span></li>
				</ul>
			</div>
			<div id="container3" class="line" style="width:700px;height:320px"></div>
		</div>
		<div>
			<div class="hr_info_title">
				<span>综合能力</span>
			</div>
			<div class="hr_info_content" style="height: 50px;">
				<ul class="model-list">
					<!-- <li class="ls">总分：<span class="col">70分</span></li> -->
					<li class="ls">你的综合得分：<span class="col">{$hr['综合能力']}</span></li>
					<li class="ls">全市排名：<span class="col">{$hr['综合能力排名']}</span></li>
					<li class="ls">总人数：<span class="col">{$info[0]['A']}</span></li>
				</ul>
			</div>
			<div id="container6" class="line" style="width:700px;height:320px"></div>
		</div>
		<div style="margin-bottom: 50px;">
			<div class="hr_info_title">
				<span>通用培训</span>
			</div>
			<div style="min-width:400px;" id="c">
				<table class="ran" border="0" cellspacing="0" cellpadding="1">
					<tr class="c">
						<td class="tab" style="height: 30px;">胜任力项</td>
						<td class="tab">匹配课程</td>
						<td class="tab">培训开始时间</td>
						<td class="tab">培训结束时间</td>
						<td class="tab">考试得分</td>
						<td class="tab">选课</td>
					</tr>
					<volist name="ty_cour" id="cou">
						 
						<tr class="c">
							<td>通用课程</td>
							<td>{$cou.COURSE_NAME}</td>
							<td>{$cou.START_TIME}</td>
							<td>{$cou.END_TIME}</td>
							<td>{$cou.EXAM_SCORE}&nbsp;</td>
							<td>
							<?php 
								$url = "http://ls-webdev06.zj.chinamobile.com/uniflow/lsTaskManager/app_ls/chenhao8//LS_Training_plan_approval_process.db/baoming.jssp?open&queryStr=".$cou['APPLYID']."&deptName=".urlencode($hr['COUNTY_NAME'])."&userName=".urlencode($hr['POS_NAME'])."&userId=".$hr['USER_ID']."&charset=utf-8";
								//$url = urlencode($url);
							?>

							<if condition="($cou['USERID']) eq null">
								<a target="_blank" href="{$url}" class="baom">{$cou.情况}</a>			
							<else/>
							{$cou.情况}
							</if></td>
						</tr>
					</volist>
				</table>
			</div>
		</div>
		<div>
			<div class="hr_info_title">
				<span>二次测评</span>
			</div>
			<div id="container5" class="line" style="width:700px;height:320px"></div>
			<p style="font-size: 20px">(备注：二次测评未开始)</p>
		</div> 
	</div>
	</if>
</block>


<block name="js">
	<script type="text/javascript" src="__STATIC__/highcharts.js"></script>
	<script type="text/javascript" src="__STATIC__/exporting.js"></script>
	<script type="text/javascript" src="__STATIC__/highcharts-more.js"></script>
	<script language="javascript" type="text/javascript"> 
    var chart; 
    $(document).ready(function () { 
        chart = new Highcharts.Chart({ 
            chart: { 
                renderTo: 'container1', 
                defaultSeriesType: 'bar', //图表类别，可取值有：line、spline、area、areaspline、bar、column等 
                marginRight: 50, 
                marginBottom: 25,
                height:300,
	            borderWidth: 10,
				borderRadius: 10,
				borderColor:'#f8f8f8'
            }, 
            colors: [
                 '#fe7d7e',
                 '#0476c5'
             ],
	        xAxis: {
	            categories: ['笔试成绩','胜任力','敬业度','综合能力'],
                lineWidth: 1,
             	lineColor: '#272727',
                tickWidth: 1,
                tickColor: '#272727'
	        },
	        yAxis: {
                allowDecimals: false,
                min: 0,
                endOnTick: false,
                gridLineWidth: 0,
                lineWidth: 1,
                lineColor: '#272727',
                tickWidth: 1,
                tickColor: '#272727',
                tickPixelInterval: 70
	        },
	        plotOptions: {
	        	series: {
					pointWidth: 20
				},
	            bar: {
	                dataLabels: {
	                    enabled: true
	                },
	                enableMouseTracking:false
	            }
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            floating: true,
	            borderWidth: 0,
	            backgroundColor:null, 
	            itemMarginBottom: 10,
	            shadow: false
	        },
	        credits: {
	            enabled: false
	        },
	        series: [{
	            name: '得分',
	            data: [{$hr['笔试成绩']},{$hr['胜任力']},{$hr['敬业度']},{$hr['综合能力']}]
	        }, {
	            name: '权重',
	            data: [80, 10, 5, 5]
	        }]
	    });
	});
    </script> 

	<script language="javascript" type="text/javascript"> 
    var chart; 
    $(document).ready(function () { 
        chart = new Highcharts.Chart({ 
	        chart: {
	            renderTo: 'container3',
	            polar: true,
	            type: 'line',
	            height:300,
	            borderWidth: 10,
				borderRadius: 10,
				borderColor:'#f8f8f8',
				plotBackgroundColor: null,
				plotShadow: false,
				plotBorderWidth: 0
	        },

	        colors: [
	             '#a52a2a',
	             '#0476c5'
	         ],

	        pane: {
	            size: '80%'
	        },

	        xAxis: {
	            categories: ['均值','职责认知','工作成就感','归属感','成长认知'],
	            tickmarkPlacement: 'on',
	            //gridLineWidth: 0,
	            lineWidth:0
	        },

	        yAxis: {
	            gridLineInterpolation: 'polygon',
	            //gridLineWidth: 0.3,
	            min: 0
	        },

	        plotOptions: {
	            line: {
	                dataLabels: {
	                    enabled: false
	                },
	                enableMouseTracking:false,
	                marker:{  
	                enabled:false
	            	}
	            } 
	        },

	        legend: {
	            verticalAlign: 'top',
	            y: 7,
	            enabled:true,
	            itemStyle :{
	            	color:'#000'
	            }
	        },
	        series: [{
	        	name:'个人',
	            data: [({$hr['职责认知']}+{$hr['工作成就感']}+{$hr['归属感']}+{$hr['成长认知']})/4,{$hr['职责认知']},{$hr['工作成就感']},{$hr['归属感']},{$hr['成长认知']}],
	            pointPlacement: 'on'
	        },{
	        	name:'全市均值',
	            data: [(4.29+3.91+4.13+4.07)/4,4.29,3.91,4.13,4.07],
	            pointPlacement: 'on'
	        }]

	    });
	});
    </script> 

    <script language="javascript" type="text/javascript"> 
    var chart; 
    $(document).ready(function () { 
        chart = new Highcharts.Chart({ 
            chart: { 
                renderTo: 'container2', 
                defaultSeriesType: 'bar', //图表类别，可取值有：line、spline、area、areaspline、bar、column等 
                marginRight: 50, 
                marginBottom: 25,
                height:300,
                backgroundColor: {
				linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
				stops: [
					[0, 'rgb(96, 96, 96)'],
					[1, 'rgb(16, 16, 16)']
				]
			},
			borderWidth: 3,
			borderRadius: 10,
			borderColor:'#f8f8f8',
			plotBackgroundColor: null,
			plotShadow: false,
			plotBorderWidth: 0
            }, 
            colors: [
                 '#4980ce',
	             '#ffaa42'
             ],
	        xAxis: {
	            categories: ['互联网基础知识','GPON基础知识','通信基础知识','城域网基础知识','集客业务类型，业务开通流程、开通规范','集客故障及投诉处理流程、处理规范'],
                lineWidth: 1,
             	lineColor: '#272727',
             	labels: {
	                style: {
	                    color: '#fafafa'
	                }
	            }
	        },
	        yAxis: [{
                //allowDecimals: false,
                min: 0,
            	labels: {
	                formatter: function() {
	                    return +this.value;
	                },
	                style: {
                		color: '#fff'
            		}
	            } 
	        }],
	        plotOptions: {
	        	series: {
					pointWidth: 10
				},
	            bar: {
	                dataLabels: {
	                    enabled: true,
	                    formatter: function() {
	                    return +this.y;
	                	},
	                	style: {
                		color: '#fff'
            			}
	                },
	                enableMouseTracking:false
	            }
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            floating: true,
	            borderWidth: 0,
	            backgroundColor:null, 
	            itemMarginBottom: 10,
	            shadow: false,
	            enabled:true,
	            itemStyle :{
	            	color:'#fff'
	            }
	        },
	        credits: {
	            enabled: false
	        },

	        series: [{
	            name: '得分',
	            data: [{$hr['互联网基础知识']*1},{$hr['GPON基础知识']*1},{$hr['通信基础知识']*1},{$hr['城域网基础知识']*1},{$hr['集客业务类型']*1},{$hr['集客故障']*1}]
	        },{
	            name: '全市均值',
	            data: [56,50,56,71,,65,68]
	        }]
	    });
	});
    </script> 

    <script language="javascript" type="text/javascript"> 
    var chart; 
    $(document).ready(function () { 
    	chart = new Highcharts.Chart({ 
	        chart:{
	            renderTo: 'container4',
	            polar: true,
	            type: 'line',
	            height:300,
	            backgroundColor: {
				linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
				stops: [
					[0, 'rgb(96, 96, 96)'],
					[1, 'rgb(16, 16, 16)']
				]
			},
			borderWidth: 10,
			borderRadius: 10,
			borderColor:'#f8f8f8',
			plotBackgroundColor: null,
			plotShadow: false,
			plotBorderWidth: 0
	        },

	        colors: [
	             '#a52a2a',
	             '#0476c5'
	         ],

	        pane: {
	            size: '80%'
	        },

	        xAxis: {
	            categories: ['个人素养','工作态度','团队协作','计划与执行','业务管理','效能提升','学习与探索'],
	            tickmarkPlacement: 'on',
	            gridLineWidth: 0.3,
	            lineWidth:0,
	            labels: {
	                style: {
	                    color: '#d3d3d3'
	                }
	            }
	        },

	        yAxis: {
	            gridLineInterpolation: 'polygon',
	            gridLineWidth: 0.3,
	            min: 0,
	            labels: {
	                style: {
	                    color: '#d3d3d3'
	                }
	            }
	        },

	        plotOptions: {
	            line: {
	                dataLabels: {
	                    enabled: false
	                },
	                enableMouseTracking:false,
	                marker:{  
	                enabled:false
	            	}
	            } 
	        },

	        tooltip: {
	            shared: true,
	            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
	        },

	        legend: {
	            verticalAlign: 'top',
	            y: 7,
	            enabled:false,
	            itemStyle :{
	            	color:'#d3d3d3'
	            }
	        },

	        series: [{
	            name: 'Allocated Budget',
	            data: [{$hr['个人素养']},{$hr['工作态度']},{$hr['团队协作']},{$hr['计划与执行']},{$hr['业务管理']},{$hr['效能提升']},{$hr['学习与探索']}],
	            pointPlacement: 'on'
	        }]

	    });
	});
    </script> 

    <script language="javascript" type="text/javascript"> 
    var chart; 
    $(document).ready(function () { 
        chart = new Highcharts.Chart({ 
            chart: { 
                renderTo: 'container5', 
                defaultSeriesType: 'column', //图表类别有：line、spline、area、areaspline、bar、column等 
                marginRight: 50, 
                marginBottom: 25,
                height:300,
	            borderWidth: 10,
				borderRadius: 10,
				borderColor:'#f8f8f8'
            }, 
            colors: [
                 '#fe7d7e',
                 '#0476c5'
             ],
	        xAxis: {
	            categories: ['笔试成绩','胜任力','敬业度','综合能力'],
                lineWidth: 1,
             	lineColor: '#272727',
                tickWidth: 1,
                tickColor: '#272727'
	        },
	        yAxis: {
                allowDecimals: false,
                min: 0,
                endOnTick: false,
                gridLineWidth: 0,
                lineWidth: 1,
                lineColor: '#272727',
                tickWidth: 1,
                tickColor: '#272727',
                tickPixelInterval: 70
	        },
	        plotOptions: {
	        	series: {
					pointWidth: 20
				},
	            column: {
	                dataLabels: {
	                    enabled: true
	                },
	                enableMouseTracking:true
	            }
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            floating: true,
	            borderWidth: 0,
	            backgroundColor:null, 
	            itemMarginBottom: 10,
	            shadow: false
	        },
	        credits: {
	            enabled: false
	        },
	        series: [{
	            name: '得分',
	            data: [{$hr['笔试成绩']},{$hr['胜任力']},{$hr['敬业度']},{$hr['综合能力']}]
	        }, {
	            name: '二次测试评分',
	            data: [0, 0, 0 ,0]
	        }]
	    });
	});
    </script>

    <script language="javascript" type="text/javascript"> 
    var chart; 
    $(document).ready(function () { 
        chart = new Highcharts.Chart({ 
            chart: { 
                renderTo: 'container6', 
                defaultSeriesType: 'column', //图表类别有：line、spline、area、areaspline、bar、column等 
                marginRight: 50, 
                marginBottom: 25,
                height:300,
	            borderWidth: 10,
				borderRadius: 10,
				borderColor:'#f8f8f8'
            }, 
            colors: [
                 '#fe7d7e',
                 '#0476c5'
             ],
	        xAxis: {
	            categories: ['工作态度','团队协作','学习与探索','计划与执行','效能提升','业务管理','团队建设与管理'],
                lineWidth: 1,
             	lineColor: '#272727',
                tickWidth: 1,
                tickColor: '#272727'
	        },
	        yAxis: {
                allowDecimals: false,
                min: 0,
                endOnTick: false,
                gridLineWidth: 0,
                lineWidth: 1,
                lineColor: '#272727',
                tickWidth: 1,
                tickColor: '#272727',
                tickPixelInterval: 70
	        },
	        plotOptions: {
	        	series: {
					pointWidth: 20
				},
	            column: {
	                dataLabels: {
	                    enabled: true
	                },
	                enableMouseTracking:true
	            }
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            floating: true,
	            borderWidth: 0,
	            backgroundColor:null, 
	            itemMarginBottom: 10,
	            shadow: false
	        },
	        credits: {
	            enabled: false
	        },
	        series: [{
	            name: '得分',
	            data: [{$hr['工作态度1']},{$hr['团队协作1']},{$hr['学习与探索1']},{$hr['计划与执行1']},{$hr['效能提升1']},{$hr['业务管理1']},{$hr['团队建设与管理']}]
	        }, {
	            name: '全市均分',
	            data: [1.76,1.38,1.35,2.05,2.22,1.72,1.13]
	        }]
	    });
	});
    </script>

	<script type="text/javascript">
	$(function(){
		var duanb="<?php echo str_replace(array("\r\n", "\r", "\n","&nbsp;"),"|",$yjrs."".$yzrs."".$szrs); ?>";
		var arr = duanb.split('|||||');
		$('#c .row').hide();
		$('#c .row').each(function(index, el) {
			var e=$(this),
			td=e.find('td').eq(0),
			html=$.trim(td.html());
			for (var i = 0; i < arr.length; i++) {
				var tmp=$.trim(arr[i]);
				if(tmp.indexOf(html)>=0){
					e.show();
				}
			}
		});
	});
	</script>
</block>