<extend name="pub/main_hr"/>
	<block name="title">准入退出管理机制</block>
	<block name="body">
	<div class="model">
	<div>
		<div class="hr_info_title_l">
			<span>全业务队伍准入及退出机制</span>
		</div>
			<h2 align="center">全业务队伍准入及退出机制</h2>
<p style="LINE-HEIGHT: 150%; TEXT-INDENT: 28px; MARGIN: 0px 0px 10px">
    <span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">岗位胜任力积分每月统计一次，按照测评周期进行积分汇总，原则上每半年测评1次，每年2次。全业务主管、集客维护员、家客维护员分别排名，分岗位进行奖励及惩罚。</span>
</p>
<p style="MARGIN: 17px 0px 17px 28px">
    <span style="LINE-HEIGHT: 173%; FONT-SIZE: 16px">1.<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span><span style="LINE-HEIGHT: 173%; FONT-SIZE: 16px">职级设置说明</span>
</p>
<p style="LINE-HEIGHT: 150%; MARGIN: 0px 0px 0px 56px" class="MsoListParagraph">
    <span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">1)<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span></span><span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">全业务主管目标职级为7岗，集客维护员、家客维护员目标职级为6岗，全业务维护助理目标职级为5岗。</span>
</p>
<p style="LINE-HEIGHT: 150%; MARGIN: 0px 0px 0px 56px" class="MsoListParagraph">
    <span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">2)<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span></span><span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">一人兼职2个岗位，目标岗位按照就高原则设定。如2个岗位职级相同，由县公司网络部确定主岗位及兼职岗位。当两个岗位出现奖励及惩罚冲突时，按照就高原则或主岗位确定。</span>
</p>
<p style="MARGIN: 17px 0px 17px 28px">
    <span style="LINE-HEIGHT: 173%; FONT-SIZE: 16px">2.<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span><span style="LINE-HEIGHT: 173%; FONT-SIZE: 16px">准入机制</span>
</p>
<p style="LINE-HEIGHT: 150%; MARGIN: 0px 0px 0px 56px" class="MsoListParagraph">
    <span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">1)<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span></span><span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">新入职校招、社招人员要求：满足公司招聘条件。有数通、接入网、传输产品维护经验优先。新入职人员准入办法：新员工培养的专业知识学习阶段，由市公司专业部门进行应知、应会鉴定，并向人力提供是否进入三阶段培养建议。</span>
</p>
<p style="LINE-HEIGHT: 150%; MARGIN: 0px 0px 0px 56px" class="MsoListParagraph">
    <span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">2)<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span></span><span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">非全业务队伍转岗人员要求：近2年年度平均绩效良好及以上，专科及以上学历。转岗人员准入办法：进入全业务队伍后，目标岗位按照全业务队伍目标职级定岗，半年后进行技能鉴定，技能鉴定合格保持目标职级。技能鉴定不合格，目标岗位下降到低1级的岗位。（注：平均绩效是指两年绩效平均值,如一年优良、一年合格，则两年平均绩效为良好。）</span>
</p>
<p style="MARGIN: 17px 0px 17px 28px">
    <span style="LINE-HEIGHT: 173%; FONT-SIZE: 16px">3.<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span><span style="LINE-HEIGHT: 173%; FONT-SIZE: 16px">退出机制</span>
</p>
<p style="LINE-HEIGHT: 150%; MARGIN: 0px 0px 10px 56px" class="MsoListParagraph">
    <span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">1)<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span></span><span style="LINE-HEIGHT: 150%; FONT-SIZE: 16px">全业务主管测评周期内积分连续2次排名末位，调整到职等更低的岗位。家客维护员、集客维护员测评周期内积分连续2次排名末位，调整到职等更低的岗位；下一个测评周期内仍排名最后，退出全业务队伍。</span>
</p>

		</div>
	</div>
</block>