<div>
	<ul>
		<li><a href="__PUBLIC__/images/新员工入职指引手册（业务、技术类）.doc">新员工入职指引手册（业务、技术类）</a></li>
		<li><a href="__PUBLIC__/images/县市集客综合维护工作手册.docx">县市集客综合维护工作手册</a></li>
		<li><a href="__PUBLIC__/images/家宽培训手册.docx">家宽培训手册</a></li>
		<li><a href="__PUBLIC__/images/集客业务支撑技能认证培训手册.docx">集客业务支撑技能认证培训手册</a></li>
		<li><a href="__PUBLIC__/images/集客业务各类流程汇总.docx">集客业务各类流程汇总</a></li>
	</ul>
</div>
<style type="text/css">
	p span{padding-left: 20px;}
	.xiangqin a{text-decoration: none;color: #000;font-size: 26px;}
	.xiangqin a:hover{color: #0F8EE2;}
</style>