<extend name="pub/main_hr"/>
<block name="title">岗位职责</block>
<block name="css">
<style type="text/css">
	table.tableizer-table {
		font-size: 12px;
		border: 1px solid rgb(245, 248, 252); 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid rgb(245, 248, 252);
	}
</style>
</block>
<block name="body">
	<div class="hr_info_title_l">
		<span>岗位职责</span>
	</div>
<table class="tableizer-table">
<thead>
<tr>
<th colspan="9" style="font-size:16px; font-weight:600;text-align:center;padding-top:20px;">岗位职责</th>
</tr>
</thead>
<tbody>
    <tr class="firstRow" >
        <td >
            <span>集客管理员</span>
        </td>
        <td>
            <span>家客管理员</span>
        </td>
        <td>
            <span>全业务主管</span>
        </td>
    </tr>
    <tr style="HEIGHT: 360px" height="360">
        <td>
            <span>1. 负责受理政企业务咨询，对接本地政企部，对政企各类需求实行首问负责；<br/>2. 负责政企业务初勘进度管控及反馈工作；<br/>3. 负责政企业务开通进度管控及开通质量检查；<br/>4. 负责政企业务故障受理及解决，投诉受理及解决，负责故障、投诉处理质量管控；<br/>5. 负责政企业务网络割接、优化、巡检及通信保障工作；<br/>6. 负责政企业务售前、售中、售后各项指标保障工作；<br/>7. 负责政企业务疑难问题技术支撑；<br/>8. 负责政企业务资源信息准确性，负责开展信息普查及修正；<br/>9. 负责政企业务维护人员及维护队伍的工作调度、考核、支付测算；<br/>10. 负责政企业务备品备件的管理。<br/></span>
        </td>
        <td>
            <span>县市家客维护员的主要工作职责包括：<br/>1、负责家客业务服务质量与相关指标保障工作；<br/>2、负责家客装维管理与现场质量把控工作；<br/>3、负责驻地网资源信息完整率和准确率保障工作；<br/>4、负责周期性完成驻地网及家客现场质量检查工作；<br/>6、完成家客代维费用管理和与其他专业的接口工作;<br/>7、负责牵头开展本县新建驻地网片区交维验收管理工作；<br/>8、负责接口本地市场部门完成相关协调配合工作；<br/>9、配合完成专业通信应急保障、应急故障处理及应急装维保障工作。</span>
        </td>
        <td>
            <span>1. 负责OLT退服等故障抢修协调指挥工作；<br/>2. 负责OLT日常安全维护工作，包括OLT物理双路由、OLT取电规范、动力监控等规范核查及整改进度跟踪；<br/>3. 负责ONU光功率达标率、FTTB-ONU异常离线率指标跟踪整改工作<br/>4. 负责OLT覆盖片区优化、安全巡检、链路扩容及通信保障工作；<br/>5. 负责OLT开通协调及安装规范核查工作；<br/>6. 总体负责OLT日常维护资料收集工作，包括上联跳纤路由资料、OLT端口成端资料等；<br/>7. 负责数据城域网工程、维护的配合和测试工作；<br/>8. 负责数据城域网电路维护处理和跳纤、成端资料维护；<br/>9. 负责数据城域网、OLT备品备件的管理；&nbsp; 10. 负责政企业务售前、售中、售后质量管控；<br/>11. 负责家客业务装维质量管控。&nbsp;&nbsp;&nbsp; </span><br/>
        </td>
    </tr>
</tbody></table>
</block>