<extend name="pub/main_hr"/>
	<block name="title">级化相关政策</block>
	<block name="css">
		<style type="text/css">
			*{margin:0;}
			.a{margin-left: 40px;}
			p{line-height: 25px;}
			#xg{padding-top: 20px;width: 940px;margin: 0 auto;text-align: left;}
		</style>
	</block>
<block name="body">
	<div id="xg">
		<h2 align="center">销售经理宽级化相关政策</h2>
		<p>一、	职级设置及分位调整</p>
		<p class="a">1、销售经理2-6等对应1-5星，2等1星，3等2星，4等3星，5等4星，6等5星。</p>
		<p class="a">2、每个职级设置50、30、10、0四个绩效分位档级，在每年度例行绩效调整时，根据上一年度绩效结果动态确定，分别为优秀对应50分位，优良对应30分位，良好对应10分位，合格对应0分位。</p>
		<p>二、	星级评定方式</p>
		<p class="a">1、星级评定实行逐级晋升原则，即员工可参加原星级和更高一星级的评定，但参加更高星级评定的员工绩效须满足一定条件（1-2星级人员获评更高星级的，其最近2年绩效须均为良好及以上；3-4星级人员报名更高星级评定的，其最近2年绩效须均为良好及以上且至少有一个优良或优秀）。</p>
		<p class="a">2、星级评定顺序为：先组织4-5星级人员评定（其中3星级人员跨级参评4星级须自愿报名，履行登记程序），之后再组织1-3星级人员评定。落选4-5星级评定的人员，须再参加1-3星级技能测试，并根据评定成绩确定星级和对应职级。</p>
		<p class="a">3、1-3星级人员的主要评分依据为：绩效得分45%、学历得分15%、技能测试得分40%、突出表现加分(上限10分)、其他加分（上限5分）。4-5星级人员的主要评分依据：绩效得分35%、学历得分15%、技能测试得分25%、面试25%、突出表现加分(上限10分)、其他加分（上限6分）。</p>
		<p>三、 在宽级化职位上的年满45周岁的女员工、年满55周岁的男员工，可不参加星级评定，现职级和对应星级保留至退休，但超过现宽级化职位最高职级且继续在上述职位工作的，个人职级按所在职位最高职级封顶。</p>
	</div>
</block>