<extend name="pub/main_hr"/>
    <block name="title">星级评定管理</block>
    <block name="body">
    <div class="model">
    <div>
        <div class="hr_info_title_l">
            <span>项目经理星级评定管理办法</span>
        </div>
         <h2 align="center">项目经理星级评定管理办法</h2>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 56px">
            <a name="_Toc434878853"></a><strong><span style="FONT-FAMILY: Calibri">1.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style="FONT-FAMILY: 宋体">星级评定的目的</span></strong>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px; TEXT-INDENT: 40px">
            <span style="FONT-FAMILY: 宋体">规范项目经理的职级管理，促进从业人员职业生涯发展规划，支撑公司战略目标实现。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px; TEXT-INDENT: 40px">
            <span style="FONT-FAMILY: 宋体">提升项目经理职级管理的科学性、有效性，提升激励的及时性，形成有利于优秀人才脱颖而出的职级晋升机制，同时通过合理的职级带宽和职级结构设计，逐步建立和完善与市场劳动力价格接轨的分配制度。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 28px; TEXT-INDENT: 40px">
            <span style="FONT-FAMILY: Calibri">&nbsp;</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 56px">
            <a name="_Toc434878854"></a><strong><span style="FONT-FAMILY: Calibri">2.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style="FONT-FAMILY: 宋体">星级设置</span></strong>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 43px; LINE-HEIGHT: 40px; TEXT-INDENT: 40px">
            <span style="FONT-FAMILY: 宋体">公司根据员工表现、技能等多种要素，评定员工的星级（1-5星级）。被评为1星级的员工职级为4级，2星级的员工职级为5级，依此类推，5星级的员工职级为8级。</span>
        </p>
        <table cellspacing="0" cellpadding="0" width="521" style="margin-left: 83px;">
            <tbody>
                <tr class="firstRow" style="HEIGHT: 21px">
                    <td style="BORDER-TOP: windowtext 1px solid; BORDER-RIGHT: windowtext 1px solid; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: windowtext 1px solid; PADDING-RIGHT: 7px; BACKGROUND-COLOR: transparent" height="21" width="97">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">星级</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: windowtext 1px solid; BORDER-RIGHT: windowtext 1px solid; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px; BACKGROUND-COLOR: transparent" height="21" width="66">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">1</span><span style="FONT-FAMILY: 宋体">星级</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: windowtext 1px solid; BORDER-RIGHT: windowtext 1px solid; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px; BACKGROUND-COLOR: transparent" height="21" width="83">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">2</span><span style="FONT-FAMILY: 宋体">星级</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: windowtext 1px solid; BORDER-RIGHT: windowtext 1px solid; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px; BACKGROUND-COLOR: transparent" height="21" width="92">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">3</span><span style="FONT-FAMILY: 宋体">星级</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: windowtext 1px solid; BORDER-RIGHT: windowtext 1px solid; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px; BACKGROUND-COLOR: transparent" height="21" width="92">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">4</span><span style="FONT-FAMILY: 宋体">星级</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: windowtext 1px solid; BORDER-RIGHT: windowtext 1px solid; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px; BACKGROUND-COLOR: transparent" height="21" width="92">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">5</span><span style="FONT-FAMILY: 宋体">星级</span>
                        </p>
                    </td>
                </tr>
                <tr style="HEIGHT: 37px">
                    <td style="BORDER-TOP: #f0f0f0; BORDER-RIGHT: windowtext 1px solid; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: windowtext 1px solid; PADDING-RIGHT: 7px; BACKGROUND-COLOR: transparent" height="37" width="97">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">各星级人员占比</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: #f0f0f0; BORDER-RIGHT: windowtext 1px solid; BACKGROUND: white; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px" height="37" width="66">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">15%</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: #f0f0f0; BORDER-RIGHT: windowtext 1px solid; BACKGROUND: white; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px" height="37" width="83">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">40%</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: #f0f0f0; BORDER-RIGHT: windowtext 1px solid; BACKGROUND: white; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px" height="37" width="92">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">30%</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: #f0f0f0; BORDER-RIGHT: windowtext 1px solid; BACKGROUND: white; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px" height="37" width="92">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">10%</span>
                        </p>
                    </td>
                    <td style="BORDER-TOP: #f0f0f0; BORDER-RIGHT: windowtext 1px solid; BACKGROUND: white; BORDER-BOTTOM: windowtext 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; BORDER-LEFT: #f0f0f0; PADDING-RIGHT: 7px" height="37" width="92">
                        <p style="TEXT-ALIGN: center">
                            <span style="FONT-FAMILY: 宋体">5%</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 43px; TEXT-INDENT: 0px">
            <strong><span style="FONT-FAMILY: Calibri">&nbsp;</span></strong>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 56px">
            <a name="_Toc434878855"></a><strong><span style="FONT-FAMILY: Calibri">3.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style="FONT-FAMILY: 宋体">星级评定办法</span></strong>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 104px">
            <span style="FONT-FAMILY: Calibri">1)</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="FONT-FAMILY: 宋体">参评人员</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 48px; TEXT-INDENT: 40px">
            <span style="FONT-FAMILY: 宋体">每年组织一次星级评定，在职</span><span style="FONT-FAMILY: Calibri">1</span><span style="FONT-FAMILY: 宋体">年以上项目经理均需参加星级评定，</span><span style="FONT-FAMILY: Calibri">1</span><span style="FONT-FAMILY: 宋体">年以下的经申请也可参加。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 104px">
            <span style="FONT-FAMILY: Calibri">2)</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="FONT-FAMILY: 宋体">星级评比维度</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 48px; TEXT-INDENT: 40px">
            <span style="FONT-FAMILY: 宋体">当年业绩（</span><span style="FONT-FAMILY: Calibri">45</span><span style="FONT-FAMILY: 宋体">分）、内外部满意度评价（</span><span style="FONT-FAMILY: Calibri">10</span><span style="FONT-FAMILY: 宋体">分）、学历（</span><span style="FONT-FAMILY: Calibri">5</span><span style="FONT-FAMILY: 宋体">分）、所获有效证书（</span><span style="FONT-FAMILY: Calibri">10</span><span style="FONT-FAMILY: 宋体">分）、笔试成绩（</span><span style="FONT-FAMILY: Calibri">25%</span><span style="FONT-FAMILY: 宋体">）、面试成绩（</span><span style="FONT-FAMILY: Calibri">10%</span><span style="FONT-FAMILY: 宋体">）、突出表现加分项（</span><span style="FONT-FAMILY: Calibri">10%</span><span style="FONT-FAMILY: 宋体">）</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 104px">
            <span style="FONT-FAMILY: Calibri">3)</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="FONT-FAMILY: 宋体">可加分的突出表现内容</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 80px; LINE-HEIGHT: 32px">
            </span><span style="FONT-FAMILY: 宋体">1、近两年内获评省级以上劳模的加10分，市级以上劳模的加5分，区级劳模的加3分。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 80px; LINE-HEIGHT: 32px">
            </span><span style="FONT-FAMILY: 宋体">2、近两年内获评岗位能手等其他个人荣誉的，国家级的加10分，省级的加5分，市级的加3分，区级的加2分。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 80px; LINE-HEIGHT: 32px">
            </span><span style="FONT-FAMILY: 宋体">3、近两年内获评省公司级优秀员工的，加3分。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 80px; LINE-HEIGHT: 32px">
            </span><span style="FONT-FAMILY: 宋体">4、近2年内入选岗位专业专家库的：集团级的得5分，省公司级的得3分。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 80px; LINE-HEIGHT: 32px">
            </span><span style="FONT-FAMILY: 宋体">5、近2年内岗位技能竞赛、岗位专业创新获奖的（主管部门、集团和省公司级文件【省公司部门级文件无效】；共同署名者前三顺位才有效；省公司级评审类创新须年度奖项才有效）：集团级以上的得6分，省公司级一等奖、二等奖、三等奖分别得5分、3分、2分；</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 80px">
            </span><span style="FONT-FAMILY: 宋体">6、同一项目重复获奖的，以最高奖项为准，不重复加分。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 43px; TEXT-INDENT: 0px">
            <strong><span style="FONT-FAMILY: Calibri">&nbsp;</span></strong>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 56px">
            <a name="_Toc434878856"></a><strong><span style="FONT-FAMILY: Calibri">4.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><strong><span style="FONT-FAMILY: 宋体">升星和降星的规则</span></strong>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 104px">
            <span style="FONT-FAMILY: Calibri">1)</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="FONT-FAMILY: 宋体">遇到如下情况则升星</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 77px">
            </span><span style="FONT-FAMILY: 宋体">1、星级评定达到升星的条件，则提升</span><span style="FONT-FAMILY: Calibri">1</span><span style="FONT-FAMILY: 宋体">星</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 77px">
            </span><span style="FONT-FAMILY: 宋体">2、突出贡献经评审组审议通过的可以升</span><span style="FONT-FAMILY: Calibri">1</span><span style="FONT-FAMILY: 宋体">星。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 77px">
            </span><span style="FONT-FAMILY: 宋体">3、原则上只能逐级提升，如业绩特别突出，经本人申请，评审组同意后，可破格跨星级申报测评。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 48px; TEXT-INDENT: 0px">
            <span style="FONT-FAMILY: 宋体">其他说明：</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 104px">
            <span style="FONT-FAMILY: Calibri">2)</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="FONT-FAMILY: 宋体">遇到如下情况则降星。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 76px">
            </span><span style="FONT-FAMILY: 宋体">星级评定达不到现有星级水平，则下降</span><span style="FONT-FAMILY: Calibri">1</span><span style="FONT-FAMILY: 宋体">星。</span>
        </p>
        <p>
            <span style="FONT-FAMILY: Calibri">&nbsp;</span>
        </p>
    </div>
    </div>
</block>