<div>
	<ul>
		<li><a href="__PUBLIC__/images/销售经理/3月业务测试题目及答案.docx">3月业务测试题目及答案</a></li>
		<li><a href="__PUBLIC__/images/销售经理/4月业务测试题目及答案.docx">4月业务测试题目及答案</a></li>
		<li><a href="__PUBLIC__/images/销售经理/附件1：现行渠道业务酬金标准（更新至2016-05）.xlsx">附件1：现行渠道业务酬金标准（更新至2016-05）</a></li>
		<li><a href="__PUBLIC__/images/销售经理/附件2：渠道集中化管理平台操作手册20160505.doc">附件2：渠道集中化管理平台操作手册20160505</a></li>
		<li><a href="__PUBLIC__/images/销售经理/业务政策及酬金.xlsx">业务政策及酬金</a></li>
		<li><a href="__PUBLIC__/images/销售经理/丽水移动社会渠道宣传布置标准-9.22.ppt">丽水移动社会渠道宣传布置标准</a></li>
		<li><a href="__PUBLIC__/images/销售经理/社会渠道经理工作手册.docx">社会渠道经理工作手册</a></li>
		<li><a href="__PUBLIC__/images/销售经理/社会渠道销售经理能力模型.xlsx">社会渠道销售经理能力模型</a></li>
		<li><a href="__PUBLIC__/images/销售经理/通关评分表（9月第一批）.xlsx">通关评分表（9月第一批）</a></li>
		<li><a href="__PUBLIC__/images/销售经理/业务政策及酬金（更新至2016-09）.xlsx">业务政策及酬金（更新至2016-09）</a></li>
		<li><a href="__PUBLIC__/images/销售经理/9月实体渠道宣传内容9.22.xlsx">9月实体渠道宣传内容9.22</a></li>
	</ul>
</div>
<style type="text/css">
	p span{padding-left: 20px;}
	.xiangqin a{text-decoration: none;color: #000;font-size: 26px;}
	.xiangqin a:hover{color: #0F8EE2;}
</style>