<extend name="pub/main_hr"/>
    <block name="title">准入退出管理机制</block>
    <block name="body">
    <div class="model">
    <div>
        <div class="hr_info_title_l">
            <span>中国移动丽水分公司项目经理准入制度</span>
        </div>
       <h2 align="center">中国移动丽水分公司项目经理准入制度(暂行)</h2>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 40px">
            <span >为推进中国移动丽水分公司的项目经理队伍建设，建</span><span >立项目经理岗位准入制度，规范项目经理岗位资格管理，特</span><span >制定本办法。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-ALIGN: center; MARGIN: 0px 0px 0px 48px">
            <strong><span >第一章<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp; </span></span></strong><strong><span >总则</span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第一条 </span></strong><span >本办法所称的项目经理岗位资格是按一定的评审程序和条件，对从事项目管理活动的人员的经历、业绩、水平、能力的综合评价，认为岗位资格拥有着具备项目经理上具备基本的能力和水平</span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第二条 </span></strong><span >资格获得需通过如下步骤：</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">1.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >学习项目经理岗位所需的基础知识。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">2.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >参加准入水平测试，通过后获得试岗资格。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">3.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >进行半年的试岗工作。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">4.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >半年期满进行上岗测评。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">5.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >通过测评，获得项目经理岗位资格。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 0px">
            <span><span style="FONT-FAMILY: Calibri">&nbsp;</span></span>
        </p>
        <p class="MsoListParagraph" style="TEXT-ALIGN: center; MARGIN: 0px 0px 0px 72px">
            <strong><span >第二章<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></strong><strong><span >准入办法</span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第三条 </span></strong><span >准入测试前的学习</span>
        </p>
        <p style="TEXT-INDENT: 40px">
            <span >拟准备招聘或转岗为项目经理的，可根据下发的材料，和《</span><span><span style="FONT-FAMILY: Calibri">PM-BOOK</span></span><span >》及《信息系统项目管理工程师考试大纲》的相关要求进行测试前的自学，在自认为可以胜任项目经理岗位时，可申请参加准入测试。学习材料包括：</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">1.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >基础项目管理知识</span>
        </p>
        <p style="TEXT-INDENT: 40px">
            <span>项目管理九大知识领域，参考书目《</span><span><span style="FONT-FAMILY: Calibri">PM-BOOK</span></span><span >》</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">2.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >基础业务知识</span>
        </p>
        <p style="TEXT-INDENT: 40px">
            <span >公司信息化产品知识、全业务知识、基础</span><span><span style="FONT-FAMILY: Calibri">IP</span></span><span >网络知识、常见</span><span><span style="FONT-FAMILY: Calibri">ICT</span></span><span >项目相关知识、相关法律法规知识等，可参考工信部信息系统项目管理工程师考试科目要求。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">3.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span><span style="FONT-FAMILY: Calibri">ICT</span></span><span >业务相关的管理制度和流程规范</span>
        </p>
        <p style="TEXT-INDENT: 40px">
            <span >财务规范、采购制度、</span><span><span style="FONT-FAMILY: Calibri">ICT</span></span><span >业务管理办法等。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">4.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >其他</span><span><span style="FONT-FAMILY: Calibri">ICT</span></span><span >业务相关的材料</span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <a name="_Toc434793347"></a><strong><span >第四条 </span></strong><span >准入的水平测试</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">1.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >准入测试即设定一定的入职门槛，通过准入测试即获取试岗资格，并不等同获得项目经理岗位。应在试岗期间通过努力，通过上岗评估测试，通过的才获取项目经理岗位。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">2.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >准入测试内容</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >（</span><span><span style="FONT-FAMILY: Calibri">1</span></span><span >）、面试（</span><span><span style="FONT-FAMILY: Calibri">30%</span></span><span >）</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >主要测试员工是否具备一定沟通能力，临场应变能力。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >（</span><span><span style="FONT-FAMILY: Calibri">2</span></span><span >）、基础知识笔试（</span><span><span style="FONT-FAMILY: Calibri">70%</span></span><span >）</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >通过笔试可以获知员工的学习能力和对基础知识的掌握水平。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >（</span><span><span style="FONT-FAMILY: Calibri">3</span></span><span >）、其他形式的测试内容（按需设置）</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >根据不同时期的不同需要，开展的测试项目。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">3.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >准入测试的时间安排</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >常规半年开展一次，遇特殊情况，经政企部经理批准同意可临时增设测试。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <a name="_Toc434793348"></a><span><span style="FONT-FAMILY: Calibri">4.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >准入测试不通过的，可继续自学，准备参加下一次准入测试。</span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第五条 </span></strong><span >试岗期的培养</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 40px">
            <span >试岗期期间，将为试岗员工分配一名导师，导师需为项目经理从业</span><span><span style="FONT-FAMILY: Calibri">1</span></span><span >年以上的员工。辅导的内容主要为项目管理经验、沟通方法、流程规范等等。试岗期间应协助导师完成项目管理工作，独立完成导师分配的项目支撑工作。试岗期半年。</span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <a name="_Toc434793350"></a><strong><span >第六条 </span></strong><span >上岗测评</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">1.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >试岗到期员工可参加上岗测评，通过上岗测评的员工，可认为具备项目经理的基本能力水平，可胜任基本的岗位职责，许可上岗。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">2.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >测评内容主要</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >（</span><span><span style="FONT-FAMILY: Calibri">1</span></span><span >）、笔试（</span><span><span style="FONT-FAMILY: Calibri">30%</span></span><span >）</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >主要测试技术基础知识，项目流程、信息化业务等，测试要求的达到认知程度应高于准入测试的水平。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >（</span><span><span style="FONT-FAMILY: Calibri">2</span></span><span >）、面试（</span><span><span style="FONT-FAMILY: Calibri">20%</span></span><span >）</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >主要测试面对客户时的沟通表达能力，临场应变能力等。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >（</span><span><span style="FONT-FAMILY: Calibri">3</span></span><span >）、操作（</span><span><span style="FONT-FAMILY: Calibri">10%</span></span><span >）</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >项目经理应具备良好的投标分析能力，以提高获得订单的能力。因此需模拟招标场景，要求参评人员根据场景规定的条件，分析投标形式，制定投标策略，并编写标书和参与讲标。评委根据各个参评人员表现给予评标，根据评标结果给予评价和打分。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >（</span><span><span style="FONT-FAMILY: Calibri">4</span></span><span >）、业绩表现（</span><span><span style="FONT-FAMILY: Calibri">40%</span></span><span >）</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span >测评组将根据参评人员试岗期间的表现适当评分，参考因素主要包括，参与项目数（考量经验）、导师评价、客户经理评价、有无独立承接项目经验、其他体现业绩和能力的内容。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">3.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >上岗测评不通过的，给予一次重新试岗的机会，试岗期结束可再次参加上岗测试，如还无法通过，则不允许参加项目经理岗位资格考试。</span>
        </p>
        <p>
            <span><span style="FONT-FAMILY: Calibri">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>
        </p>
        <p class="MsoListParagraph" style="TEXT-ALIGN: center; MARGIN: 0px 0px 0px 72px">
            <strong><span >第三章<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></strong><strong><span >项目经理退出管理办法</span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第七条 </span></strong><span >遇如下情况相关人员可退出项目经理岗位。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">1.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >公司安排的岗位调整</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">2.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >本人离职</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">3.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >触犯公司相关规定而导致的辞退。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">4.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >连续</span><span><span style="FONT-FAMILY: Calibri">6</span></span><span >个月月度考评为一般，无法胜任岗位的。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 40px">
            <span >以上第</span><span><span style="FONT-FAMILY: Calibri">1</span></span><span >种情形，需安排新进人员参与项目经理准入测评，通过准入水平测试，获得试岗资格，原项目经理允许调岗。</span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第八条 </span></strong><span >现任项目经理参加第一次准入测评，测评不通过取消转入试岗期，参加半年后的上岗测评。第二次上岗测评无法通过的退出项目经理岗位。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 0px">
            <span><span style="FONT-FAMILY: Calibri">&nbsp;</span></span>
        </p>
        <p class="MsoListParagraph" style="TEXT-ALIGN: center; MARGIN: 0px 0px 0px 72px">
            <strong><span >第四章<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></strong><strong><span >免于上岗测试的情形</span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第九条 </span></strong><span >满足如下条件之一的可以免于上岗测试，直接获得或保留项目经理岗位，除非本人要求参加测试。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">1.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >获得</span><span><span style="FONT-FAMILY: Calibri">PMP</span></span><span >认证证书的。</span>
        </p>
        <p class="MsoListParagraph" style="TEXT-INDENT: 45px">
            <span><span style="FONT-FAMILY: Calibri">2.</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span >获得软考《信息系统项目管理工程师》或《信息系统项目管理师》考试证书的。</span>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span><span style="FONT-FAMILY: Calibri">&nbsp;</span></span>
        </p>
        <p class="MsoListParagraph" style="TEXT-ALIGN: center; MARGIN: 0px 0px 0px 72px">
            <strong><span >第五章<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></strong><strong><span >附则</span></strong>
        </p>
        <p class="MsoListParagraph" style="MARGIN: 0px 0px 0px 24px; TEXT-INDENT: 40px">
            <span><span style="FONT-FAMILY: Calibri">&nbsp;</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第十条 </span></strong><span >本暂行办法自公布之日开始执行，试行期一年。</span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 45px">
            <strong><span >第十一条<span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span >本办法由公司人力资源部负责解释。</span>
        </p>
</div>
</div>
    </block>