<extend name="pub/main_hr"/>
    <block name="title">ICT项目实施</block>
    <block name="body">
    <div class="model">
    <div>
        <div class="hr_info_title_l">
            <span>中国移动浙江公司ICT项目实施细则</span>
        </div>
        <h2 align="center">中国移动浙江公司ICT项目实施细则</h2>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <span><span style="FONT-FAMILY: 宋体">为进一步健全和规范中国移动浙江公司ICT项目决策机制，保障全省ICT项目决策管理的科学性、规范性、高效性，促进全省ICT项目健康发展，根据《中国移动浙江公司ICT业务项目管理办法》（以下简称《管理办法》），制订本实施细则。</span></span>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">&nbsp;</span></strong></span></strong>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">第一章 总则</span></strong></span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第1条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span><span style="FONT-FAMILY: 宋体">本实施细则是《管理办法》在项目决策环节的具体规范和要求，适用于《管理办法》中规定的ICT项目。项目商机管理、组织和职责、项目实施管理、项目验收和后评估管理等内容按照《管理办法》执行。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第2条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span style="FONT-FAMILY: 宋体"><span>ICT</span><span>作为推动公司转型业务发展的重要手段，主要定位于促进政企客户保有、拉动主营通信业务收入，特别是通过政企信息化项目带动政企全业务的发展 ，培育公司第三条增长曲线所需的核心能力，因此明确ICT项目发展的总体原则为“三个符合，两个聚焦和一个培育”。三个符合是ICT项目的拓展方向，两个聚焦和一个培育是在三个符合前提下的实操指导。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第3条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span style="FONT-FAMILY: 宋体"><span>ICT</span><span>项目发展的总体原则中“三个符合”是指符合浙江省政府信息经济发展趋势，符合加强互联网时代的社会化管理需要；符合公司发展方向的第三条曲线所需的核心平台或核心能力的培养；符合公司主营业务的拉动、用户黏性的增强和重大竞争的应对。两个聚焦是指聚焦重点行业与聚焦自有平台型产品；一个培育是指融创公司的集成能力、研发能力、平台运营能力。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第4条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span><span style="FONT-FAMILY: 宋体">符合浙江省政府信息经济发展趋势是指通过五年的努力，使信息产业成为全省重要的支柱产业，基本建成特色明显、全国领先的电子商务、物联网、云计算、大数据、互联网金融创新、智慧物流、数字内容产业中心，信息化和工业化深度融合国家示范区建设扎实推进，成为长三角地区乃至全国信息经济发展的先行区；符合加强互联网时代的社会化管理需要是指研究网络社会的特点，正确认识网络社会的新特点，积极推行社会事务的电子化管理。发挥网络优势，创新政府管理面对互联网发展带来的机遇与挑战，探索管理科学化的路径与方法。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第5条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span><span style="FONT-FAMILY: 宋体">符合公司发展方向的第三条曲线所需的核心平台或核心能力的培养是指数字化服务是继语音、流量之后公司增长的第三条曲线，关键是找到并培养具有天然优势的核心能力或核心平台。核心能力是指自身软件产品开发能力、集成能力和平台运营能力。核心平台是指云服务或信息服务平台、大数据的挖掘利用平台、物联网的管控运营平台等。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第6条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span><span style="FONT-FAMILY: 宋体">符合公司主营业务的拉动、用户黏性的增强和重大竞争的应对涵盖了原“三做”内容：对于能切实增强重要集团客户粘性的项目，要重点做；对于竞争性强、影响力大的项目，在做好效益核算的前提下，要跟进做；和主营的基础通信类业务相关，效益好的项目，要主动做。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第7条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span><span style="FONT-FAMILY: 宋体">两个聚焦是指ICT项目必须聚焦重点行业,重点行业的聚焦必须紧跟政府转型,同时符合我公司综合影响力、市场潜力、核心能力培养。结合以上两个原则，未来两到三年我们当聚焦的重点行业为至少包含政务、教育、健康医疗、旅游、公安城管、交通物流；聚焦重点平台型产品，建设重点ICT项目，带动行业标准化平台建设，优化及建设融合通信、集团WLAN、千里眼、呼叫中心外包、移动工作台、行业云、大数据平台、等重点行业平台，应用于重点行业，形成一批重点ICT项目。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第8条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span><span style="FONT-FAMILY: 宋体">根据《管理办法》，按照项目建设资金额度分为50万元以下的常规项目和50万元以上（含）的专项项目，按照项目建设完后相关资产归属权是否发生转移分为资产移交模式（成本模式）和资产非移交模式（投资模式），以及混合模式（部分资产移交，部分资产不移交），本办法适用于上述三类项目。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第9条</span><span style="FONT: 9px &#39;Times New Roman&#39;">&nbsp; </span></span></strong><span><span style="FONT-FAMILY: 宋体">按项目的意义可将专项项目分为战略类和效益类两大类：战略类以项目意义为导向，评判依据为 “三个符合”，效益底线为当折现率为5.5%时，净现值NPV&gt;0；效益类要求CT部分标准资费最低折扣符合相关要求，IT部分内部收益率大于10.5%，动态回收期在3年以内。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第10条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">效益类项目按标准化程度可分为标准类与非标准类，标准类项目指产品化操作的集团WLAN项目和融创承建的视频监控类项目，除此之外均为非标准类项目。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第11条</span> </span></strong><span style="FONT-FAMILY: 宋体"><span>ICT</span><span>项目决策应坚持“科学、规范、高效”的原则，在坚持科学、规范的原则下，加强项目效益评估的客观性、准确性，提高项目决策的效率。</span></span>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">&nbsp;</span></strong></span></strong>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">第二章 组织和职责</span></strong></span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第12条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">省公司ICT项目决策委员会（以下简称“委员会”）是由中国移动浙江公司ICT业务管理相关单位的领导和专家组成的虚拟团队，是全省ICT项目决策的常设管理组织。委员会日常办公机构设置在省公司政企客户部。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第13条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">委员会负责制定、优化ICT项目决策制度和流程，负责全省ICT专项项目的决策审批和项目后评估。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第14条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">委员会主任由省公司分管副总经理担任，委员会成员由网络部、规划技术部、工程建设部、采购物流部、财务部、数据业务部、政企客户部、浙江融创信息产业公司等相关部门领导和专家组成。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第15条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">委员会下设ICT项目预审组，成员由网络部、规划技术部、工程建设部、采购物流部、财务部、数据业务部、政企客户部、浙江融创信息产业公司等相关部门的专家组成，负责对专项项目的上会前预审及紧急项目流程处理。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第16条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">省公司政企客户部是中国移动浙江公司ICT专项项目立项决策的需求发起和牵头管理单位，负责ICT项目的预立项批复和成本模式的ICT项目立项的最终批复。省公司网络部、规划技术部、工程建设部、财务部、数据业务部、采购物流部、浙江融创信息产业公司等相关部门为ICT项目决策的配合部门。省公司规划技术部负责投资模式的ICT项目立项的最终批复。（各部门的具体审核职责详见附件1：ICT项目预立项各部门审核要点。）</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第17条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">各市分公司应参照省公司ICT项目决策委员会成立相对应的决策组织，负责市分公司ICT常规项目的决策管理及专项项目的预审。</span></span>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">&nbsp;</span></strong></span></strong>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">第三章 项目预评估标准</span></strong></span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第18条</span> </span></strong><span style="FONT-FAMILY: 宋体"><span>ICT</span><span>项目效益评估应坚持“直接经济效益优先，兼顾间接效益”的原则，综合考虑项目的直接经济效益和间接效益。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第19条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">项目效益评估分为CT与IT部分，分别进行评估。效益类标准项目包括集团WLAN项目与融创承建的视频监控项目，其中集团WLAN项目全部算做CT；融创承建的视频监控项目，线路部分算作CT，头端设备及安装集成算作IT标准类视频监控项目。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第20条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">战略类及效益类非标项目的CT部分是指公司提供的可复用的标准化产品，如：语音、短彩信、数据流量，专线（数据专线，虚拟专网）等，及不可复用的网络资源投入如物理专网、裸纤、无复用可能的专线和相应网络设备等；IT部分是指为用户单独购置或开发的平台及设备，如：应用软件、服务器、摄像头等，及成品化平台及软件。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第21条</span> </span></strong><span style="FONT-FAMILY: 宋体"><span>CT</span><span>部分效益评估要求产品单价不低于标准资费的最低折扣。若网络配套投资中含不可复用投资，如裸纤、物理专网、无复用可能的专线及网络设备等，则参照IT部分效益测算要求并由规划部审核是否批复相应投资。（注：产品单价和最低折扣每年年初根据财务的产品利润报表进行调整和公布,详见附件2： ICT项目产品折扣表）</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第22条</span> </span></strong><span style="FONT-FAMILY: 宋体"><span>IT</span><span>部分效益评估要求以项目内部收益率（即内含报酬率IRR）来衡量，评价的基本要求为净现值为正，动态回收期在3年以内，效益类项目内部收益率要求高于10.5%，IT部分中成品软件单价要求不低于最低折扣。（IT部分折扣详见附件2： ICT项目产品折扣表）</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第23条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">按照内部收益率的情况设置红线、黄线、绿线标准，分别为内部收益率低于5.5%,介于5.5%-10.5%之间，大于10.5%。红线区间原则不做，黄线区间需要决策，绿线区间可以简化审批。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第24条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">项目的折扣权限按要求进行分层级管理。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第25条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">项目直接经济效益主要包括项目净现值、动态回收期、内部收益率。（效益评估方法详见附件3：ICT项目效益评估表）</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第26条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">项目间接效益综合考虑市场竞争应对、集团客户保有、政企客户规模、政府重点建设项目、项目可扩展、项目示范效应等综合因素。</span></span>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">&nbsp;</span></strong></span></strong>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">第四章 项目决策流程</span></strong></span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第27条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">项目决策分为市级决策和省级决策，常规项目由市级决策并报备省公司，专项项目由省级决策并批复市分公司。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第28条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">对于常规项目，项目决策通过后，以正式文件的报告形式（含项目效益评估表、立项签报、项目建议书、合同扫描件等）报省公司政企客户部备案，并抄送相关部门（投资模式抄送省公司规划技术部、成本模式抄送省公司财务部）。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第29条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">对于专项项目，走省公司决策流程。按照《管理办法》第19、20条要求：50万以上的战略类专项项目及非公司子公司承建的非标准效益类专项项目预立项决策流程为：50万-300万的项目由ICT项目决策委员会会议决策，并由决策委员会主任签发；300万-1000万的项目由ICT项目决策委员会会议决策，并由决策委员会主任会签，由省公司总经理签发；大于1000万的项目，由总经理办公会决策，并由省公司总经理签发。50万以上的标准效益类专项项目及公司子公司承建的非标准效益类专项项目预立项决策流程为：50万-300万的项目由ICT项目政企客户部预审决策，由各部门会签，并由决策委员会主任签发；300万-1000万的项目由ICT项目预审组决策，并由决策委员会主任会签，由省公司总经理签发；大于1000万的项目由ICT项目决策委员会会议决策，并由省公司总经理签发。（决策流程详见附件4：ICT项目决策流程图）</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第30条</span> </span></strong><span style="FONT-FAMILY: 宋体"><span>ICT</span><span>专项投资预留ICT标准化产品专项投资，并由规划部立项，政企部直接审批。非标准效益类及战略类项目，仍走原省公司项目预审流程，投资仍由规划部在ICT专项投资中批复。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第31条</span> </span></strong><span style="FONT-FAMILY: 宋体"><span>ICT</span><span>项目决策委员会会议须由立项分公司政企客户部部门正职或副职参加，总经理办公会须由立项分公司政企客户部分管副总经理参加。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第32条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">市级决策相关流程如下：签报决策适用项目金额小于50万的常规项目，市级项目决策委员会会议决策适用于项目净现值为负的常规项目及50万以上报省级决策的项目。项目在上报省级决策的同时，市级决策的材料与依据（包括但不限于签报、纪要）须作为附件随项目同时上报，未上报决策依据的省公司不予受理。(分公司项目决策流程详见附件4：ICT项目决策流程图)</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第33条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">专项项目预立项审批通过后，市分公司可以按照批复额度、技术和商务模式与政企客户展开项目招投标工作。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第34条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">在项目招投标过程中，如项目发生重大变更（指项目实际收入、支出额度与项目预立项收入、支出额度任意一项变动超过10%）且效益指标下降，市分公司应及时按照项目预立项办法向项目预立项决策人汇报获取省公司的授权。特殊情况下，市分公司可以口头方式向项目预立项决策人汇报，并事后按照项目预立项办法补交项目变更说明公文。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第35条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">在项目招投标过程中，如项目未发生重大变更（指项目实际收入、支出额度与项目预立项收入、支出额度任意一项变动超过10%）或发生重大变更，但项目效益指标不变或上升。各市分公司可以直接与政企客户和合作伙伴签署项目协议，并以正式文件的请示形式（市分公司管理层签批，含项目效益评估表、预立项签报、项目技术方案、项目合同扫描件等）报省公司申请项目正式立项。对于投资模式的项目，省公司政企客户部通过ICT项目管理平台发给省公司规划技术部，由省公司规划技术部根据项目预立项决策意见及项目合同发文给予项目正式立项批复。对于成本模式的项目，由省公司政企客户部根据预立项决策意见及项目合同发文（省公司财务部会签）给予项目正式立项批复。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第36条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">项目实施完后，由ICT项目决策委员会组织对项目进行抽查评估。项目后评估办法按照《管理办法》执行。</span></span>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">&nbsp;</span></strong></span></strong>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">第五章 后评估及风险管理</span></strong></span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第37条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">采用项目经理及客户经理负责制，加强项目的全过程管理，减少因验收纠纷而造成的欠费情况。如若发生项目后评估不合格，及欠费无法收回情况，将按依据《中国移动通信集团公司经理人员问责实施办法》及《中国移动通信集团浙江有限公司经理人员问责补充规定》启动对领导人员和经营管理人员的追责机制，重大项目要求签署ICT项目风险控制承诺书（详见附件5：ICT项目风险控制承诺书）。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第38条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">项目验收通过后进入项目维护阶段；进入项目竣工转资阶段；同时执行项目的客户经理签收交接，签收时要求客户经理检查项目台账、客户合同相关信息，并根据项目台账建立应收台账，补全合同总额、回款时间、分期额度等信息，并依据应收台账按时开具发票上门收款。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第39条</span> </span></strong><span style="FONT-FAMILY: 宋体"><span>ICT</span><span>项目台账包括基本情况、预立项时上报的项目效益评估表内容、正式立项时上报的项目效益评估表内容、入账情况四部分。现有ICT项目管理系统功能接口除了融创信息化平台、ESOP、融合CRM、端到端系统接口已完成，其它接口尚未对接。实现系统台账管理，是项目后评估的重要手段，尤其要实现与BASS（经分系统）、MIS系统、合同管理系统、预算管理系统等其他外部系统接口。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第40条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">项目验收通过后进入项目维护阶段；要求网络部客户响应中心及融创建立起针对行业平台的SLA分级保障制度。融创维护的IT部分提供7X24小时和5X8小时分等级保障服务，供客户选择。CT部分参照网络部制定的客户保障级别进行维护，A+级客户实施核心网级金牌维护，A级客户实施核心网级金牌维护，B级客户实施重要级银牌维护，C级客户实施重要级铜牌维护。</span></span>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">&nbsp;</span></strong></span></strong>
        </p>
        <p>
            <strong><span><strong><span style="FONT-FAMILY: 宋体">第六章 附&nbsp; 则</span></strong></span></strong>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第41条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">本实施细则的解释权归省公司政企客户部。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <strong><span><span style="FONT-FAMILY: 宋体">第42条</span> </span></strong><span><span style="FONT-FAMILY: 宋体">本实施细则适用于中国移动浙江公司，自2015年1月1日起执行。</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <span><span style="FONT-FAMILY: 宋体">&nbsp;</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 47px">
            <span><span style="FONT-FAMILY: 宋体">附件：1.各部门审核职责</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 75px">
            <span style="FONT-FAMILY: 宋体"><span>2.ICT</span><span>项目产品折扣表</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 75px">
            <span style="FONT-FAMILY: 宋体"><span>3.ICT</span><span>项目决策流程图</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 75px">
            <span style="FONT-FAMILY: 宋体"><span>4.ICT</span><span>项目效益评估表</span></span>
        </p>
        <p style="TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 75px">
            <span style="FONT-FAMILY: 宋体"><span>5.ICT</span><span>项目风险控制承诺书</span></span>
        </p>
    </div>
    </div>
</block>