<extend name="pub/main_hr"/>
<block name="title">岗位职责</block>
<block name="css">
	<style type="text/css">
		.top{font-weight: 600;}
		.test{text-align: center;width: 80px;}
		 
		#gw{position:absolute; width:100%; overflow:auto;left: 50%;margin-left:-490px}
	</style>
</block>

<block name="body">
<div id="">
	<table cellspacing="1" cellpadding="0" border="0" width="960px;" class="tit">
		<tr>
			<td colspan="5" class="top" style="text-align: center;">社会渠道销售经理岗位职责</td>
		</tr>
		<tr>
			<td colspan="3">岗位名称</td>
			<td colspan="2">社会渠道销售经理</td>
		</tr>
		<tr>
			<td colspan="5">工作类别：对社会渠道的维系及管理</td>
		</tr>
		<tr>
			<td colspan="5">具体内容</td>
		</tr>
		<tr>
			<td colspan="4" class="tit">一、主要职责</td>
			<td>技能要求</td>
		</tr>
		<tr>
			<td rowspan="4" class="test">1.渠道建设</td>
			<td colspan="3">职责描述：签约渠道发展与建设</td>
			<td rowspan="4">1.信息收集<br/>2.沟通技巧</td>
		</tr>
		<tr>
			<td rowspan="3" class="test">任务</td>
			<td>1）渠道挖掘及选址：挖掘潜在开办渠道的合作伙伴，并协助开展渠道选址</td>
		</tr>
		<tr>
			<td>2）渠道策反：针对辖区内竞争对手渠道开展策反回归工作</td>
		</tr>
		<tr>
			<td>3）三无渠道转化：针对辖区内优质自由店开展签约工作，发展成签约渠道。</td>
		</tr>
		<tr>
			<td rowspan="5" class="test">2. 销售管理</td>
			<td colspan="3">职责描述：检查渠道4G进货量、4G销售情况、铺卡情况、卡品销售情况、触点业务办理情况</td>
			<td rowspan="5">1.库存管理<br/>2.业务分析能力<br/>3.业务基础技能</td>
		</tr>
		<tr>
			<td rowspan="4" class="test">任务</td>
			<td>1）渠道铺货：检查4G终端进货、销售情况；卡品铺卡及销售情况。</td>
		</tr>
		<tr>
			<td>2）触点业务：检查触点换卡情况、4G资费推荐情况、新售终端换卡及资费办理情况</td>
		</tr>
		<tr>
			<td>3）业务培训：组织所辖渠道前台人员、渠道老板业务知识、政策、酬金政策、系统操作知识培训。</td>
		</tr>
		<tr>
			<td>4）跟踪所辖渠道业务发展情况，并及时针对异常进行处理</td>
		</tr>
		<tr>
			<td rowspan="4" class="test">3.门店管理 </td>
			<td colspan="3">职责描述：检查所辖渠道门店布置、宣传品摆放、产品上架、业务首推情况</td>
			<td rowspan="4">1.展陈管理<br/>2.宣传布置管理</td>
		</tr>
		<tr>
			<td rowspan="3" class="test">任务</td>
			<td>1）产品上架：检测目前主推的产品是否放置在渠道最显眼的位置，并且是否占有绝对的产品宣传位。</td>
		</tr>
		<tr>
			<td>2）业务首推：主流产品是否根据要求进行优先推荐，如流量卡品、4G终端</td>
		</tr>
		<tr>
			<td>3）促销宣传：促销活动的布置、跟踪，所辖渠道店内外宣传品摆放及各类广告单页放置检查。</td>
		</tr>
		<tr>
			<td rowspan="4" class="test">4.服务规范监督</td>
			<td colspan="3">职责描述：所辖渠道服务规范进行监控、评估及管理，并针对投诉工作进行处理</td>
			<td rowspan="4">1.展陈管理<br/>2.宣传布置管理<br/>3.服务规范管理</td>
		</tr>
		<tr>
			<td rowspan="3" class="test">任务</td>
			<td>1）渠道规范检查：按照公司要求对渠道业务规范进行检查，日常走访中对渠道进行检测评估</td>
		</tr>
		<tr>
			<td>2）渠道反馈：针对渠道网点反映的问题进行处理（包括系统问题、政策问题等）</td>
		</tr>
		<tr>
			<td>3）用户反馈：针对所辖渠道内产生的用户投诉进行处理，并进行整改</td>
		</tr>
		<tr>
			<td rowspan="4" class="test">5.基础信息收集</td>
			<td colspan="3">职责描述：收集所辖区域内，各类渠道信息、政策信息、酬金信息等</td>
			<td rowspan="4">1.信息收集</td>
		</tr>
		<tr>
			<td rowspan="3" class="test">任务</td>
			<td>1）用户信息：根据渠道销售情况，收集用户购买习惯，做好产品服务的推荐。</td>
		</tr>
		<tr>
			<td>2）行业信息：收集终端产业、互联网产品信息，并为日常渠道销售提供意见与建议。</td>
		</tr>
		<tr>
			<td>3）竞争对手信息：收集竞争对手渠道政策信息、活动信息及酬金标准信息等</td>
		</tr>
		<tr>
			<td rowspan="3" class="test">6.渠道服务体验提升</td>
			<td colspan="3">职责描述：监督渠道落实线下体验功能</td>
			<td rowspan="3">1.服务规范管理</td>
		</tr>
		<tr>
			<td rowspan="2" class="test">任务</td>
			<td>1）产品体验：落实终端渠道体验区设置及产品展示。</td>
		</tr>
		<tr>
			<td>2）业务体验：落实宽带业务、4G+业务在渠道的体验工作，包括宽带体验区布置等。</td>
		</tr>
		<tr>
			<td colspan="4" class="tit">二、其他工作</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="2">7.基础工作</td>
			<td colspan="2">培训、例会、计划总结、渠道走访等日常工作</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="2">8.临时工作</td>
			<td colspan="2">完成上级领导临时性工作</td>
			<td></td>
		</tr>
	</table>
</div>
</block>