<div>
	<p><span></span>营业厅作为公司服务客户主要窗口之一，一直以来承担着“传播、体验、销售、服务”的重要功能，是客户了解公司和公司服务客户的主要接触点，因此，营业厅的服务水平直接决定了客户对公司的满意程度。营业厅经理是公司组织体系中最基层的管理岗位，是公司内部管理和沟通的重要桥梁，是公司、客户和员工三者之间承上启下、互动沟通的重要角色。营业厅经理管理质量的好坏将直接影响整个营业厅的营运效率，管理水平同样也决定了每一位营业服务人员的工作环境和发展前景。</p>
	<p><span></span>随着通信的快速发展，营业厅的管理正面临着三重挑战：广大客户对公司服务质量的期望值日益高涨的挑战，行业竞争对手服务质量快速提升的挑战，竞争环境的变化所带来的对营业厅管理水平提出了更高要求的挑战。如何在激烈和复杂的竞争环境中发挥公司营业厅的营销领先，如何保持和扩大客户满意度的领先程度，已经成为摆在我们面前的重要课题。我们需要按照科学、可持续发展的要求，持续不断地提升我们营业厅经理的管理水平，固化优秀的管理经验，优化有待改进的基础管理，创新营业厅的服务竞争能力。</p>
	<p><span></span>为此，市公司市场部以规范营业厅的运营管理、促进营业厅的管理效能、提升营业厅的运营效益、增强企业核心竞争能力为目的，梳理了营业厅经理运营管理手册，编辑《中国移动浙江公司丽水分公司营业厅经理运营管理手册（2016版）》，作为全市营业厅经理的学习工具，方便大家在日常工作中加以运用。</p>
	<p class="xiangqin"><a href="__PUBLIC__/images/中国移动浙江公司丽水分公司营业厅经理运营管理手册（2016版）.docx" target="_blank">点击</a>查看详情</p>
</div>
<style type="text/css">
	*{font-size: 14px;line-height: 30px;}
	p span{padding-left: 20px;}
	.xiangqin a{text-decoration: none;color: #000;font-size: 26px;}
	.xiangqin a:hover{color: #0F8EE2;}
</style>