<extend name="pub/main_hr"/>
<block name="title">岗位职责</block>
<block name="css">
<style type="text/css">
	table.tableizer-table {
		font-size: 12px;
		border: 1px solid rgb(245, 248, 252); 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid rgb(245, 248, 252);
	}
</style>
</block>
<block name="body">
	<div class="hr_info_title_l">
		<span>岗位职责</span>
	</div>
<table class="tableizer-table">
<thead>
<tr>
<th colspan="9" style="font-size:16px; font-weight:600;text-align:center;padding-top:20px;">岗位职责</th>
</tr>
</thead>
<tbody><tr class="tableizer-firstrow"><td>序号</td><td>岗位</td><td style="width: 863px;">岗位职责</td></tr>
 <tr><td rowspan="5">1</td><td rowspan="5">营业督导</td><td>监督营业厅日常运营和安全风险管理工作</td></tr>
 <tr><td>审核营业厅营销活动、收入报表及营业资料信息</td></tr>
 <tr><td>监督营业厅日常管理和业务培训</td></tr>
 <tr><td>传达并落实市公司相关规范及营销方案</td></tr>
 <tr><td>监督营业厅对外事务，处理升级投诉和突发事件</td></tr>
 <tr><td rowspan="5">2</td><td rowspan="5">营业厅经理</td><td>负责营业厅日常运营和安全风险管理工作</td></tr>
 <tr><td>监督指导营业员执行业务服务规范和操作流程</td></tr>
 <tr><td>组织开展区域和营业厅营销活动，审核营业收入报表及营业资料信息</td></tr>
 <tr><td>负责营业厅员工日常管理、绩效考核和业务培训</td></tr>
 <tr><td>负责营业厅对外事务协调，处理突发事件和疑难投诉。</td></tr>
 <tr><td rowspan="5">3</td><td rowspan="5">值班经理</td><td>协助营业厅经理开展厅内日常管理</td></tr>
 <tr><td>负责营业厅现场管理，监督指导营业员执行业务服务规范和操作流程</td></tr>
 <tr><td>负责处理现场投诉、升级投诉和突发事件</td></tr>
 <tr><td>负责营业厅班务管理和人员调度</td></tr>
 <tr><td>协助营业厅经理开展班组成员考核、技能提升等工作。</td></tr>
 <tr><td rowspan="5">4</td><td rowspan="5">营业员</td><td>负责按照业务规范、服务标准和操作流程，受理各种业务</td></tr>
 <tr><td>负责营业厅客户引导、业务咨询、投诉处理、离网关怀、业务推介等工作</td></tr>
 <tr><td>协助客户业务体验，捕捉日常商机，提升客户感知和满意度</td></tr>
 <tr><td>参与区域营销活动，落实阶段性营销任务</td></tr>
 <tr><td>在手机应用下载区为客户提供专业的手机服务</td></tr>
 <tr><td rowspan="4">5</td><td rowspan="4">营业后台支撑</td><td>负责营业厅营销类物资申领、调度、保管</td></tr>
 <tr><td>负责营业厅办公设备用品的日常管理维护</td></tr>
 <tr><td>负责业务权限开通、审核和维护</td></tr>
 <tr><td>负责营业厅业务报表统计上报等"日清日结"工作。</td></tr>
</tbody></table>
</block>