<extend name="pub/main_hr"/>
<block name="title">营业员考核内容</block>
<block name="css">
<style type="text/css">
	table.tableizer-table {
		font-size: 12px;
		border: 1px solid rgb(245, 248, 252); 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid rgb(245, 248, 252);
	}
</style>
</block>
<block name="body">
	<div class="hr_info_title_l">
		<span>营业员考核内容</span>
	</div>
<table class="tableizer-table">
<thead>
<tr>
<th colspan="9" style="font-size:16px; font-weight:600;text-align:center;padding-top:20px;">营业员考核内容</th>
</tr>
</thead>
<tbody><tr class="tableizer-firstrow"><td style="width:50px;">指标大类</td><td>指标明细</td><td>分值</td><td>口径</td><td>计分规则</td><td style="width: 100px;">数据来源</td><td style="width: 50px;">提供人</td></tr>
 <tr><td rowspan="2">用户发展</td><td>新增有效用户发展</td><td>12</td><td>当月放号，考核销售日至次月3日的累计期间，通话大于3分钟的数量</td><td>按照时间进度完成率打分，完成率超额时，单项得分按实际完成率*标准分计算，110%封顶；60%以下不得分，60%-110%之间按完成比例线性得分</td><td>集中化平台－县市</td><td>蒋东升</td></tr>
 <tr><td>新增4G流量卡品</td><td>8</td><td>当月新入网且有通信行为、月末状态正常的手机客户中，办理飞享38以上套餐新入网占比（营销无要求除外）</td><td>新增4G流量卡占比低于55%不得分</td><td>集中化平台－县市</td><td>蒋东升</td></tr>
 <tr><td rowspan="2">4G发展</td><td>4G终端销有效量（营业员）</td><td>20</td><td>当月营业员的4G终端销量总量（含量4G+），要求在当月激活，使用时间最长的号码上产生的4G流量大于0M且通话天数大于等于1天，以系统显示的"推荐人"为准</td><td>按照时间进度完成率打分，完成率超额时，单项得分按实际完成率*标准分计算，110%封顶；60%以下不得分，60%-110%之间按完成比例线性得分</td><td>集中化平台－县市</td><td>蒋东升</td></tr>
 <tr><td>4G资费用户发展</td><td>15</td><td>当月50元及以上流量包/飞享手机上网自选包新增数（含下周期生效），次月3日判断有效且不降档，其中同一号码计算一次。</td><td>按照时间进度完成率打分，完成率超额时，单项得分按实际完成率*标准分计算，110%封顶；60%以下不得分，60%-110%之间按完成比例线性得分</td><td>集中化平台－县市</td><td>蒋东升</td></tr>
 <tr><td rowspan="2">智慧家庭</td><td>有线宽带发展</td><td>20</td><td>当月有线宽带竣工量</td><td>按照时间进度完成率打分，完成率超额时，单项得分按实际完成率*标准分计算，110%封顶；60%以下不得分，60%-110%之间按完成比例线性得分</td><td>集中化平台－县市</td><td>蒋东升</td></tr>
 <tr><td>宽带电视发展</td><td>5</td><td>当月宽带电视成功受理量</td><td>按照时间进度完成率打分，完成率超额时，单项得分按实际完成率*标准分计算，110%封顶；60%以下不得分，60%-110%之间按完成比例线性得分</td><td>集中化平台－县市</td><td>蒋东升</td></tr>
 <tr><td rowspan="3">服务管理</td><td>营业厅触点满意度</td><td>5</td><td>营业厅触点满意度达到99.7%；</td><td>当月值达到99.7得满分，低于99不得分，之间线性得分。</td><td>集中化平台－服务管理</td><td>汪海霞</td></tr>
 <tr><td>业务素质</td><td>5</td><td>取县市营业员及店长的周考及月考平均成绩</td><td>根据平均值换算得分</td><td>集中化平台－服务管理</td><td>汪海霞</td></tr>
 <tr><td>营业厅暗访及多媒体质检</td><td>10</td><td>营业厅神秘客户检测成绩和多媒体营业员的质检成绩的平均分</td><td>得分=（暗访成绩/100*5）+（多媒体营业员的质检成绩的平均分/100*5）</td><td>集中化平台－服务管理</td><td>汪海霞</td></tr>
 <tr><td rowspan="2">加分项</td><td rowspan="2">亮点创新</td><td rowspan="2">&nbsp;</td><td>获得上级公司颁发的各项荣誉</td><td>加1-5分/项，10分封顶</td><td>自有渠道组、客服通报</td><td>林瑶</td></tr>
 <tr><td>优秀案例获得上级部门录用分享</td><td>作为亮点进行经验分享、作为服务优秀案例现场分享会、触点服务案例等情况表扬的营业员，加2分/项</td><td>自有渠道组、客服通报</td><td>林瑶</td></tr>
 <tr><td rowspan="3">扣分项</td><td rowspan="3">服务扣分</td><td rowspan="3">&nbsp;</td><td>升级投诉：所管辖区域的营业员个人差错原因导致客户升级投诉</td><td>营业员扣50分</td><td>客服通报</td><td>曾燕</td></tr>
 <tr><td>重大投诉：个人差错原因导致客户损失的重大投诉</td><td>营业员视投诉轻重扣5-10分</td><td>客服通报</td><td>曾燕</td></tr>
 <tr><td>服务质量工单投诉：营业员确定的服务质量工单引起的投诉</td><td>按照扣3分/单，不封顶</td><td>客服通报</td><td>曾燕</td></tr>
</tbody></table>
</block>