<div>
	<ul>
		<li><a href="__PUBLIC__/images/营业厅新增、续租、关厅、前台流程/附件一：营业厅非常规续租申请表.xlsx">附件一：营业厅非常规续租申请表</a></li>
		<li><a href="__PUBLIC__/images/营业厅新增、续租、关厅、前台流程/附件二：关于××营业厅变更的请示.docx">附件二：关于××营业厅变更的请示</a></li>
		<li><a href="__PUBLIC__/images/营业厅新增、续租、关厅、前台流程/附件三、市场部对XX营业厅变更的意见.docx">附件三、市场部对XX营业厅变更的意见</a></li>
		<li><a href="__PUBLIC__/images/营业厅新增、续租、关厅、前台流程/附件四：营业厅变更流程说明.xlsx">附件四：营业厅变更流程说明</a></li>
		<li><a href="__PUBLIC__/images/营业厅新增、续租、关厅、前台流程/关于丽水分公司营业厅变更审批流程的通知.doc">关于丽水分公司营业厅变更审批流程的通知</a></li>
	</ul>
</div>
<style type="text/css">
	p span{padding-left: 20px;}
	.xiangqin a{text-decoration: none;color: #000;font-size: 26px;}
	.xiangqin a:hover{color: #0F8EE2;}
</style>