<extend name="pub/main_hr"/>
    <block name="title">营业人员化考核相关政策</block>
    <block name="css">
        <style type="text/css">
            tr td{border: 1px solid windowtext; padding: 0px 7px;}
        </style>
    </block>
    <block name="body">
    <div class="model">
    <div>
        <div class="hr_info_title_l">
            <span>营业人员化考核相关政策</span>
        </div>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-align:center;text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;font-weight: 600">营业人员化考核相关政策</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">一、 技能评定基本条件</span>
</p>
<p style="text-indent:31px;line-height:150%">
    <span style="font-size:12px;line-height:150%;">1</span><span style="font-size: 12px;line-height:150%;">、根据星级评定实行逐级晋升、逐级降级的原则，营业人员要参加技能评定的，可参加原星级和更高一星级（最高为5星级）的评定，但参加更高星级评定的员工绩效须满足一定条件（1-2星级人员评选更高星级的，其最近2年绩效须均为良好及以上；3-4星级人员评选更高星级的，其最近2年绩效须均为良好及以上且至少有一个优良或优秀）。3星级人员可参加4-5星级的技能评定，但需主动报名并通过审核，若落选则需再参加1-3星级技能评定。</span>
</p>
<p style="text-indent:31px;line-height:150%">
    <span style="font-size:12px;line-height:150%;">2</span><span style="font-size: 12px;line-height:150%;">、新入职、从非宽级化职位新调动至宽级化职位、在宽级化职位不同序列之间调动员工，实行为期1年的职级保护期（新进员工保护期为试岗期结束后的1年），保护期内员工一律不参加星级评定，保护期后再参加星级评定。其星级和职级的初定参见《中国移动浙江公司一线职位宽级化管理办法》。</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">二、鉴定内容与评分标准</span>
</p>
<p style="line-height:150%">
    <span style="font-size: 12px;line-height:150%;">1</span><span style="font-size:12px;line-height:150%;">、营业厅销售服务人员技能评定分为技能测试和面试，其中面试仅针对4-5星级人员开展。</span>
</p>
<p style="line-height:150%">
    <span style="font-size: 12px;line-height:150%;">2</span><span style="font-size:12px;line-height:150%;">、技能测试：</span>
</p>
<p style="text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;font-family: 仿宋_GB2312">总分100分，由业务知识考试（70%）及技能实操（30%）二部分组成。</span>
</p>
<p style="text-indent:24px;line-height:150%">
    <span style="font-size:12px;line-height:150%;font-family: 仿宋_GB2312">（一）业务知识考试：</span>
</p>
<p style="text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;font-family: 仿宋_GB2312">每年各地市组织一次全员的业务知识考试，考试题目在题库中随机抽取。要求全员参加，因故确实未能参加的，经所在单位领导审核原因后，根据其工作表现，按不高于原星级的原则直接确定星级，并参加下一年度组织的评定。</span>
</p>
<p style="text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;font-family: 仿宋_GB2312">考试形式：采用纸质或电子考试系统（待集中化平台考试系统上线）。</span>
</p>
<p style="text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;font-family: 仿宋_GB2312">考试范围包括：服务规范、业务知识、岗位知识、营销拓展、团队管理和其他等。</span>
</p>
<p style="text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;font-family: 仿宋_GB2312">业务知识考试按岗位设置题目配比，由全省通用题目和当地特色题目组成，其中全省通用题目占70%，特色题目占30%。1-3星级参评人员为一套笔试试卷（A卷，100分），4-5星级参评人员在完成A卷的基础上须另行完成一套笔试试卷（B卷，20分），试卷B建议以营业厅情景或案例题为主。</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;">1</span><span style="font-size: 12px;line-height:150%;">、营业厅经理岗位题目分配如下：</span>
</p>
<table cellpadding="0" cellspacing="0" width="546" border="1" style="border-collapse: collapse;">
    <tbody>
        <tr class="firstRow" style=";height:26px">
            <td height="26" width="129">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">题目类别</span></strong>
                </p>
            </td>
            <td height="26" width="277">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">考试内容</span></strong>
                </p>
            </td>
            <td height="26" width="141">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">占比</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:42px">
            <td height="42" width="129">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">服务规范</span>
                </p>
            </td>
            <td height="42" width="277">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">服务礼仪、服务纪律、服务用语、行为规范、投诉处理、沟通表达</span>
                </p>
            </td>
            <td height="42" width="141">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">25%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:28px">
            <td height="28" width="129">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">业务知识</span>
                </p>
            </td>
            <td height="28" width="277">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">全省重点业务、地市个性化营销政策、终端知识</span>
                </p>
            </td>
            <td height="28" width="141">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">25%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:28px">
            <td height="28" width="129">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">团队管理</span>
                </p>
            </td>
            <td height="28" width="277">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">现场管理、培养激励、沟通能力、资源协调、数据分析等</span>
                </p>
            </td>
            <td height="28" width="141">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">40%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:28px">
            <td height="28" width="129">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">其他</span>
                </p>
            </td>
            <td height="28" width="277">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">企业文化、法律法规、安全生产、通信技术</span>
                </p>
            </td>
            <td height="28" width="141">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">10%</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p style="text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;">&nbsp;</span>
</p>
<p style="text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;">2</span><span style="font-size: 12px;line-height:150%;">、其他营业厅销售服务人员岗位题目分配如下：</span>
</p>
<table cellpadding="0" cellspacing="0" width="545" border="1" style="border-collapse: collapse;">
    <tbody>
        <tr class="firstRow" style=";height:28px">
            <td height="28" width="138">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">题目类别</span></strong>
                </p>
            </td>
            <td height="28" width="274">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">考试内容</span></strong>
                </p>
            </td>
            <td height="28" width="132">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">占比</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:43px">
            <td height="43" width="138">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">服务规范</span>
                </p>
            </td>
            <td height="43" width="274">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">服务礼仪、服务纪律、服务用语、行为规范、投诉处理、沟通表达</span>
                </p>
            </td>
            <td height="43" width="132">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">30%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:28px">
            <td height="28" width="138">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">业务知识</span>
                </p>
            </td>
            <td height="28" width="274">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">全省重点业务、地市个性化营销政策、业务办理、终端知识</span>
                </p>
            </td>
            <td height="28" width="132">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">40%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:12px">
            <td height="16" width="138">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">岗位知识</span>
                </p>
            </td>
            <td height="16" width="274">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">岗位日常工作、事物管理</span>
                </p>
            </td>
            <td height="16" width="132">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">10%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:12px">
            <td height="16" width="138">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">营销拓展</span>
                </p>
            </td>
            <td height="16" width="274">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">销售技巧、营销能力</span>
                </p>
            </td>
            <td height="16" width="132">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">10%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:28px">
            <td height="28" width="138">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">其他</span>
                </p>
            </td>
            <td height="28" width="274">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">企业文化、法律法规、安全生产、通信技术</span>
                </p>
            </td>
            <td height="28" width="132">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">10%</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin-top:10px;text-indent: 24px;line-height:150%">
    <span style="font-size:12px;line-height:150%;">（二）技能实操：</span>
</p>
<p style="margin-bottom:10px;text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;">受操作考试设备及场地限制，各地市可分批开展技能实操考试，覆盖到全员即可。考试题目在题库中随机抽取。技能实操考试满分100分，参评人员可选择相同测试项进行测试，所选部分分值平均分配。</span>
</p>
<table cellpadding="0" cellspacing="0" width="550" border="1" style="border-collapse: collapse;">
    <tbody>
        <tr class="firstRow" style=";height:27px">
            <td height="27" width="114">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">测试项目</span></strong>
                </p>
            </td>
            <td height="27" width="180">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">考核内容</span></strong>
                </p>
            </td>
            <td height="27" width="255">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <strong><span style=";">评分标准</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:44px">
            <td rowspan="2" height="44" width="114">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">打字（必选）</span>
                </p>
            </td>
            <td height="44" width="180">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">汉字输入：预先提供文章范围，考试时随机抽取。</span>
                </p>
            </td>
            <td height="44" width="255">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">分60字/分钟及以上、50-59字/分钟、30-49字/分钟、30字/分钟以下四档，得分值由分公司自行设定</span>
                </p>
            </td>
        </tr>
        <tr style=";height:59px">
            <td height="59" width="180">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">数字跟打：以阿拉伯数字的手机号码为主，6个为一组。</span>
                </p>
            </td>
            <td height="59" width="255">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">分50组/分钟以上、40-49组/分钟以上、30-39组/分钟以上、30组/分钟以下四档，得分值由分公司自行设定</span>
                </p>
            </td>
        </tr>
        <tr style=";height:30px">
            <td height="30" width="114">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">CRM</span><span style=";">系统操作（必选）</span>
                </p>
            </td>
            <td height="30" width="180">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">在指定的时间内完成CRM系统操作（路径查找）</span>
                </p>
            </td>
            <td height="30" width="255">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">根据题量，由分公司设定时间</span>
                </p>
            </td>
        </tr>
        <tr style=";height:30px">
            <td height="30" width="114">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">业务宝典查询（必选）</span>
                </p>
            </td>
            <td height="30" width="180">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">要求在指定的时间内完成业务宝典查询点击测试</span>
                </p>
            </td>
            <td height="30" width="255">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">根据题量，由分公司设定时间</span>
                </p>
            </td>
        </tr>
        <tr style=";height:30px">
            <td height="30" width="114">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">终端操作（可选）</span>
                </p>
            </td>
            <td height="30" width="180">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">终端设置、软件下载、资料备份等</span>
                </p>
            </td>
            <td height="30" width="255">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">根据题量，由分公司设定时间</span>
                </p>
            </td>
        </tr>
        <tr style=";height:44px">
            <td height="44" width="114">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">office</span><span style=";">办公软件操作（可选）</span>
                </p>
            </td>
            <td height="44" width="180">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">完成word/excel简单操作</span>
                </p>
            </td>
            <td height="44" width="255">
                <p style="text-align:center;line-height:normal;vertical-align:auto">
                    <span style=";">根据题量，由分公司设定时间</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">3</span><span style="font-size:12px;line-height:150%;">、面试：</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;font-family: 仿宋_GB2312">仅对评选4-5星级人员开展面试，由地市人力资源部和相关专业评委测评，总分100分。省公司市场部提供基于业务和岗位技能的参评人员面试题库，市分公司可在此基础上扩展。</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;line-height:150%">
    <span style="font-size:12px;line-height:150%;">4</span><span style="font-size: 12px;line-height:150%;">、技能评定计分规则：<br/> （1）1-3星级评定：技能评定得分=技能测试得分=业务知识考试得分*70%+技能实操考核得分*30%；<br/> （2）4-5星级评定：技能评定得分分为技能测试得分（满分100分）和面试得分（满分100分）两项，其中技能测试得分=业务知识考试得分/1.2*70%+技能实操考核得分*30%。</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">三、星级评定技能结果运用</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">（一） 职级设置及分位调整</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">1</span><span style="font-size:12px;line-height:150%;">、营业厅经理：2-6等对应1-5星，2等1星，3等2星，4等3星，5等4星，6等5星。</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">2</span><span style="font-size:12px;line-height:150%;">、营业员：1-5等对应1-5星，1等1星，2等2星，3等3星，4等4星，5等5星。</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">3</span><span style="font-size:12px;line-height:150%;">、每个职级设置50、30、10、0四个绩效分位档级，在每年度例行绩效调整时，根据上一年度绩效结果动态确定，分别为优秀对应50分位，优良对应30分位，良好对应10分位，合格对应0分位。</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">（二） 星级评定方式</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;text-indent:32px;line-height:150%">
    <span style="font-size:12px;line-height:150%;">1-3</span><span style="font-size:12px;line-height:150%;">星级人员的主要评分依据为：绩效得分45%、学历得分15%、技能测试得分40%、突出表现加分(上限10分)、其他加分（上限5分）。4-5星级人员的主要评分依据：绩效得分35%、学历得分15%、技能测试得分25%、面试25%、突出表现加分(上限10分)、其他加分（上限6分）。</span>
</p>
<p style="margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;line-height:150%">
    <span style="font-size:12px;line-height:150%;">（三） 在宽级化职位上的年满45周岁的女员工、年满55周岁的男员工，可不参加星级评定，现职级和对应星级保留至退休，但超过现宽级化职位最高职级且继续在上述职位工作的，个人职级按所在职位最高职级封顶。</span>
</p>
<p>
    <br/>
</p>
		</div>
	</div>
</block>