<div>
	<ul>
		<li><a href="__PUBLIC__/images/营业厅现场管理办法/丽水营业厅现场管理检查办法.docx">丽水营业厅现场管理检查办法</a></li>
		<li><a href="__PUBLIC__/images/营业厅现场管理办法/丽水营业厅现场管理制度.docx">丽水营业厅现场管理制度</a></li>
		<li><a href="__PUBLIC__/images/营业厅现场管理办法/营业厅现场检查表.xlsx">营业厅现场检查表</a></li>
		<li><a href="__PUBLIC__/images/营业厅现场管理办法/营业厅现场走动检查表.xlsx">营业厅现场走动检查表</a></li>
		<li><a href="__PUBLIC__/images/营业厅现场管理办法/营业厅值班日志表.xlsx">营业厅值班日志表</a></li>
	</ul>
</div>
<style type="text/css">
	p span{padding-left: 20px;}
	.xiangqin a{text-decoration: none;color: #000;font-size: 26px;}
	.xiangqin a:hover{color: #0F8EE2;}
</style>