<extend name="pub/main_hr"/>
<block name="title">计件内容</block>
<block name="css">
<style type="text/css">
	table.tableizer-table {
		font-size: 12px;
		border: 1px solid rgb(245, 248, 252); 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid rgb(245, 248, 252);
	}
</style>
</block>
<block name="body">
	<div class="hr_info_title_l">
		<span>营业员计件内容</span>
	</div>
<table class="tableizer-table">
<thead>
<tr>
<th colspan="5" style="font-size: 16px; font-weight: 600; text-align: center;padding-top: 20px;">全市统一量化薪酬销售目录（7月）</th>
</tr>
</thead>
<tbody>
 <tr><td style="width: 100px;">业务类型</td><td style="width: 250px;">业务档次</td><td style="width: 30px;">单价</td><td>取数稽核口径</td><td>备注</td></tr>
 <tr>
	 <td rowspan="8">流量包标准（含量飞享流量包）</td>
	 <td>移动数据流量30元包/手机上网自选30元包 </td>
	 <td>4 </td>
	 <td rowspan="8">"当月办理流量包新增或提档，月初用户状态正常。<br/>针对流量包，要求流量包月费用正常，流量包档次不降低，流量包三级科目月费出账与流量包月费相等，非现场业务全部剔除，同时以下2个条件2选1。<br/>1、同一营业员对同一用户的操作只记最后一笔操作。<br/>2、同一用户的操作只记最后一笔操作。<br/>针对飞享套餐流量模组提档，非现场业务全部剔除。"</td>
	 <td>&nbsp;</td>
 </tr>
 <tr><td>移动数据流量40元包/手机上网自选40元包 </td><td>6 </td><td>&nbsp;</td></tr>
 <tr><td>移动数据流量50元包/手机上网自选50元包 </td><td>8 </td><td>&nbsp;</td></tr>
 <tr><td>移动数据流量70元包/手机上网自选70元包</td><td>10 </td><td>&nbsp;</td></tr>
 <tr><td>移动数据流量100元包/手机上网自选100元包</td><td>12 </td><td>&nbsp;</td></tr>
 <tr><td>移动数据流量130元包/手机上网自选130元包</td><td>12 </td><td>&nbsp;</td></tr>
 <tr><td>移动数据流量180元包/手机上网自选180元包</td><td>12 </td><td>&nbsp;</td></tr>
 <tr><td>移动数据流量280元包/手机上网自选280元包</td><td>12 </td><td>&nbsp;</td></tr>
 <tr>
	 <td rowspan="6">流量包优惠(含飞享加量不加价)</td>
	 <td>移动数据流量30元包</td>
	 <td>2 </td>
	 <td rowspan="6">"当月办理流量包新增或提档，取数时用户状态正常，流量包档次不降低，用户使用流量大于0，非现场业务全部剔除，同时以下2个条件2选1<br/>1、 同一营业员对同一用户的操作只记最后一笔操作<br/>2、 同一用户的操作只记最后一笔操作<br/>针对飞享套餐流量模组提档，非现场业务全部剔除。<br/>针对飞享套餐流量模组50元及以上档次新增，剔除新入网和非现场业务"</td>
	 <td>移动数据流量包5元升至30元加量不加价（营业）600000286017/移动数据流量包10元升至30元加量不加价（营业）600000286026、移动数据流量包20元升至30元加量不加价（营业）600000286029、4G专享标准资费升至30元移动数据流量包加量不加价（营业）600000302727、新入网1元享受30元流量包2个月</td>
 </tr>
 <tr><td>移动数据流量40元包</td><td>3 </td><td>移动数据流量包20元升至40元加量不加价（营业）600000286034</td></tr>
 <tr><td>移动数据流量50元包/飞享手机上网自选50元包 </td><td>5 </td><td>移动数据流量包30元升至50元加量不加价（营业）600000286040、移动数据流量包40元升至50元加量不加价（营业）600000286043、飞享套餐手机上网自选包30元升50元600000278022、飞享套餐手机上网自选包40元升50元600000278045、6个月50元流量产品加量不加价600000373120/600000373126</td></tr>
 <tr><td>移动数据流量70元包/手机上网自选70元包</td><td>7 </td><td>移动数据流量包50元升至70元加量不加价（营业）600000286047、飞享套餐手机上网自选包50元升70元600000278047、6个月70元流量产品加量不加价600000373123/600000373129</td></tr>
 <tr><td>移动数据流量100元包/手机上网自选100元包</td><td>9 </td><td>移动数据流量包50元升至100元加量不加价（营业）600000286050、移动数据流量包70元升至100元加量不加价（营业）600000286053、飞享套餐手机上网自选包70元升100元600000278049</td></tr>
 <tr><td>手机上网自选130元包(4GB)</td><td>9 </td><td>飞享套餐手机上网自选包100元升130元600000278051</td></tr>
 <tr>
	 <td rowspan="6">新入网飞享套餐</td>
	 <td>18≤月费≤28</td>
	 <td>3 </td>
	 <td rowspan="6">"当月办理飞享套餐新增，取数时用户状态正常，下周期仍为飞享套餐，非现场业务全部剔除，同时以下3个条件2选1<br/>1、 套餐月费大于本周期套餐月费<br/>2、 套餐月费不低于本周期套餐月费"</td>
	 <td rowspan="12">剔除预缴飞享套餐手机上网自选包30元升50元600000278022、飞享套餐手机上网自选包40元升50元600000278045、飞享套餐手机上网自选包50元升70元600000278047、飞享套餐手机上网自选包70元升100元600000278049、飞享套餐手机上网自选包100元升130元600000278051</td>
 </tr>
 <tr><td>38≤月费≤48</td><td>9 </td></tr>
 <tr><td>58≤月费＜88</td><td>12 </td></tr>
 <tr><td>88≤月费＜158</td><td>15 </td></tr>
 <tr><td>158≤月费＜298</td><td>18 </td></tr>
 <tr><td>月费≥298</td><td>20 </td></tr>
 <tr>
	 <td rowspan="6">存量飞享套餐迁移</td>
	 <td>18≤月费≤28</td>
	 <td>1 </td>
	 <td rowspan="6">"当月办理非飞享套餐改飞享套餐，取数时用户状态正常，下周期仍为飞享套餐，非现场业务全部剔除，剔除飞享流量加量不加价，同时以下3个条件3选1<br/>1、套餐月费大于本周期套餐月费<br/>2、套餐月费不低于本周期套餐月费"</td>
</tr>
 <tr><td>38≤月费≤48</td><td>2 </td></tr>
 <tr><td>58≤月费＜88</td><td>3 </td></tr>
 <tr><td>88≤月费＜158</td><td>4 </td></tr>
 <tr><td>158≤月费＜298</td><td>5 </td></tr>
 <tr><td>月费≥298</td><td>6 </td></tr>
 <tr>
	 <td rowspan="2">4G终端裸机销售</td>
	 <td>4G转4G客户</td>
	 <td>5 </td>
	 <td rowspan="2">计提终端来源于他营厅终端报表（裸机清单），涉及终端销售员、营业员等不同岗位，将根据报表中的"推荐人"进行计件。非现场业务全部剔除，销售终端对应使用用户最多的号码是否转化成4G客户（有4G流量）</td>
	 <td rowspan="2">裸机送话费：用户新购4G手机且更换4G USIM卡，流量保底30/50元每月，即可享受120/180元话费赠送，赠送话费分6个月返充。同时再可享受6GB分月流量赠送，赠送流量分2个月，每月3GB。且每个用户有效，即终端使用号码为丽水，且当月流量产生大于30M.</td>
 </tr>
 <tr><td>2、3G转4G客户</td><td>20 </td></tr>
 <tr>
 <td rowspan="2">4G终端合约销售</td>
 <td>4G转4G客户</td>
 <td>5 </td>
 <td rowspan="2">计提终端来源于他营厅终端报表（合约清单），非现场业务全部剔除，涉及终端销售员、营业员等不同岗位，将根据报表中的"推荐人"进行计件。取数时用户状态正常，终端捆绑未取消，取相应终端预缴</td>
 <td rowspan="2">"1、99购机：目标客户承诺连续24个月每个消费29/39/58/88元话费并更换4GUSIM卡开通流量包（10/20/30/30元流量包），即可购买大屏4G终端一部，同时再可享受6GB流量赠送，赠送流量分2个月，每月3GB。<br/>2、全省终端合约：客户购买4G终端，可根据自己的消费情况选择对应月消费即可获赠相应的话费，同时再可享受6GB流量赠送，赠送流量分2个月，每月3GB<br/>3、且每个用户有效，即终端使用号码为丽水，且当月流量产生大于30M."</td></tr>
 <tr><td>2、3G转4G客户</td><td>20 </td></tr>
 <tr>
	 <td rowspan="9">宽带/全省宽带优惠</td>
	 <td>包年12M≤宽带＜20M</td>
	 <td>6 </td>
	 <td rowspan="6">宽带新装，剔除校园宽带、CRM上产生成功竣工工单，非现场业务全部剔除</td>
	 <td>&nbsp;</td>
 </tr>
 <tr><td>包年20M≤宽带＜50M</td><td>9 </td><td>&nbsp;</td></tr>
 <tr><td>包年50M及以上</td><td>12 </td><td>&nbsp;</td></tr>
 <tr><td>融合12M≤宽带＜20M</td><td>12 </td><td>&nbsp;</td></tr>
 <tr><td>融合20M≤宽带＜50M</td><td>18 </td><td>&nbsp;</td></tr>
 <tr><td>融合50M及以上</td><td>20 </td><td>&nbsp;</td></tr>
 <tr><td>宽带续包同档</td><td>3</td><td rowspan="2">宽带续包包含包年转包年、包年转融合、融合转包年,剔除校园宽带，非现场业务全部剔除，通过电子渠道办理， 单价为原单价*2</td><td>&nbsp;</td></tr>
 <tr><td>宽带续包提档</td><td>6</td><td>&nbsp;</td></tr>
 <tr><td>宽带电视新增/续包</td><td>5 </td><td>CRM上成功办理工单，非现场业务全部剔除</td><td>&nbsp;</td></tr>
 <tr>
	 <td rowspan="3">两网</td>
	 <td>虚拟网成员增加</td>
	 <td>1 </td>
	 <td>当月办理虚拟网，取数时虚拟网仍存在，办理当月有虚拟网通话，非现场业务全部剔除</td>
	 <td>&nbsp;</td>
</tr>
 <tr><td>亲情网组网</td><td>1 </td><td>首次开通亲情网业务，家庭亲情网组网，办理当月有亲情网通话，非现场业务全部剔除</td><td>&nbsp;</td></tr>
 <tr><td>亲情网成员增加（每人）</td><td>0.2 </td><td>亲情网成员增加，办理当月有亲情网通话，非现场业务全部剔除</td><td>&nbsp;</td></tr>
 <tr>
	 <td>手机营业厅APP</td>
	 <td>注册登录（活跃）</td>
	 <td>1 </td>
	 <td>软件下载后有登录记录，非现场业务全部剔除</td>
	 <td>&nbsp;</td>
 </tr>
 <tr>
	 <td rowspan="2">常规业务</td>
	 <td>实名资料补录</td>
	 <td>1 </td>
	 <td>当月操作实名资料补录，取数时用户状态仍正常，非现场业务全部剔除</td>
	 <td>&nbsp;</td>
 </tr>
 <tr><td>非现场业务</td><td>0.1</td><td>计件业务中所有工单备注A，B</td><td>&nbsp;</td></tr>
 <tr>
	 <td>增值业务</td>
	 <td>新业务包</td>
	 <td>1 </td>
	 <td>新业务包，当月开通新业务6元A/G/J包，次月保持开通状态</td>
	 <td>&nbsp;</td>
 </tr>
 <tr>
	 <td rowspan="3">本地业务</td>
	 <td>4G流量满就送</td>
	 <td>0.5</td>
	 <td>4G流量满就1GB600000349775同时办理4G+自动加油包600000346029，非现场业务全部剔除</td>
	 <td>&nbsp;</td>
 </tr>
 <tr><td>4G终端沉默客户唤醒</td><td>3</td><td>针对目标用户推荐办理4G沉默唤醒优惠（送6GB流量和最高90元话费），成功录入优惠且当月产生4G流量等，非现场业务全部剔除</td><td>&nbsp;</td></tr>
 <tr><td>低流量促销</td><td>0.5</td><td>500M流量欢乐送（6个月）600000367858（检测活动当月流量10M以上）、500M流量欢乐送（2个月）600000367862（检测活动当月流量500M以上）、流量达量送话费标记促销 60000036785，非现场业务全部剔除</td><td>包含沉默客户培育、低流量、低饱合度客户培育活动，其中沉默客户培育活动检查活动当月流量达到10M以上；低流量客户活动当月流量使用达到500M以上；</td></tr>
</tbody></table>
</block>