<extend name="pub/main_hr"/>
<block name="title">准入退出管理机制</block>

<block name="body">
	<div class="hr_info_title_l">
		<span>准入退出管理机制</span>
	</div>
	<p style="margin: 10px 0px 10px 28px;">
	    <strong><span style="font-family:;">1.</span><span style="font-family:;">准入退出机制</span></strong>
	</p>
	<p style="text-indent: 28px;">
	    <span style="font-family: 宋体;">准入条件：公司最近两年内新招聘的员工，或近三年平均绩效良好及以上的在岗员工。平均绩效按以下转换方式计算：优秀</span><span style="font-family: Calibri;">=1.1</span><span style="font-family: 宋体;">、优良</span><span style="font-family: Calibri;">=1.05</span><span style="font-family: 宋体;">、良好</span><span style="font-family: Calibri;">=1</span><span style="font-family: 宋体;">、合格</span><span style="font-family: Calibri;">=0.9</span><span style="font-family: 宋体;">、欠佳</span><span style="font-family: Calibri;">=0.8</span><span style="font-family: 宋体;">，平均绩效</span><span style="font-family: Calibri;">=</span><span style="font-family: 宋体;">三年绩效之和</span><span style="font-family: Calibri;">/3</span><span style="font-family: 宋体;">。</span>
	</p>
	<p style="text-indent: 28px;">
	    <span style="font-family: 宋体;">退出机制：满足以下任一条件的视为无法胜任综合维护岗位工作，需做降低职等或转岗处理，转岗后新岗位职等目标不得超过现有职等。</span>
	</p>
	<p style="text-indent: 28px;">
	    <span style="font-family: Calibri;">1</span><span style="font-family: 宋体;">）连续</span><span style="font-family: Calibri;">2</span><span style="font-family: 宋体;">个统计周期岗位知识积分为</span><span style="font-family: Calibri;">0</span><span style="font-family: 宋体;">分的，需参加额外的认证考试，在认证考试中达不到</span><span style="font-family: Calibri;">60</span><span style="font-family: 宋体;">分的。</span>
	</p>
	<p style="text-indent: 28px;">
	    <span style="font-family: Calibri;">2</span><span style="font-family: 宋体;">）连续</span><span style="font-family: Calibri;">2</span><span style="font-family: 宋体;">次年度积分排名最后两名的。</span>
	</p>
	<p style="margin: 0px 0px 10px; text-indent: 28px;">
	    <span style="font-family: 宋体;">&nbsp;&nbsp;&nbsp;当首次满足退出条件的，综合维护主管下一年度目标职等降为</span><span style="font-family: Calibri;">6</span><span style="font-family: 宋体;">等，综合维护员下一年度目标岗降为</span><span style="font-family: Calibri;">5</span><span style="font-family: 宋体;">岗；连续两次满足退出条件的，需进行转岗，转岗后新岗位目标职等不得高于现有岗位目标职等。</span>
	</p>
</block>