<extend name="pub/main_hr"/>
<block name="title">岗位职责</block>

<block name="body">
	<div class="hr_info_title_l">
		<span>岗位职责</span>
	</div>
	<p style="margin: 10px 0px 10px; text-indent: 0px;">
	    <strong><span style="font-family: 宋体;">综合维护主管:</span></strong>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">1</span><span style="font-family: 宋体;">、负责无线、传输、动环网络规划和落实；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">2</span><span style="font-family: 宋体;">、负责市公司无线网络优化方案的配合、实施；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">3</span><span style="font-family: 宋体;">、负责无线、传输、动环相关指标的落实和跟踪；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">4</span><span style="font-family: 宋体;">、落实县公司无线基站机房的管理，机房扩容、新建、整改等工程随工；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">5</span><span style="font-family: 宋体;">、负责管理当地无线、传输代维队伍；负责按需工单派发、验收及工作量确认；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">6</span><span style="font-family: 宋体;">、电源设备周期性维护，容量预警管理，动环设备新建、改造扩容；负责电费审核；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">7</span><span style="font-family: 宋体;">、负责指挥保障大型活动应急通信，应急抢修；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">8</span><span style="font-family: 宋体;">、负责无线、传输、动环相关物资管理；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">9</span><span style="font-family: 宋体;">、上报各类数据、专业报表、报告和调度单等；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">10</span><span style="font-family: 宋体;">、完成领导交办的其它任务。</span>
	</p>
	<p style="margin: 0px 0px 10px; text-indent: 0px;">
	    <strong><span style="font-family: 宋体;">综合维护(无线):</span></strong>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">1</span><span style="font-family: 宋体;">、负责无线网络优化方案实施、测试及问题整改；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">2</span><span style="font-family: 宋体;">、负责基站维护管理；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">3</span><span style="font-family: 宋体;">、落实县公司备品备件设备管理；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">4</span><span style="font-family: 宋体;">、落实县公司无线通信保障；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">5</span><span style="font-family: 宋体;">、落实县公司无线网络投诉处理。</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">6</span><span style="font-family: 宋体;">、代维按需工单派发、验收及工作量确认；发电工单判定</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">7</span><span style="font-family: 宋体;">、对代维工作质量进行现场抽查；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">8</span><span style="font-family: 宋体;">、负责动环设备周期性维护、日常巡检、应急抢修，以及新建、改造扩容等工程随工、机房上下电、容量预警等工作；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">9</span><span style="font-family: 宋体;">、负责电费管理，电费洽谈与协议签订、电度抄表、数据录入、电费结算、异常数据分析整改等；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">10</span><span style="font-family: 宋体;">、负责无线代维人员资质和人员管理；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">11</span><span style="font-family: 宋体;">、配合工程开展交维质量验收；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">12</span><span style="font-family: 宋体;">、做好代维物资和备件管理；</span>
	</p>
	<p style="margin: 0px 0px 10px; text-indent: 0px;">
	    <strong><span style="font-family: 宋体;">综合维护(传输):</span></strong>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">1</span><span style="font-family: 宋体;">、负责传输设备工程建设、扩容、优化工作；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">2</span><span style="font-family: 宋体;">、配合管理各项传输设备需要考核的性能、告警等各类指标；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">3</span><span style="font-family: 宋体;">、完成管线维护管理，进行规范检查；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">4</span><span style="font-family: 宋体;">、班组工作规范性管理、质量管理和安全管理；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">5</span><span style="font-family: 宋体;">、负责各种工单处理；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">6</span><span style="font-family: 宋体;">、管理公司物资；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">7</span><span style="font-family: 宋体;">、负责开展传输网络规划与优化工作；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">8</span><span style="font-family: 宋体;">、按时上报各类数据、专业报表、报告和调度单等；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">9</span><span style="font-family: 宋体;">、代维按需工单派发、验收及工作量确认；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">10</span><span style="font-family: 宋体;">、每月根据市公司下发清单进行按需工单现场检查；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">11</span><span style="font-family: 宋体;">、负责传输代维人员资质和人员管理；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">12</span><span style="font-family: 宋体;">、配合工程开展传输线路交维质量验收；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">13</span><span style="font-family: 宋体;">、做好代维物资和备件管理；</span>
	</p>
	<p style="margin: 0px 20px 10px; line-height: normal; text-indent: 0px;">
	    <span style="font-family: Calibri;">14</span><span style="font-family: 宋体;">、负责县公司线路迁移修缮管理工作；</span>
	</p>
</block>