<extend name="pub/main_hr"/>

<block name="title">能力测试报告</block>
<block name="body">
<div class="model">
	<div>
		<div class="hr_info_title_l">
			<span>公告信息</span>
		</div>

		<table width="100%" cellspacing="1" cellpadding="0" class="tit">
		<tr>
			<td>融合客户经理、销售经理、项目经理能力测试评估主页</td>
		</tr>
		<tr>
			<td>营业员相关信息正在开发中，请关注后续公告</td>
		</tr>
		</table>

	</div>
</div>

<div class="model" style="display:none;">
	<div>
		<div class="hr_info_title_l">
			<span>公告信息</span>
		</div>
	</div>
</div>
</block>