<extend name="./base"/>
<block name="title">日常运维管理平台 | 投诉处理记录表</block>
<block name="css">
<style>
  body{background-color: #efefef;}
  .form{width:880px;margin-left:auto;margin-right:auto;}
  textarea{
    width:735px;
    min-height:100px;
  }
  .tj{
    margin-left:20px;
  }
</style>
</block>
<block name="wrapper">
<nav class="nav" role="navigation">
  <div class="container-fluid bg-default">
    <div class="navbar">
      <a class="titleName" href="{:U('Index/onlinei')}">丽水日常运维管理平台</a>
      <div style="position:fixed;top:0;right:15px;color:#fff;"><?php echo session('user_auth.OA');?></div>
    </div>
  </div>
</nav>

<div class="wrapper container-fluid">
  <div class="form">
    <table>
      <thead>
        <tr>
        <th colspan="6">上线类</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="label" style="width:120px">编号</td>
          <td style="width:170px">{$online['ID']}</td>
          <td class="label" style="width:120px">上线名称</td>
          <td style="width:170px">{$online['ONLINE_NAME']}</td>
          <td class="label" style="width:120px">记录人</td>
          <td style="width:170px">{$online['OPER_NAME']}</td> 
        </tr>

        <tr>
          <td class="label">附件</td>
          <td colspan="5"><a href="{$path}{$online['FILE_NEW_NAME']}" target="_blank">{$online['FILE_OLD_NAME']}</a></td>
        </tr>

        <tr>
          <td class="label">上线具体内容</td>
          <td colspan="5"><pre style="width:850px;word-break:break-all;word-wrap:break-word">{$online['CONTENT']}</pre></td>
        </tr>

        <tr>
          <td class="label">备注</td>
          <td colspan="5">{$online['REMARK']}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</block>